<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/category-bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{127,77}</string>
			<key>spriteSourceSize</key>
			<string>{127,77}</string>
			<key>textureRect</key>
			<string>{{490,130},{127,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/category-dot.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,77}</string>
			<key>spriteSourceSize</key>
			<string>{77,77}</string>
			<key>textureRect</key>
			<string>{{619,130},{77,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/changelog.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,51}</string>
			<key>spriteSourceSize</key>
			<string>{40,51}</string>
			<key>textureRect</key>
			<string>{{3651,130},{40,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/close.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{3693,130},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/delete-white.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,50}</string>
			<key>spriteSourceSize</key>
			<string>{35,50}</string>
			<key>textureRect</key>
			<string>{{3745,130},{35,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/double-nav.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,-5.50}</string>
			<key>spriteSize</key>
			<string>{88,119}</string>
			<key>spriteSourceSize</key>
			<string>{88,119}</string>
			<key>textureRect</key>
			<string>{{1821,0},{88,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/download.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{85,97}</string>
			<key>spriteSourceSize</key>
			<string>{85,97}</string>
			<key>textureRect</key>
			<string>{{2129,0},{85,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/exclamation-red.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,57}</string>
			<key>spriteSourceSize</key>
			<string>{28,57}</string>
			<key>textureRect</key>
			<string>{{2963,130},{28,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/exclamation.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,60}</string>
			<key>spriteSourceSize</key>
			<string>{19,60}</string>
			<key>textureRect</key>
			<string>{{2707,130},{19,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/external-link.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{2510,130},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/file-add.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{95,120}</string>
			<key>spriteSourceSize</key>
			<string>{95,120}</string>
			<key>textureRect</key>
			<string>{{70,0},{95,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/file.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,59}</string>
			<key>spriteSourceSize</key>
			<string>{47,59}</string>
			<key>textureRect</key>
			<string>{{2852,130},{47,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-list-side.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{4,60}</string>
			<key>spriteSourceSize</key>
			<string>{4,60}</string>
			<key>textureRect</key>
			<string>{{4089,0},{4,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-list-top.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{687,32}</string>
			<key>spriteSourceSize</key>
			<string>{687,32}</string>
			<key>textureRect</key>
			<string>{{343,210},{687,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/gift.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{2728,130},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/github.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{2790,130},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/globe.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,90}</string>
			<key>spriteSourceSize</key>
			<string>{90,90}</string>
			<key>textureRect</key>
			<string>{{2216,0},{90,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/grid-view.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,46}</string>
			<key>textureRect</key>
			<string>{{3982,130},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/homepage.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-0.50}</string>
			<key>spriteSize</key>
			<string>{60,59}</string>
			<key>spriteSourceSize</key>
			<string>{60,59}</string>
			<key>textureRect</key>
			<string>{{2901,130},{60,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/hue-sliders.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{87,88}</string>
			<key>spriteSourceSize</key>
			<string>{87,88}</string>
			<key>textureRect</key>
			<string>{{2308,0},{87,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/info-alert.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,46}</string>
			<key>textureRect</key>
			<string>{{4030,130},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/info-warning.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{57,49}</string>
			<key>spriteSourceSize</key>
			<string>{57,49}</string>
			<key>textureRect</key>
			<string>{{3816,130},{57,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/install.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,-0.50}</string>
			<key>spriteSize</key>
			<string>{39,45}</string>
			<key>spriteSourceSize</key>
			<string>{39,45}</string>
			<key>textureRect</key>
			<string>{{0,210},{39,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/message.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,56}</string>
			<key>spriteSourceSize</key>
			<string>{60,56}</string>
			<key>textureRect</key>
			<string>{{3132,130},{60,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-bottom-gd.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{778,70}</string>
			<key>spriteSourceSize</key>
			<string>{778,70}</string>
			<key>textureRect</key>
			<string>{{950,130},{778,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-bottom.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{778,70}</string>
			<key>spriteSourceSize</key>
			<string>{778,70}</string>
			<key>textureRect</key>
			<string>{{1730,130},{778,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-side-gd.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,128}</string>
			<key>spriteSourceSize</key>
			<string>{33,128}</string>
			<key>textureRect</key>
			<string>{{0,0},{33,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-side.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,128}</string>
			<key>spriteSourceSize</key>
			<string>{33,128}</string>
			<key>textureRect</key>
			<string>{{35,0},{33,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-top-gd.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{825,120}</string>
			<key>spriteSourceSize</key>
			<string>{825,120}</string>
			<key>textureRect</key>
			<string>{{167,0},{825,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-top.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{825,120}</string>
			<key>spriteSourceSize</key>
			<string>{825,120}</string>
			<key>textureRect</key>
			<string>{{994,0},{825,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/news.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,47}</string>
			<key>spriteSourceSize</key>
			<string>{41,47}</string>
			<key>textureRect</key>
			<string>{{3939,130},{41,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/persistent.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0.50}</string>
			<key>spriteSize</key>
			<string>{62,49}</string>
			<key>spriteSourceSize</key>
			<string>{62,49}</string>
			<key>textureRect</key>
			<string>{{3875,130},{62,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reload.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,57}</string>
			<key>spriteSourceSize</key>
			<string>{64,57}</string>
			<key>textureRect</key>
			<string>{{2993,130},{64,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reset-gold.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,2.50}</string>
			<key>spriteSize</key>
			<string>{55,53}</string>
			<key>spriteSourceSize</key>
			<string>{55,53}</string>
			<key>textureRect</key>
			<string>{{3537,130},{55,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reset.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,2.50}</string>
			<key>spriteSize</key>
			<string>{55,53}</string>
			<key>spriteSourceSize</key>
			<string>{55,53}</string>
			<key>textureRect</key>
			<string>{{3594,130},{55,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/save.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{3481,130},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/search.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{104,106}</string>
			<key>spriteSourceSize</key>
			<string>{104,106}</string>
			<key>textureRect</key>
			<string>{{2023,0},{104,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/settings.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,63}</string>
			<key>spriteSourceSize</key>
			<string>{63,63}</string>
			<key>textureRect</key>
			<string>{{2642,130},{63,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tab-bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,110}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{1911,0},{110,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-api.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{2397,0},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-featured.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{2485,0},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-joke.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{2573,0},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-long.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0}</string>
			<key>spriteSize</key>
			<string>{350,78}</string>
			<key>spriteSourceSize</key>
			<string>{350,78}</string>
			<key>textureRect</key>
			<string>{{2661,0},{350,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-winner-long.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{282,78}</string>
			<key>spriteSourceSize</key>
			<string>{282,78}</string>
			<key>textureRect</key>
			<string>{{3013,0},{282,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-winner.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{3297,0},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{3385,0},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-long.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0}</string>
			<key>spriteSize</key>
			<string>{350,78}</string>
			<key>spriteSourceSize</key>
			<string>{350,78}</string>
			<key>textureRect</key>
			<string>{{3473,0},{350,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-winner-long.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0}</string>
			<key>spriteSize</key>
			<string>{282,78}</string>
			<key>spriteSourceSize</key>
			<string>{282,78}</string>
			<key>textureRect</key>
			<string>{{0,130},{282,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-winner.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{3825,0},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{3913,0},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-paid-long.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{204,78}</string>
			<key>spriteSourceSize</key>
			<string>{204,78}</string>
			<key>textureRect</key>
			<string>{{284,130},{204,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-paid.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{4001,0},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/update.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,57}</string>
			<key>spriteSourceSize</key>
			<string>{71,57}</string>
			<key>textureRect</key>
			<string>{{3059,130},{71,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-available.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,55}</string>
			<key>spriteSourceSize</key>
			<string>{55,55}</string>
			<key>textureRect</key>
			<string>{{3310,130},{55,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-failed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,56}</string>
			<key>spriteSourceSize</key>
			<string>{56,56}</string>
			<key>textureRect</key>
			<string>{{3194,130},{56,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-installed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,56}</string>
			<key>spriteSourceSize</key>
			<string>{56,56}</string>
			<key>textureRect</key>
			<string>{{3252,130},{56,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_LB_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,-0.25}</string>
			<key>spriteSize</key>
			<string>{58,41}</string>
			<key>spriteSourceSize</key>
			<string>{58,41}</string>
			<key>textureRect</key>
			<string>{{41,210},{58,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_LT_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,-0.25}</string>
			<key>spriteSize</key>
			<string>{58,41}</string>
			<key>spriteSourceSize</key>
			<string>{58,41}</string>
			<key>textureRect</key>
			<string>{{101,210},{58,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_RB_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,-0.25}</string>
			<key>spriteSize</key>
			<string>{58,41}</string>
			<key>spriteSourceSize</key>
			<string>{58,41}</string>
			<key>textureRect</key>
			<string>{{161,210},{58,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_RT_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,-0.25}</string>
			<key>spriteSize</key>
			<string>{58,41}</string>
			<key>spriteSourceSize</key>
			<string>{58,41}</string>
			<key>textureRect</key>
			<string>{{221,210},{58,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/download-mods-here.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0}</string>
			<key>spriteSize</key>
			<string>{250,72}</string>
			<key>spriteSourceSize</key>
			<string>{250,72}</string>
			<key>textureRect</key>
			<string>{{698,130},{250,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/keybinds.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{60,41}</string>
			<key>spriteSourceSize</key>
			<string>{60,41}</string>
			<key>textureRect</key>
			<string>{{281,210},{60,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/pin.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{2576,130},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-deprecated.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,55}</string>
			<key>spriteSourceSize</key>
			<string>{55,55}</string>
			<key>textureRect</key>
			<string>{{3367,130},{55,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-multiple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,55}</string>
			<key>spriteSourceSize</key>
			<string>{55,55}</string>
			<key>textureRect</key>
			<string>{{3424,130},{55,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/version.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,50}</string>
			<key>spriteSourceSize</key>
			<string>{32,50}</string>
			<key>textureRect</key>
			<string>{{3782,130},{32,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/APISheet-hd.png</string>
		<key>size</key>
		<string>{4093,255}</string>
		<key>textureFileName</key>
		<string>geode.loader/APISheet-hd.png</string>
	</dict>
</dict>
</plist>