<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>geode.loader/baseAccount_Normal_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{84,82}</string>
    <key>spriteSourceSize</key>
    <string>{86,83}</string>
    <key>textureRect</key>
    <string>{{407,809},{84,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseAccount_Normal_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{84,82}</string>
    <key>spriteSourceSize</key>
    <string>{86,83}</string>
    <key>textureRect</key>
    <string>{{570,697},{84,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseAccount_Normal_Purple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{84,82}</string>
    <key>spriteSourceSize</key>
    <string>{86,83}</string>
    <key>textureRect</key>
    <string>{{842,340},{84,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCategory_Big_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-5}</string>
    <key>spriteSize</key>
    <string>{199,198}</string>
    <key>spriteSourceSize</key>
    <string>{209,208}</string>
    <key>textureRect</key>
    <string>{{2,212},{199,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_BigAlt_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{106,110}</string>
    <key>spriteSourceSize</key>
    <string>{112,122}</string>
    <key>textureRect</key>
    <string>{{525,137},{106,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{106,110}</string>
    <key>spriteSourceSize</key>
    <string>{112,122}</string>
    <key>textureRect</key>
    <string>{{2,571},{106,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_BigAlt_DarkAqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{106,110}</string>
    <key>spriteSourceSize</key>
    <string>{112,122}</string>
    <key>textureRect</key>
    <string>{{525,249},{106,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_BigAlt_DarkPurple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{106,110}</string>
    <key>spriteSourceSize</key>
    <string>{112,122}</string>
    <key>textureRect</key>
    <string>{{369,479},{106,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_BigAlt_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{106,110}</string>
    <key>spriteSourceSize</key>
    <string>{112,122}</string>
    <key>textureRect</key>
    <string>{{525,361},{106,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_BigAlt_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{106,110}</string>
    <key>spriteSourceSize</key>
    <string>{112,122}</string>
    <key>textureRect</key>
    <string>{{633,137},{106,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_BigAlt_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{106,110}</string>
    <key>spriteSourceSize</key>
    <string>{112,122}</string>
    <key>textureRect</key>
    <string>{{660,2},{106,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_BigAlt_Red.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{106,110}</string>
    <key>spriteSourceSize</key>
    <string>{112,122}</string>
    <key>textureRect</key>
    <string>{{213,637},{106,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Big_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{106,107}</string>
    <key>spriteSourceSize</key>
    <string>{108,113}</string>
    <key>textureRect</key>
    <string>{{585,479},{106,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Big_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{106,107}</string>
    <key>spriteSourceSize</key>
    <string>{108,113}</string>
    <key>textureRect</key>
    <string>{{477,588},{106,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Big_DarkAqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{106,107}</string>
    <key>spriteSourceSize</key>
    <string>{108,113}</string>
    <key>textureRect</key>
    <string>{{477,479},{106,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Big_DarkPurple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{106,107}</string>
    <key>spriteSourceSize</key>
    <string>{108,113}</string>
    <key>textureRect</key>
    <string>{{633,249},{106,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Big_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{106,107}</string>
    <key>spriteSourceSize</key>
    <string>{108,113}</string>
    <key>textureRect</key>
    <string>{{2,683},{106,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Big_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{106,107}</string>
    <key>spriteSourceSize</key>
    <string>{108,113}</string>
    <key>textureRect</key>
    <string>{{369,591},{106,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Big_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{106,107}</string>
    <key>spriteSourceSize</key>
    <string>{108,113}</string>
    <key>textureRect</key>
    <string>{{741,137},{106,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Big_Red.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{106,107}</string>
    <key>spriteSourceSize</key>
    <string>{108,113}</string>
    <key>textureRect</key>
    <string>{{633,358},{106,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Large_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{154,157}</string>
    <key>spriteSourceSize</key>
    <string>{160,167}</string>
    <key>textureRect</key>
    <string>{{2,412},{154,157}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Large_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{154,157}</string>
    <key>spriteSourceSize</key>
    <string>{160,167}</string>
    <key>textureRect</key>
    <string>{{369,320},{154,157}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Large_DarkAqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{154,157}</string>
    <key>spriteSourceSize</key>
    <string>{160,167}</string>
    <key>textureRect</key>
    <string>{{213,2},{154,157}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Large_DarkPurple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{154,157}</string>
    <key>spriteSourceSize</key>
    <string>{160,167}</string>
    <key>textureRect</key>
    <string>{{369,161},{154,157}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Large_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{154,157}</string>
    <key>spriteSourceSize</key>
    <string>{160,167}</string>
    <key>textureRect</key>
    <string>{{213,320},{154,157}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Large_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{154,157}</string>
    <key>spriteSourceSize</key>
    <string>{160,167}</string>
    <key>textureRect</key>
    <string>{{369,2},{154,157}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Large_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{154,157}</string>
    <key>spriteSourceSize</key>
    <string>{160,167}</string>
    <key>textureRect</key>
    <string>{{213,161},{154,157}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Large_Red.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{154,156}</string>
    <key>spriteSourceSize</key>
    <string>{160,167}</string>
    <key>textureRect</key>
    <string>{{213,479},{154,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{99,101}</string>
    <key>spriteSourceSize</key>
    <string>{105,114}</string>
    <key>textureRect</key>
    <string>{{110,571},{99,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{99,101}</string>
    <key>spriteSourceSize</key>
    <string>{105,114}</string>
    <key>textureRect</key>
    <string>{{110,674},{99,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_MediumAlt_DarkAqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{99,101}</string>
    <key>spriteSourceSize</key>
    <string>{105,114}</string>
    <key>textureRect</key>
    <string>{{741,246},{99,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_MediumAlt_DarkPurple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{99,101}</string>
    <key>spriteSourceSize</key>
    <string>{105,114}</string>
    <key>textureRect</key>
    <string>{{110,777},{99,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{99,101}</string>
    <key>spriteSourceSize</key>
    <string>{105,114}</string>
    <key>textureRect</key>
    <string>{{2,792},{99,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_MediumAlt_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{99,101}</string>
    <key>spriteSourceSize</key>
    <string>{105,114}</string>
    <key>textureRect</key>
    <string>{{741,349},{99,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{99,101}</string>
    <key>spriteSourceSize</key>
    <string>{105,114}</string>
    <key>textureRect</key>
    <string>{{585,588},{99,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_MediumAlt_Red.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{99,101}</string>
    <key>spriteSourceSize</key>
    <string>{105,114}</string>
    <key>textureRect</key>
    <string>{{213,809},{99,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Medium_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{91,92}</string>
    <key>spriteSourceSize</key>
    <string>{93,98}</string>
    <key>textureRect</key>
    <string>{{110,880},{91,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Medium_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{91,92}</string>
    <key>spriteSourceSize</key>
    <string>{93,98}</string>
    <key>textureRect</key>
    <string>{{693,479},{91,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Medium_DarkAqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{91,92}</string>
    <key>spriteSourceSize</key>
    <string>{93,98}</string>
    <key>textureRect</key>
    <string>{{477,697},{91,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Medium_DarkPurple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{91,92}</string>
    <key>spriteSourceSize</key>
    <string>{93,98}</string>
    <key>textureRect</key>
    <string>{{849,137},{91,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Medium_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{91,92}</string>
    <key>spriteSourceSize</key>
    <string>{93,98}</string>
    <key>textureRect</key>
    <string>{{314,809},{91,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Medium_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{91,92}</string>
    <key>spriteSourceSize</key>
    <string>{93,98}</string>
    <key>textureRect</key>
    <string>{{842,246},{91,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Medium_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{91,92}</string>
    <key>spriteSourceSize</key>
    <string>{93,98}</string>
    <key>textureRect</key>
    <string>{{693,573},{91,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Medium_Red.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{91,92}</string>
    <key>spriteSourceSize</key>
    <string>{93,98}</string>
    <key>textureRect</key>
    <string>{{2,895},{91,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{81,83}</string>
    <key>spriteSourceSize</key>
    <string>{83,88}</string>
    <key>textureRect</key>
    <string>{{314,903},{81,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{81,83}</string>
    <key>spriteSourceSize</key>
    <string>{83,88}</string>
    <key>textureRect</key>
    <string>{{656,697},{81,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_SmallAlt_DarkAqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{81,83}</string>
    <key>spriteSourceSize</key>
    <string>{83,88}</string>
    <key>textureRect</key>
    <string>{{786,564},{81,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_SmallAlt_DarkPurple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{81,83}</string>
    <key>spriteSourceSize</key>
    <string>{83,88}</string>
    <key>textureRect</key>
    <string>{{407,893},{81,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{81,83}</string>
    <key>spriteSourceSize</key>
    <string>{83,88}</string>
    <key>textureRect</key>
    <string>{{928,340},{81,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_SmallAlt_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{81,83}</string>
    <key>spriteSourceSize</key>
    <string>{83,88}</string>
    <key>textureRect</key>
    <string>{{786,479},{81,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{81,83}</string>
    <key>spriteSourceSize</key>
    <string>{83,88}</string>
    <key>textureRect</key>
    <string>{{213,912},{81,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_SmallAlt_Red.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{81,83}</string>
    <key>spriteSourceSize</key>
    <string>{83,88}</string>
    <key>textureRect</key>
    <string>{{493,809},{81,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Small_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{75,76}</string>
    <key>spriteSourceSize</key>
    <string>{77,82}</string>
    <key>textureRect</key>
    <string>{{739,697},{75,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Small_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{75,76}</string>
    <key>spriteSourceSize</key>
    <string>{77,82}</string>
    <key>textureRect</key>
    <string>{{656,782},{75,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Small_DarkAqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{75,76}</string>
    <key>spriteSourceSize</key>
    <string>{77,82}</string>
    <key>textureRect</key>
    <string>{{493,894},{75,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Small_DarkPurple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{75,76}</string>
    <key>spriteSourceSize</key>
    <string>{77,82}</string>
    <key>textureRect</key>
    <string>{{576,887},{75,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Small_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{75,76}</string>
    <key>spriteSourceSize</key>
    <string>{77,82}</string>
    <key>textureRect</key>
    <string>{{869,557},{75,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Small_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{75,76}</string>
    <key>spriteSourceSize</key>
    <string>{77,82}</string>
    <key>textureRect</key>
    <string>{{869,479},{75,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Small_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{75,76}</string>
    <key>spriteSourceSize</key>
    <string>{77,82}</string>
    <key>textureRect</key>
    <string>{{576,809},{75,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Small_Red.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{75,75}</string>
    <key>spriteSourceSize</key>
    <string>{77,82}</string>
    <key>textureRect</key>
    <string>{{739,775},{75,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Tiny_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{51,53}</string>
    <key>spriteSourceSize</key>
    <string>{53,58}</string>
    <key>textureRect</key>
    <string>{{158,412},{51,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Tiny_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{51,53}</string>
    <key>spriteSourceSize</key>
    <string>{53,58}</string>
    <key>textureRect</key>
    <string>{{158,467},{51,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Tiny_DarkAqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{51,53}</string>
    <key>spriteSourceSize</key>
    <string>{53,58}</string>
    <key>textureRect</key>
    <string>{{399,749},{51,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Tiny_DarkPurple.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{51,53}</string>
    <key>spriteSourceSize</key>
    <string>{53,58}</string>
    <key>textureRect</key>
    <string>{{842,424},{51,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Tiny_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{51,53}</string>
    <key>spriteSourceSize</key>
    <string>{53,58}</string>
    <key>textureRect</key>
    <string>{{110,974},{51,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Tiny_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{51,53}</string>
    <key>spriteSourceSize</key>
    <string>{53,58}</string>
    <key>textureRect</key>
    <string>{{954,57},{51,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Tiny_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{51,53}</string>
    <key>spriteSourceSize</key>
    <string>{53,58}</string>
    <key>textureRect</key>
    <string>{{954,2},{51,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCircle_Tiny_Red.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{51,52}</string>
    <key>spriteSourceSize</key>
    <string>{53,58}</string>
    <key>textureRect</key>
    <string>{{928,425},{51,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCross_Huge_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-5}</string>
    <key>spriteSize</key>
    <string>{209,208}</string>
    <key>spriteSourceSize</key>
    <string>{229,229}</string>
    <key>textureRect</key>
    <string>{{2,2},{209,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseCross_Small_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{133,133}</string>
    <key>spriteSourceSize</key>
    <string>{147,147}</string>
    <key>textureRect</key>
    <string>{{525,2},{133,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Aqua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{65,66}</string>
    <key>spriteSourceSize</key>
    <string>{67,72}</string>
    <key>textureRect</key>
    <string>{{942,137},{65,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{64,66}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{576,965},{64,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_BrightGreen.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{64,66}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{882,697},{64,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Cyan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{64,66}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{656,928},{64,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_DarkGray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{64,66}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{816,833},{64,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_DimGreen.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{64,66}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{882,765},{64,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{64,66}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{722,928},{64,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Green.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{64,66}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{882,833},{64,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_LightBlue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{64,66}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{816,901},{64,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Magenta.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{64,66}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{882,901},{64,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Orange.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{64,66}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{816,697},{64,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Pink.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{64,66}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{656,860},{64,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Salmon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{64,66}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{816,765},{64,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseEditor_Normal_Teal.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{64,66}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{722,860},{64,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseIconSelect_Normal_Selected.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{63,64}</string>
    <key>spriteSourceSize</key>
    <string>{67,71}</string>
    <key>textureRect</key>
    <string>{{946,479},{63,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{63,64}</string>
    <key>spriteSourceSize</key>
    <string>{67,71}</string>
    <key>textureRect</key>
    <string>{{946,545},{63,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{68,66}</string>
    <key>spriteSourceSize</key>
    <string>{72,68}</string>
    <key>textureRect</key>
    <string>{{935,246},{68,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseTab_Normal_Selected.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{184,58}</string>
    <key>spriteSourceSize</key>
    <string>{184,64}</string>
    <key>textureRect</key>
    <string>{{213,749},{184,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseTab_Normal_Unselected.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{184,61}</string>
    <key>spriteSourceSize</key>
    <string>{184,64}</string>
    <key>textureRect</key>
    <string>{{768,2},{184,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{184,61}</string>
    <key>spriteSourceSize</key>
    <string>{184,64}</string>
    <key>textureRect</key>
    <string>{{768,65},{184,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1013,1035}</string>
   <key>textureFileName</key>
   <string>geode.loader/BlankSheet-hd.png</string>
  </dict>
 </dict>
</plist>
