<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/baseAccount_Normal_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-0.50}</string>
			<key>spriteSize</key>
			<string>{83,81}</string>
			<key>spriteSourceSize</key>
			<string>{83,81}</string>
			<key>textureRect</key>
			<string>{{945,210},{83,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-0.50}</string>
			<key>spriteSize</key>
			<string>{83,81}</string>
			<key>spriteSourceSize</key>
			<string>{83,81}</string>
			<key>textureRect</key>
			<string>{{1030,210},{83,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Purple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-0.50}</string>
			<key>spriteSize</key>
			<string>{83,81}</string>
			<key>spriteSourceSize</key>
			<string>{83,81}</string>
			<key>textureRect</key>
			<string>{{1115,210},{83,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCategory_Big_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-5}</string>
			<key>spriteSize</key>
			<string>{197,197}</string>
			<key>spriteSourceSize</key>
			<string>{197,197}</string>
			<key>textureRect</key>
			<string>{{210,0},{197,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-3}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{1621,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-3}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{1728,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-3}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{1835,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-3}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{1942,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-3}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{2049,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-3}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{2156,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-3}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{2263,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{2370,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{2477,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{2584,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{2691,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{2798,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{2905,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{3012,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{152,155}</string>
			<key>textureRect</key>
			<string>{{409,0},{152,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{152,155}</string>
			<key>textureRect</key>
			<string>{{563,0},{152,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{152,155}</string>
			<key>textureRect</key>
			<string>{{717,0},{152,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{152,155}</string>
			<key>textureRect</key>
			<string>{{871,0},{152,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{152,155}</string>
			<key>textureRect</key>
			<string>{{1025,0},{152,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{152,155}</string>
			<key>textureRect</key>
			<string>{{1179,0},{152,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{152,155}</string>
			<key>textureRect</key>
			<string>{{1333,0},{152,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-3.50}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{97,101}</string>
			<key>textureRect</key>
			<string>{{3119,0},{97,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-3.50}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{97,101}</string>
			<key>textureRect</key>
			<string>{{3218,0},{97,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-3.50}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{97,101}</string>
			<key>textureRect</key>
			<string>{{3317,0},{97,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-3.50}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{97,101}</string>
			<key>textureRect</key>
			<string>{{3416,0},{97,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-3.50}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{97,101}</string>
			<key>textureRect</key>
			<string>{{3515,0},{97,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-3.50}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{97,101}</string>
			<key>textureRect</key>
			<string>{{3614,0},{97,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-3.50}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{97,101}</string>
			<key>textureRect</key>
			<string>{{3713,0},{97,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{3812,0},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{3903,0},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{3994,0},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{0,210},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{91,210},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{182,210},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{273,210},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{364,210},{81,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{447,210},{81,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{530,210},{81,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{613,210},{81,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{696,210},{81,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{779,210},{81,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{862,210},{81,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{1200,210},{74,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{1276,210},{74,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{1352,210},{74,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{1428,210},{74,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{1504,210},{74,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{1580,210},{74,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{1656,210},{74,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{51,52}</string>
			<key>textureRect</key>
			<string>{{3411,210},{51,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{51,52}</string>
			<key>textureRect</key>
			<string>{{3464,210},{51,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{51,52}</string>
			<key>textureRect</key>
			<string>{{3517,210},{51,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{51,52}</string>
			<key>textureRect</key>
			<string>{{3570,210},{51,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{51,52}</string>
			<key>textureRect</key>
			<string>{{3623,210},{51,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{51,52}</string>
			<key>textureRect</key>
			<string>{{3676,210},{51,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{51,52}</string>
			<key>textureRect</key>
			<string>{{3729,210},{51,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCross_Huge_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-5.50}</string>
			<key>spriteSize</key>
			<string>{208,208}</string>
			<key>spriteSourceSize</key>
			<string>{208,208}</string>
			<key>textureRect</key>
			<string>{{0,0},{208,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCross_Small_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-3.50}</string>
			<key>spriteSize</key>
			<string>{132,132}</string>
			<key>spriteSourceSize</key>
			<string>{132,132}</string>
			<key>textureRect</key>
			<string>{{1487,0},{132,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Aqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{1732,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{1798,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_BrightGreen.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{1864,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{1930,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DarkGray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{1996,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DimGreen.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2062,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2128,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2194,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_LightBlue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2260,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Magenta.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2326,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Orange.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2392,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2458,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Salmon.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2524,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Teal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2590,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{62,63}</string>
			<key>spriteSourceSize</key>
			<string>{62,63}</string>
			<key>textureRect</key>
			<string>{{2725,210},{62,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{62,63}</string>
			<key>spriteSourceSize</key>
			<string>{62,63}</string>
			<key>textureRect</key>
			<string>{{2789,210},{62,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-0.50}</string>
			<key>spriteSize</key>
			<string>{67,65}</string>
			<key>spriteSourceSize</key>
			<string>{67,65}</string>
			<key>textureRect</key>
			<string>{{2656,210},{67,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,57}</string>
			<key>spriteSourceSize</key>
			<string>{184,57}</string>
			<key>textureRect</key>
			<string>{{3225,210},{184,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Unselected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1.50}</string>
			<key>spriteSize</key>
			<string>{184,60}</string>
			<key>spriteSourceSize</key>
			<string>{184,60}</string>
			<key>textureRect</key>
			<string>{{2853,210},{184,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1.50}</string>
			<key>spriteSize</key>
			<string>{184,60}</string>
			<key>spriteSourceSize</key>
			<string>{184,60}</string>
			<key>textureRect</key>
			<string>{{3039,210},{184,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/BlankSheet-hd.png</string>
		<key>size</key>
		<string>{4083,301}</string>
		<key>textureFileName</key>
		<string>geode.loader/BlankSheet-hd.png</string>
	</dict>
</dict>
</plist>