<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>GJ_challengeBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-11}</string>
    <key>spriteSize</key>
    <string>{396,396}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2,874},{396,396}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_createBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-11}</string>
    <key>spriteSize</key>
    <string>{396,396}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{858,553},{396,396}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_creatorBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-7}</string>
    <key>spriteSize</key>
    <string>{266,265}</string>
    <key>spriteSourceSize</key>
    <string>{280,280}</string>
    <key>textureRect</key>
    <string>{{2052,155},{266,265}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_dailyBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-11}</string>
    <key>spriteSize</key>
    <string>{396,396}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1256,155},{396,396}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_eventBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-11}</string>
    <key>spriteSize</key>
    <string>{396,396}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{2,1272},{396,396}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_featuredBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-11}</string>
    <key>spriteSize</key>
    <string>{396,396}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1256,553},{396,396}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_freeLevelsBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-7}</string>
    <key>spriteSize</key>
    <string>{262,247}</string>
    <key>spriteSourceSize</key>
    <string>{266,262}</string>
    <key>textureRect</key>
    <string>{{1932,820},{262,247}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_fullBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-7}</string>
    <key>spriteSize</key>
    <string>{318,265}</string>
    <key>spriteSourceSize</key>
    <string>{322,280}</string>
    <key>textureRect</key>
    <string>{{460,1747},{318,265}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_gauntletsBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-11}</string>
    <key>spriteSize</key>
    <string>{396,396}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1256,951},{396,396}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_highscoreBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-11}</string>
    <key>spriteSize</key>
    <string>{396,396}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{858,1349},{396,396}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_listsBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-11}</string>
    <key>spriteSize</key>
    <string>{396,396}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1654,155},{396,396}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_mapBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-11}</string>
    <key>spriteSize</key>
    <string>{396,396}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{460,155},{396,396}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_mapPacksBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-11}</string>
    <key>spriteSize</key>
    <string>{396,396}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{460,1349},{396,396}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_moreGamesBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-7}</string>
    <key>spriteSize</key>
    <string>{326,265}</string>
    <key>spriteSourceSize</key>
    <string>{330,280}</string>
    <key>textureRect</key>
    <string>{{1654,553},{326,265}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_pathsBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-11}</string>
    <key>spriteSize</key>
    <string>{396,396}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{858,951},{396,396}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_playBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,-11}</string>
    <key>spriteSize</key>
    <string>{418,416}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{2,456},{418,416}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_safeBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{174,189}</string>
    <key>spriteSourceSize</key>
    <string>{174,196}</string>
    <key>textureRect</key>
    <string>{{789,2172},{174,189}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_savedBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-11}</string>
    <key>spriteSize</key>
    <string>{396,396}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{460,951},{396,396}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_searchBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-11}</string>
    <key>spriteSize</key>
    <string>{396,396}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{858,155},{396,396}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_versusBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-11}</string>
    <key>spriteSize</key>
    <string>{396,396}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{460,553},{396,396}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_weeklyBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-11}</string>
    <key>spriteSize</key>
    <string>{395,396}</string>
    <key>spriteSourceSize</key>
    <string>{417,418}</string>
    <key>textureRect</key>
    <string>{{2,1670},{395,396}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_01_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,164}</string>
    <key>spriteSourceSize</key>
    <string>{128,164}</string>
    <key>textureRect</key>
    <string>{{1639,2096},{128,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_02_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{122,216}</string>
    <key>spriteSourceSize</key>
    <string>{122,216}</string>
    <key>textureRect</key>
    <string>{{1102,1747},{122,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_03_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,216}</string>
    <key>spriteSourceSize</key>
    <string>{192,216}</string>
    <key>textureRect</key>
    <string>{{1782,1789},{192,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_04_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,216}</string>
    <key>spriteSourceSize</key>
    <string>{250,216}</string>
    <key>textureRect</key>
    <string>{{1932,1313},{250,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_05_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{254,206}</string>
    <key>spriteSourceSize</key>
    <string>{256,206}</string>
    <key>textureRect</key>
    <string>{{1526,1789},{254,206}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_dailyCrown_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-8}</string>
    <key>spriteSize</key>
    <string>{327,217}</string>
    <key>spriteSourceSize</key>
    <string>{331,238}</string>
    <key>textureRect</key>
    <string>{{460,2014},{327,217}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_eventCrown_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-7}</string>
    <key>spriteSize</key>
    <string>{320,233}</string>
    <key>spriteSourceSize</key>
    <string>{322,252}</string>
    <key>textureRect</key>
    <string>{{780,1747},{320,233}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_weeklyCrown_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{327,219}</string>
    <key>spriteSourceSize</key>
    <string>{331,238}</string>
    <key>textureRect</key>
    <string>{{1982,553},{327,219}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,3}</string>
    <key>spriteSize</key>
    <string>{176,174}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{965,2172},{176,174}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_002.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,8}</string>
    <key>spriteSize</key>
    <string>{234,216}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{1932,1531},{234,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_003.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,11}</string>
    <key>spriteSize</key>
    <string>{246,242}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{1932,1069},{246,242}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_004.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,8}</string>
    <key>spriteSize</key>
    <string>{252,252}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{1654,1366},{252,252}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_005.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,8}</string>
    <key>spriteSize</key>
    <string>{258,256}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{2,2068},{258,256}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_006.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,7}</string>
    <key>spriteSize</key>
    <string>{268,268}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{1256,1623},{268,268}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_007.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,7}</string>
    <key>spriteSize</key>
    <string>{276,272}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{1654,820},{276,272}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_008.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,7}</string>
    <key>spriteSize</key>
    <string>{280,272}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{1256,1349},{280,272}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_009.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,7}</string>
    <key>spriteSize</key>
    <string>{276,270}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{1654,1094},{276,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_01_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-44,0}</string>
    <key>spriteSize</key>
    <string>{61,286}</string>
    <key>spriteSourceSize</key>
    <string>{149,287}</string>
    <key>textureRect</key>
    <string>{{2262,1808},{61,286}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_01_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{58,286}</string>
    <key>spriteSourceSize</key>
    <string>{62,287}</string>
    <key>textureRect</key>
    <string>{{400,874},{58,286}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_02_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-47,0}</string>
    <key>spriteSize</key>
    <string>{78,288}</string>
    <key>spriteSourceSize</key>
    <string>{172,288}</string>
    <key>textureRect</key>
    <string>{{2055,1789},{78,288}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_02_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,0}</string>
    <key>spriteSize</key>
    <string>{116,332}</string>
    <key>spriteSourceSize</key>
    <string>{144,332}</string>
    <key>textureRect</key>
    <string>{{2196,1474},{116,332}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_03_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-18,0}</string>
    <key>spriteSize</key>
    <string>{162,288}</string>
    <key>spriteSourceSize</key>
    <string>{198,288}</string>
    <key>textureRect</key>
    <string>{{262,2068},{162,288}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_03_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{18,-1}</string>
    <key>spriteSize</key>
    <string>{140,354}</string>
    <key>spriteSourceSize</key>
    <string>{176,356}</string>
    <key>textureRect</key>
    <string>{{2196,820},{140,354}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_04_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-44,0}</string>
    <key>spriteSize</key>
    <string>{90,292}</string>
    <key>spriteSourceSize</key>
    <string>{178,301}</string>
    <key>textureRect</key>
    <string>{{1782,2007},{90,292}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_04_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,0}</string>
    <key>spriteSize</key>
    <string>{77,346}</string>
    <key>spriteSourceSize</key>
    <string>{99,347}</string>
    <key>textureRect</key>
    <string>{{1976,1789},{77,346}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_05_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-18,-6}</string>
    <key>spriteSize</key>
    <string>{96,267}</string>
    <key>spriteSourceSize</key>
    <string>{132,280}</string>
    <key>textureRect</key>
    <string>{{1538,1349},{96,267}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_05_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,296}</string>
    <key>spriteSourceSize</key>
    <string>{132,296}</string>
    <key>textureRect</key>
    <string>{{2196,1176},{132,296}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_06_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-47,0}</string>
    <key>spriteSize</key>
    <string>{78,288}</string>
    <key>spriteSourceSize</key>
    <string>{172,288}</string>
    <key>textureRect</key>
    <string>{{1874,2007},{78,288}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_06_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-11,0}</string>
    <key>spriteSize</key>
    <string>{64,349}</string>
    <key>spriteSourceSize</key>
    <string>{86,350}</string>
    <key>textureRect</key>
    <string>{{2196,1808},{64,349}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,1}</string>
    <key>spriteSize</key>
    <string>{848,74}</string>
    <key>spriteSourceSize</key>
    <string>{884,84}</string>
    <key>textureRect</key>
    <string>{{789,2096},{848,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_002.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-15,1}</string>
    <key>spriteSize</key>
    <string>{788,80}</string>
    <key>spriteSourceSize</key>
    <string>{884,84}</string>
    <key>textureRect</key>
    <string>{{789,2014},{788,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_003.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-121,2}</string>
    <key>spriteSize</key>
    <string>{600,74}</string>
    <key>spriteSourceSize</key>
    <string>{884,84}</string>
    <key>textureRect</key>
    <string>{{1604,2},{600,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_004.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-187,3}</string>
    <key>spriteSize</key>
    <string>{476,72}</string>
    <key>spriteSourceSize</key>
    <string>{884,84}</string>
    <key>textureRect</key>
    <string>{{1604,78},{476,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_005.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-218,3}</string>
    <key>spriteSize</key>
    <string>{418,70}</string>
    <key>spriteSourceSize</key>
    <string>{884,84}</string>
    <key>textureRect</key>
    <string>{{1143,2172},{418,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_006.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-286,5}</string>
    <key>spriteSize</key>
    <string>{282,68}</string>
    <key>spriteSourceSize</key>
    <string>{884,84}</string>
    <key>textureRect</key>
    <string>{{2052,422},{282,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_007.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-315,4}</string>
    <key>spriteSize</key>
    <string>{232,68}</string>
    <key>spriteSourceSize</key>
    <string>{884,84}</string>
    <key>textureRect</key>
    <string>{{2082,78},{232,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_008.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-392,7}</string>
    <key>spriteSize</key>
    <string>{86,60}</string>
    <key>spriteSourceSize</key>
    <string>{884,84}</string>
    <key>textureRect</key>
    <string>{{2206,2},{86,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>theTowerDoor_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-3}</string>
    <key>spriteSize</key>
    <string>{456,452}</string>
    <key>spriteSourceSize</key>
    <string>{464,458}</string>
    <key>textureRect</key>
    <string>{{2,2},{456,452}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>theTowerLabel_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-6}</string>
    <key>spriteSize</key>
    <string>{356,164}</string>
    <key>spriteSourceSize</key>
    <string>{368,176}</string>
    <key>textureRect</key>
    <string>{{1526,1623},{356,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>weeklyLevelsLabel_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-4}</string>
    <key>spriteSize</key>
    <string>{1142,151}</string>
    <key>spriteSourceSize</key>
    <string>{1152,160}</string>
    <key>textureRect</key>
    <string>{{460,2},{1142,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{2365,2365}</string>
   <key>textureFileName</key>
   <string>GJ_GameSheet04-uhd.png</string>
  </dict>
 </dict>
</plist>
