<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>GJ_challengeBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{101,100}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{226,2},{101,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_createBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{101,100}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{2,260},{101,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_creatorBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{68,67}</string>
    <key>spriteSourceSize</key>
    <string>{70,70}</string>
    <key>textureRect</key>
    <string>{{2,533},{68,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_dailyBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{101,100}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{105,260},{101,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_eventBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{101,100}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{208,260},{101,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_featuredBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{101,100}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{329,104},{101,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_freeLevelsBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{67,63}</string>
    <key>spriteSourceSize</key>
    <string>{67,66}</string>
    <key>textureRect</key>
    <string>{{535,71},{67,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_fullBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{80,67}</string>
    <key>spriteSourceSize</key>
    <string>{80,70}</string>
    <key>textureRect</key>
    <string>{{2,464},{80,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_gauntletsBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{101,100}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{105,362},{101,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_highscoreBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{101,100}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{329,206},{101,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_listsBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{101,100}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{208,362},{101,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_mapBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{101,100}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{432,2},{101,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_mapPacksBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{101,100}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{2,158},{101,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_moreGamesBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{82,67}</string>
    <key>spriteSourceSize</key>
    <string>{82,70}</string>
    <key>textureRect</key>
    <string>{{329,308},{82,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_pathsBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{101,100}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{2,362},{101,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_playBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{106,105}</string>
    <key>spriteSourceSize</key>
    <string>{110,110}</string>
    <key>textureRect</key>
    <string>{{118,2},{106,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_safeBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{43,48}</string>
    <key>spriteSourceSize</key>
    <string>{43,49}</string>
    <key>textureRect</key>
    <string>{{510,464},{43,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_savedBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{101,100}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{329,2},{101,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_searchBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{101,100}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{208,158},{101,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_versusBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{101,100}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{105,158},{101,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_weeklyBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{100,100}</string>
    <key>spriteSourceSize</key>
    <string>{104,105}</string>
    <key>textureRect</key>
    <string>{{432,104},{100,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_01_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,41}</string>
    <key>spriteSourceSize</key>
    <string>{32,41}</string>
    <key>textureRect</key>
    <string>{{308,561},{32,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_02_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,54}</string>
    <key>spriteSourceSize</key>
    <string>{30,54}</string>
    <key>textureRect</key>
    <string>{{467,540},{30,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_03_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,54}</string>
    <key>spriteSourceSize</key>
    <string>{48,54}</string>
    <key>textureRect</key>
    <string>{{460,464},{48,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_04_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,54}</string>
    <key>spriteSourceSize</key>
    <string>{62,54}</string>
    <key>textureRect</key>
    <string>{{517,276},{62,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_05_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,52}</string>
    <key>spriteSourceSize</key>
    <string>{64,52}</string>
    <key>textureRect</key>
    <string>{{308,507},{64,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_dailyCrown_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{83,56}</string>
    <key>spriteSourceSize</key>
    <string>{83,60}</string>
    <key>textureRect</key>
    <string>{{329,377},{83,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_eventCrown_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{80,59}</string>
    <key>spriteSourceSize</key>
    <string>{80,63}</string>
    <key>textureRect</key>
    <string>{{156,464},{80,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_weeklyCrown_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{83,56}</string>
    <key>spriteSourceSize</key>
    <string>{83,60}</string>
    <key>textureRect</key>
    <string>{{432,276},{83,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,1}</string>
    <key>spriteSize</key>
    <string>{46,44}</string>
    <key>spriteSourceSize</key>
    <string>{70,72}</string>
    <key>textureRect</key>
    <string>{{237,557},{46,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_002.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,2}</string>
    <key>spriteSize</key>
    <string>{58,54}</string>
    <key>spriteSourceSize</key>
    <string>{70,72}</string>
    <key>textureRect</key>
    <string>{{400,464},{58,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_003.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,2}</string>
    <key>spriteSize</key>
    <string>{62,61}</string>
    <key>spriteSourceSize</key>
    <string>{70,72}</string>
    <key>textureRect</key>
    <string>{{535,136},{62,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_004.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,2}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{70,72}</string>
    <key>textureRect</key>
    <string>{{504,206},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_005.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,2}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{70,72}</string>
    <key>textureRect</key>
    <string>{{432,334},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_006.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{70,72}</string>
    <key>textureRect</key>
    <string>{{535,2},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_007.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,2}</string>
    <key>spriteSize</key>
    <string>{68,68}</string>
    <key>spriteSourceSize</key>
    <string>{70,72}</string>
    <key>textureRect</key>
    <string>{{238,464},{68,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_008.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{70,68}</string>
    <key>spriteSourceSize</key>
    <string>{70,72}</string>
    <key>textureRect</key>
    <string>{{432,206},{70,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_009.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{70,68}</string>
    <key>spriteSourceSize</key>
    <string>{70,72}</string>
    <key>textureRect</key>
    <string>{{84,464},{70,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_01_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-11,0}</string>
    <key>spriteSize</key>
    <string>{15,72}</string>
    <key>spriteSourceSize</key>
    <string>{37,72}</string>
    <key>textureRect</key>
    <string>{{311,232},{15,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_01_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,72}</string>
    <key>spriteSourceSize</key>
    <string>{15,72}</string>
    <key>textureRect</key>
    <string>{{311,158},{15,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_02_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-11,0}</string>
    <key>spriteSize</key>
    <string>{21,72}</string>
    <key>spriteSourceSize</key>
    <string>{43,72}</string>
    <key>textureRect</key>
    <string>{{581,455},{21,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_02_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{30,83}</string>
    <key>spriteSourceSize</key>
    <string>{36,83}</string>
    <key>textureRect</key>
    <string>{{400,520},{30,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_03_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,0}</string>
    <key>spriteSize</key>
    <string>{41,72}</string>
    <key>spriteSourceSize</key>
    <string>{49,72}</string>
    <key>textureRect</key>
    <string>{{536,334},{41,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_03_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{36,89}</string>
    <key>spriteSourceSize</key>
    <string>{44,89}</string>
    <key>textureRect</key>
    <string>{{498,334},{36,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_04_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,0}</string>
    <key>spriteSize</key>
    <string>{24,74}</string>
    <key>spriteSourceSize</key>
    <string>{44,76}</string>
    <key>textureRect</key>
    <string>{{374,507},{24,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_04_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{20,87}</string>
    <key>spriteSourceSize</key>
    <string>{24,87}</string>
    <key>textureRect</key>
    <string>{{581,276},{20,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_05_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-1}</string>
    <key>spriteSize</key>
    <string>{25,67}</string>
    <key>spriteSourceSize</key>
    <string>{33,70}</string>
    <key>textureRect</key>
    <string>{{570,206},{25,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_05_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,74}</string>
    <key>spriteSourceSize</key>
    <string>{33,74}</string>
    <key>textureRect</key>
    <string>{{432,520},{33,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_06_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-11,0}</string>
    <key>spriteSize</key>
    <string>{21,72}</string>
    <key>spriteSourceSize</key>
    <string>{43,72}</string>
    <key>textureRect</key>
    <string>{{581,529},{21,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_06_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{17,88}</string>
    <key>spriteSourceSize</key>
    <string>{21,88}</string>
    <key>textureRect</key>
    <string>{{581,365},{17,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{213,19}</string>
    <key>spriteSourceSize</key>
    <string>{221,21}</string>
    <key>textureRect</key>
    <string>{{329,435},{213,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_002.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,0}</string>
    <key>spriteSize</key>
    <string>{197,21}</string>
    <key>spriteSourceSize</key>
    <string>{221,21}</string>
    <key>textureRect</key>
    <string>{{84,534},{197,21}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_003.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-31,0}</string>
    <key>spriteSize</key>
    <string>{151,19}</string>
    <key>spriteSourceSize</key>
    <string>{221,21}</string>
    <key>textureRect</key>
    <string>{{84,557},{151,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_004.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-47,0}</string>
    <key>spriteSize</key>
    <string>{121,18}</string>
    <key>spriteSourceSize</key>
    <string>{221,21}</string>
    <key>textureRect</key>
    <string>{{84,578},{121,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_005.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-55,0}</string>
    <key>spriteSize</key>
    <string>{105,18}</string>
    <key>spriteSourceSize</key>
    <string>{221,21}</string>
    <key>textureRect</key>
    <string>{{467,520},{105,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_006.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-72,1}</string>
    <key>spriteSize</key>
    <string>{73,17}</string>
    <key>spriteSourceSize</key>
    <string>{221,21}</string>
    <key>textureRect</key>
    <string>{{499,540},{73,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_007.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-79,1}</string>
    <key>spriteSize</key>
    <string>{59,17}</string>
    <key>spriteSourceSize</key>
    <string>{221,21}</string>
    <key>textureRect</key>
    <string>{{432,400},{59,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_008.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-98,2}</string>
    <key>spriteSize</key>
    <string>{23,15}</string>
    <key>spriteSourceSize</key>
    <string>{221,21}</string>
    <key>textureRect</key>
    <string>{{290,118},{23,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>theTowerDoor_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{114,114}</string>
    <key>spriteSourceSize</key>
    <string>{116,115}</string>
    <key>textureRect</key>
    <string>{{2,2},{114,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>theTowerLabel_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{90,41}</string>
    <key>spriteSourceSize</key>
    <string>{92,44}</string>
    <key>textureRect</key>
    <string>{{308,464},{90,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>weeklyLevelsLabel_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{286,38}</string>
    <key>spriteSourceSize</key>
    <string>{288,40}</string>
    <key>textureRect</key>
    <string>{{2,118},{286,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{607,607}</string>
   <key>textureFileName</key>
   <string>GJ_GameSheet04.png</string>
  </dict>
 </dict>
</plist>
