<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocos2DxLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{180,48}</string>
				<key>spriteSourceSize</key>
				<string>{180,48}</string>
				<key>textureRect</key>
				<string>{{370,100},{180,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fmodLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{180,47}</string>
				<key>spriteSourceSize</key>
				<string>{180,47}</string>
				<key>textureRect</key>
				<string>{{551,100},{180,47}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_lite_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{180,61}</string>
				<key>spriteSourceSize</key>
				<string>{180,62}</string>
				<key>textureRect</key>
				<string>{{618,148},{180,61}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_logo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{853,99}</string>
				<key>spriteSourceSize</key>
				<string>{858,104}</string>
				<key>textureRect</key>
				<string>{{0,0},{853,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_md_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{369,72}</string>
				<key>spriteSourceSize</key>
				<string>{374,77}</string>
				<key>textureRect</key>
				<string>{{0,100},{369,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_subzeroLogo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{326,80}</string>
				<key>spriteSourceSize</key>
				<string>{331,85}</string>
				<key>textureRect</key>
				<string>{{0,173},{326,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_worldLogo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{268,79}</string>
				<key>spriteSourceSize</key>
				<string>{273,84}</string>
				<key>textureRect</key>
				<string>{{0,254},{268,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>RobTopLogoBig_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{290,32}</string>
				<key>spriteSourceSize</key>
				<string>{300,300}</string>
				<key>textureRect</key>
				<string>{{327,173},{290,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_LaunchSheet-hd.png</string>
			<key>size</key>
			<string>{853,333}</string>
			<key>textureFileName</key>
			<string>GJ_LaunchSheet-hd.png</string>
		</dict>
	</dict>
</plist>