<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_lite_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{180,62}</string>
			<key>spriteSourceSize</key>
			<string>{180,62}</string>
			<key>textureRect</key>
			<string>{{1,1},{180,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_logo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{858,104}</string>
			<key>spriteSourceSize</key>
			<string>{858,104}</string>
			<key>textureRect</key>
			<string>{{182,1},{858,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_md_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{374,77}</string>
			<key>spriteSourceSize</key>
			<string>{374,77}</string>
			<key>textureRect</key>
			<string>{{1041,1},{374,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>RobTopLogoBig_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{294,105}</string>
			<key>spriteSourceSize</key>
			<string>{294,105}</string>
			<key>textureRect</key>
			<string>{{1416,1},{294,105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cocos2DxLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{180,48}</string>
			<key>spriteSourceSize</key>
			<string>{180,48}</string>
			<key>textureRect</key>
			<string>{{1711,1},{180,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fmodLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{180,48}</string>
			<key>spriteSourceSize</key>
			<string>{180,48}</string>
			<key>textureRect</key>
			<string>{{1892,1},{180,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_subzeroLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{331,85}</string>
			<key>spriteSourceSize</key>
			<string>{331,85}</string>
			<key>textureRect</key>
			<string>{{2073,1},{331,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_worldLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{274,84}</string>
			<key>spriteSourceSize</key>
			<string>{274,84}</string>
			<key>textureRect</key>
			<string>{{2405,1},{274,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_LaunchSheet-hd.png</string>
		<key>size</key>
		<string>{4800,4800}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d9a2bdb9b147a86a5561c4b136da3686:9737e1697d60d2bcce9bc8e9ea35e108:7d5c3afd3b92bdb6b931d2f277b34c00$</string>
		<key>textureFileName</key>
		<string>GJ_LaunchSheet-hd.png</string>
	</dict>
</dict>
</plist>
