<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>GJ_lite_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-4}</string>
    <key>spriteSize</key>
    <string>{354,116}</string>
    <key>spriteSourceSize</key>
    <string>{360,124}</string>
    <key>textureRect</key>
    <string>{{738,310},{354,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_logo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,49}</string>
    <key>spriteSize</key>
    <string>{1702,306}</string>
    <key>spriteSourceSize</key>
    <string>{1716,1716}</string>
    <key>textureRect</key>
    <string>{{2,2},{1702,306}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_md_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-7}</string>
    <key>spriteSize</key>
    <string>{734,139}</string>
    <key>spriteSourceSize</key>
    <string>{748,154}</string>
    <key>textureRect</key>
    <string>{{2,310},{734,139}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RobTopLogoBig_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{574,59}</string>
    <key>spriteSourceSize</key>
    <string>{600,600}</string>
    <key>textureRect</key>
    <string>{{652,607},{574,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cocos2DxLogo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{360,96}</string>
    <key>spriteSourceSize</key>
    <string>{360,96}</string>
    <key>textureRect</key>
    <string>{{1094,310},{360,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>fmodLogo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{360,95}</string>
    <key>spriteSourceSize</key>
    <string>{360,95}</string>
    <key>textureRect</key>
    <string>{{1187,451},{360,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_subzeroLogo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-7}</string>
    <key>spriteSize</key>
    <string>{648,155}</string>
    <key>spriteSourceSize</key>
    <string>{662,170}</string>
    <key>textureRect</key>
    <string>{{2,451},{648,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_worldLogo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-7}</string>
    <key>spriteSize</key>
    <string>{533,154}</string>
    <key>spriteSourceSize</key>
    <string>{547,168}</string>
    <key>textureRect</key>
    <string>{{652,451},{533,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1708,670}</string>
   <key>textureFileName</key>
   <string>GJ_LaunchSheet-uhd.png</string>
  </dict>
 </dict>
</plist>
