<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>GJ_lite_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{178,58}</string>
    <key>spriteSourceSize</key>
    <string>{180,62}</string>
    <key>textureRect</key>
    <string>{{372,157},{178,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_logo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,24}</string>
    <key>spriteSize</key>
    <string>{852,153}</string>
    <key>spriteSourceSize</key>
    <string>{858,858}</string>
    <key>textureRect</key>
    <string>{{2,2},{852,153}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_md_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-3}</string>
    <key>spriteSize</key>
    <string>{368,70}</string>
    <key>spriteSourceSize</key>
    <string>{374,77}</string>
    <key>textureRect</key>
    <string>{{2,157},{368,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RobTopLogoBig_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{288,30}</string>
    <key>spriteSourceSize</key>
    <string>{300,300}</string>
    <key>textureRect</key>
    <string>{{552,157},{288,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cocos2DxLogo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{180,48}</string>
    <key>spriteSourceSize</key>
    <string>{180,48}</string>
    <key>textureRect</key>
    <string>{{598,229},{180,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>fmodLogo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{180,47}</string>
    <key>spriteSourceSize</key>
    <string>{180,47}</string>
    <key>textureRect</key>
    <string>{{598,279},{180,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_subzeroLogo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-3}</string>
    <key>spriteSize</key>
    <string>{325,78}</string>
    <key>spriteSourceSize</key>
    <string>{331,85}</string>
    <key>textureRect</key>
    <string>{{2,229},{325,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_worldLogo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-3}</string>
    <key>spriteSize</key>
    <string>{267,77}</string>
    <key>spriteSourceSize</key>
    <string>{273,84}</string>
    <key>textureRect</key>
    <string>{{329,229},{267,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{858,330}</string>
   <key>textureFileName</key>
   <string>GJ_LaunchSheet-hd.png</string>
  </dict>
 </dict>
</plist>
