<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>chestPlatform_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-5}</string>
    <key>spriteSize</key>
    <string>{310,62}</string>
    <key>spriteSourceSize</key>
    <string>{318,72}</string>
    <key>textureRect</key>
    <string>{{600,234},{310,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chestSpecial_01_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{218,66}</string>
    <key>spriteSourceSize</key>
    <string>{218,66}</string>
    <key>textureRect</key>
    <string>{{1912,110},{218,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chestSpecial_02_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{218,66}</string>
    <key>spriteSourceSize</key>
    <string>{218,66}</string>
    <key>textureRect</key>
    <string>{{1912,178},{218,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chestSpecial_03_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{218,66}</string>
    <key>spriteSourceSize</key>
    <string>{218,66}</string>
    <key>textureRect</key>
    <string>{{1912,246},{218,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_03_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{218,66}</string>
    <key>spriteSourceSize</key>
    <string>{218,66}</string>
    <key>textureRect</key>
    <string>{{912,234},{218,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{218,66}</string>
    <key>spriteSourceSize</key>
    <string>{218,66}</string>
    <key>textureRect</key>
    <string>{{1472,110},{218,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_05_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{218,66}</string>
    <key>spriteSourceSize</key>
    <string>{218,66}</string>
    <key>textureRect</key>
    <string>{{1472,178},{218,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_06_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{218,66}</string>
    <key>spriteSourceSize</key>
    <string>{218,66}</string>
    <key>textureRect</key>
    <string>{{1472,246},{218,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_07_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{218,66}</string>
    <key>spriteSourceSize</key>
    <string>{218,66}</string>
    <key>textureRect</key>
    <string>{{1692,110},{218,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_08_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{218,66}</string>
    <key>spriteSourceSize</key>
    <string>{218,66}</string>
    <key>textureRect</key>
    <string>{{1692,178},{218,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_09_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{218,66}</string>
    <key>spriteSourceSize</key>
    <string>{218,66}</string>
    <key>textureRect</key>
    <string>{{1692,246},{218,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tier1label_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-8}</string>
    <key>spriteSize</key>
    <string>{290,95}</string>
    <key>spriteSourceSize</key>
    <string>{304,112}</string>
    <key>textureRect</key>
    <string>{{308,234},{290,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tier2label_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-8}</string>
    <key>spriteSize</key>
    <string>{304,95}</string>
    <key>spriteSourceSize</key>
    <string>{320,112}</string>
    <key>textureRect</key>
    <string>{{2,234},{304,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>treasureRoomGround_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{2136,106}</string>
    <key>spriteSourceSize</key>
    <string>{2136,106}</string>
    <key>textureRect</key>
    <string>{{2,2},{2136,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>treasureRoomLabel_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-9}</string>
    <key>spriteSize</key>
    <string>{1230,122}</string>
    <key>spriteSourceSize</key>
    <string>{1246,140}</string>
    <key>textureRect</key>
    <string>{{2,110},{1230,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>treasureRoomSpiderweb_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{236,234}</string>
    <key>spriteSourceSize</key>
    <string>{240,236}</string>
    <key>textureRect</key>
    <string>{{1234,110},{236,234}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{2142,348}</string>
   <key>textureFileName</key>
   <string>TreasureRoomSheet-uhd.png</string>
  </dict>
 </dict>
</plist>
