<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>chestPlatform_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{155,31}</string>
    <key>spriteSourceSize</key>
    <string>{159,36}</string>
    <key>textureRect</key>
    <string>{{304,120},{155,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chestSpecial_01_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{109,33}</string>
    <key>spriteSourceSize</key>
    <string>{109,33}</string>
    <key>textureRect</key>
    <string>{{961,57},{109,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chestSpecial_02_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{109,33}</string>
    <key>spriteSourceSize</key>
    <string>{109,33}</string>
    <key>textureRect</key>
    <string>{{961,92},{109,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chestSpecial_03_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{109,33}</string>
    <key>spriteSourceSize</key>
    <string>{109,33}</string>
    <key>textureRect</key>
    <string>{{961,127},{109,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_03_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{109,33}</string>
    <key>spriteSourceSize</key>
    <string>{109,33}</string>
    <key>textureRect</key>
    <string>{{461,120},{109,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{109,33}</string>
    <key>spriteSourceSize</key>
    <string>{109,33}</string>
    <key>textureRect</key>
    <string>{{739,57},{109,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_05_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{109,33}</string>
    <key>spriteSourceSize</key>
    <string>{109,33}</string>
    <key>textureRect</key>
    <string>{{739,92},{109,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_06_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{109,33}</string>
    <key>spriteSourceSize</key>
    <string>{109,33}</string>
    <key>textureRect</key>
    <string>{{739,127},{109,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_07_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{109,33}</string>
    <key>spriteSourceSize</key>
    <string>{109,33}</string>
    <key>textureRect</key>
    <string>{{850,57},{109,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_08_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{109,33}</string>
    <key>spriteSourceSize</key>
    <string>{109,33}</string>
    <key>textureRect</key>
    <string>{{850,92},{109,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_09_price_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{109,33}</string>
    <key>spriteSourceSize</key>
    <string>{109,33}</string>
    <key>textureRect</key>
    <string>{{850,127},{109,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tier1label_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-4}</string>
    <key>spriteSize</key>
    <string>{146,48}</string>
    <key>spriteSourceSize</key>
    <string>{152,56}</string>
    <key>textureRect</key>
    <string>{{156,120},{146,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tier2label_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{152,48}</string>
    <key>spriteSourceSize</key>
    <string>{160,56}</string>
    <key>textureRect</key>
    <string>{{2,120},{152,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>treasureRoomGround_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1068,53}</string>
    <key>spriteSourceSize</key>
    <string>{1068,53}</string>
    <key>textureRect</key>
    <string>{{2,2},{1068,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>treasureRoomLabel_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{615,61}</string>
    <key>spriteSourceSize</key>
    <string>{623,70}</string>
    <key>textureRect</key>
    <string>{{2,57},{615,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>treasureRoomSpiderweb_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{118,117}</string>
    <key>spriteSourceSize</key>
    <string>{120,118}</string>
    <key>textureRect</key>
    <string>{{619,57},{118,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1074,178}</string>
   <key>textureFileName</key>
   <string>TreasureRoomSheet-hd.png</string>
  </dict>
 </dict>
</plist>
