<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_67_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.0}</string>
			<key>spriteSize</key>
			<string>{39,19}</string>
			<key>spriteSourceSize</key>
			<string>{39,19}</string>
			<key>textureRect</key>
			<string>{{0,0},{39,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_67_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.375}</string>
			<key>spriteSize</key>
			<string>{37,16}</string>
			<key>spriteSourceSize</key>
			<string>{37,16}</string>
			<key>textureRect</key>
			<string>{{40,0},{37,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_67_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,15.5}</string>
			<key>spriteSize</key>
			<string>{26,17}</string>
			<key>spriteSourceSize</key>
			<string>{26,17}</string>
			<key>textureRect</key>
			<string>{{78,0},{17,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_67_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.25}</string>
			<key>spriteSize</key>
			<string>{33,13}</string>
			<key>spriteSourceSize</key>
			<string>{33,13}</string>
			<key>textureRect</key>
			<string>{{96,0},{33,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_67_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.0}</string>
			<key>spriteSize</key>
			<string>{41,21}</string>
			<key>spriteSourceSize</key>
			<string>{41,21}</string>
			<key>textureRect</key>
			<string>{{130,0},{41,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_67.png</string>
		<key>size</key>
		<string>{172,26}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_67.png</string>
	</dict>
</dict>
</plist>
