<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_40_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{147,61}</string>
			<key>spriteSourceSize</key>
			<string>{147,61}</string>
			<key>textureRect</key>
			<string>{{0,0},{147,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_40_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{137,56}</string>
			<key>spriteSourceSize</key>
			<string>{137,56}</string>
			<key>textureRect</key>
			<string>{{148,0},{137,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_40_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,59.5}</string>
			<key>spriteSize</key>
			<string>{123,77}</string>
			<key>spriteSourceSize</key>
			<string>{123,77}</string>
			<key>textureRect</key>
			<string>{{286,0},{123,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_40_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{70,28}</string>
			<key>spriteSourceSize</key>
			<string>{70,28}</string>
			<key>textureRect</key>
			<string>{{410,0},{28,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_40_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{155,69}</string>
			<key>spriteSourceSize</key>
			<string>{155,69}</string>
			<key>textureRect</key>
			<string>{{439,0},{155,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_40-uhd.png</string>
		<key>size</key>
		<string>{595,77}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_40-uhd.png</string>
	</dict>
</dict>
</plist>
