<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_121_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{166,76}</string>
			<key>spriteSourceSize</key>
			<string>{166,76}</string>
			<key>textureRect</key>
			<string>{{0,0},{166,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_121_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{82,64}</string>
			<key>spriteSourceSize</key>
			<string>{82,64}</string>
			<key>textureRect</key>
			<string>{{167,0},{82,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_121_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,62}</string>
			<key>spriteSize</key>
			<string>{106,70}</string>
			<key>spriteSourceSize</key>
			<string>{106,70}</string>
			<key>textureRect</key>
			<string>{{250,0},{106,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_121_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{174,84}</string>
			<key>spriteSourceSize</key>
			<string>{174,84}</string>
			<key>textureRect</key>
			<string>{{357,0},{174,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_121-uhd.png</string>
		<key>size</key>
		<string>{532,84}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_121-uhd.png</string>
	</dict>
</dict>
</plist>
