<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_101_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,9.5}</string>
			<key>spriteSize</key>
			<string>{136,78}</string>
			<key>spriteSourceSize</key>
			<string>{136,78}</string>
			<key>textureRect</key>
			<string>{{0,0},{136,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_101_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4.5}</string>
			<key>spriteSize</key>
			<string>{140,68}</string>
			<key>spriteSourceSize</key>
			<string>{140,68}</string>
			<key>textureRect</key>
			<string>{{137,0},{140,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_101_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,59.5}</string>
			<key>spriteSize</key>
			<string>{122,77}</string>
			<key>spriteSourceSize</key>
			<string>{122,77}</string>
			<key>textureRect</key>
			<string>{{278,0},{122,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_101_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,9.5}</string>
			<key>spriteSize</key>
			<string>{158,92}</string>
			<key>spriteSourceSize</key>
			<string>{158,92}</string>
			<key>textureRect</key>
			<string>{{401,0},{158,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_101_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,9.5}</string>
			<key>spriteSize</key>
			<string>{166,100}</string>
			<key>spriteSourceSize</key>
			<string>{166,100}</string>
			<key>textureRect</key>
			<string>{{560,0},{100,166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_101-uhd.png</string>
		<key>size</key>
		<string>{661,166}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_101-uhd.png</string>
	</dict>
</dict>
</plist>
