<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_104_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.25}</string>
			<key>spriteSize</key>
			<string>{80,38}</string>
			<key>spriteSourceSize</key>
			<string>{80,38}</string>
			<key>textureRect</key>
			<string>{{0,0},{80,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_104_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{77,35}</string>
			<key>spriteSourceSize</key>
			<string>{77,35}</string>
			<key>textureRect</key>
			<string>{{81,0},{77,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_104_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,31.0}</string>
			<key>spriteSize</key>
			<string>{53,35}</string>
			<key>spriteSourceSize</key>
			<string>{53,35}</string>
			<key>textureRect</key>
			<string>{{159,0},{53,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_104_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.5}</string>
			<key>spriteSize</key>
			<string>{76,31}</string>
			<key>spriteSourceSize</key>
			<string>{76,31}</string>
			<key>textureRect</key>
			<string>{{213,0},{76,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_104_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.25}</string>
			<key>spriteSize</key>
			<string>{84,42}</string>
			<key>spriteSourceSize</key>
			<string>{84,42}</string>
			<key>textureRect</key>
			<string>{{290,0},{84,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_104-hd.png</string>
		<key>size</key>
		<string>{375,42}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_104-hd.png</string>
	</dict>
</dict>
</plist>
