<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_51_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{164,84}</string>
			<key>spriteSourceSize</key>
			<string>{164,84}</string>
			<key>textureRect</key>
			<string>{{0,0},{164,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_51_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8.5}</string>
			<key>spriteSize</key>
			<string>{154,63}</string>
			<key>spriteSourceSize</key>
			<string>{154,63}</string>
			<key>textureRect</key>
			<string>{{165,0},{154,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_51_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,53.5}</string>
			<key>spriteSize</key>
			<string>{106,87}</string>
			<key>spriteSourceSize</key>
			<string>{106,87}</string>
			<key>textureRect</key>
			<string>{{320,0},{106,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_51_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{172,92}</string>
			<key>spriteSourceSize</key>
			<string>{172,92}</string>
			<key>textureRect</key>
			<string>{{427,0},{172,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_51-uhd.png</string>
		<key>size</key>
		<string>{600,92}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_51-uhd.png</string>
	</dict>
</dict>
</plist>
