<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_70_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{80,39}</string>
			<key>spriteSourceSize</key>
			<string>{80,39}</string>
			<key>textureRect</key>
			<string>{{0,0},{80,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_70_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.5}</string>
			<key>spriteSize</key>
			<string>{75,34}</string>
			<key>spriteSourceSize</key>
			<string>{75,34}</string>
			<key>textureRect</key>
			<string>{{81,0},{75,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_70_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,31.0}</string>
			<key>spriteSize</key>
			<string>{53,35}</string>
			<key>spriteSourceSize</key>
			<string>{53,35}</string>
			<key>textureRect</key>
			<string>{{157,0},{35,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_70_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,7.5}</string>
			<key>spriteSize</key>
			<string>{58,28}</string>
			<key>spriteSourceSize</key>
			<string>{58,28}</string>
			<key>textureRect</key>
			<string>{{193,0},{58,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_70_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{84,43}</string>
			<key>spriteSourceSize</key>
			<string>{84,43}</string>
			<key>textureRect</key>
			<string>{{252,0},{84,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_70-hd.png</string>
		<key>size</key>
		<string>{337,53}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_70-hd.png</string>
	</dict>
</dict>
</plist>
