<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_39_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,12}</string>
			<key>spriteSize</key>
			<string>{136,66}</string>
			<key>spriteSourceSize</key>
			<string>{136,66}</string>
			<key>textureRect</key>
			<string>{{0,0},{136,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_39_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,6}</string>
			<key>spriteSize</key>
			<string>{154,78}</string>
			<key>spriteSourceSize</key>
			<string>{154,78}</string>
			<key>textureRect</key>
			<string>{{137,0},{154,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_39_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,62}</string>
			<key>spriteSize</key>
			<string>{106,70}</string>
			<key>spriteSourceSize</key>
			<string>{106,70}</string>
			<key>textureRect</key>
			<string>{{292,0},{106,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_39_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,12.5}</string>
			<key>spriteSize</key>
			<string>{162,97}</string>
			<key>spriteSourceSize</key>
			<string>{162,97}</string>
			<key>textureRect</key>
			<string>{{399,0},{162,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_39_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,12.5}</string>
			<key>spriteSize</key>
			<string>{170,105}</string>
			<key>spriteSourceSize</key>
			<string>{170,105}</string>
			<key>textureRect</key>
			<string>{{562,0},{170,105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_39-uhd.png</string>
		<key>size</key>
		<string>{733,105}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_39-uhd.png</string>
	</dict>
</dict>
</plist>
