<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_113_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{74,38}</string>
			<key>spriteSourceSize</key>
			<string>{74,38}</string>
			<key>textureRect</key>
			<string>{{0,0},{74,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_113_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{71,35}</string>
			<key>spriteSourceSize</key>
			<string>{71,35}</string>
			<key>textureRect</key>
			<string>{{75,0},{71,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_113_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,31.0}</string>
			<key>spriteSize</key>
			<string>{53,35}</string>
			<key>spriteSourceSize</key>
			<string>{53,35}</string>
			<key>textureRect</key>
			<string>{{147,0},{53,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_113_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{78,42}</string>
			<key>spriteSourceSize</key>
			<string>{78,42}</string>
			<key>textureRect</key>
			<string>{{201,0},{42,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_113-hd.png</string>
		<key>size</key>
		<string>{244,78}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_113-hd.png</string>
	</dict>
</dict>
</plist>
