<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_90_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.875}</string>
			<key>spriteSize</key>
			<string>{39,16}</string>
			<key>spriteSourceSize</key>
			<string>{39,16}</string>
			<key>textureRect</key>
			<string>{{0,0},{39,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_90_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.125}</string>
			<key>spriteSize</key>
			<string>{21,16}</string>
			<key>spriteSourceSize</key>
			<string>{21,16}</string>
			<key>textureRect</key>
			<string>{{40,0},{21,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_90_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,15.5}</string>
			<key>spriteSize</key>
			<string>{26,17}</string>
			<key>spriteSourceSize</key>
			<string>{26,17}</string>
			<key>textureRect</key>
			<string>{{62,0},{26,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_90_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.625}</string>
			<key>spriteSize</key>
			<string>{41,22}</string>
			<key>spriteSourceSize</key>
			<string>{41,22}</string>
			<key>textureRect</key>
			<string>{{89,0},{41,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_90_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.625}</string>
			<key>spriteSize</key>
			<string>{43,24}</string>
			<key>spriteSourceSize</key>
			<string>{43,24}</string>
			<key>textureRect</key>
			<string>{{131,0},{43,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_90.png</string>
		<key>size</key>
		<string>{175,24}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_90.png</string>
	</dict>
</dict>
</plist>
