<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_144_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,92}</string>
			<key>spriteSourceSize</key>
			<string>{160,92}</string>
			<key>textureRect</key>
			<string>{{0,0},{160,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_144_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,54}</string>
			<key>spriteSourceSize</key>
			<string>{108,54}</string>
			<key>textureRect</key>
			<string>{{161,0},{54,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_144_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{106,194}</string>
			<key>spriteSourceSize</key>
			<string>{106,194}</string>
			<key>textureRect</key>
			<string>{{216,0},{194,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_144_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{168,100}</string>
			<key>spriteSourceSize</key>
			<string>{168,100}</string>
			<key>textureRect</key>
			<string>{{411,0},{100,168}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_144-uhd.png</string>
		<key>size</key>
		<string>{512,168}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_144-uhd.png</string>
	</dict>
</dict>
</plist>
