<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_67_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{79,39}</string>
			<key>spriteSourceSize</key>
			<string>{79,39}</string>
			<key>textureRect</key>
			<string>{{0,0},{79,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_67_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.75}</string>
			<key>spriteSize</key>
			<string>{75,33}</string>
			<key>spriteSourceSize</key>
			<string>{75,33}</string>
			<key>textureRect</key>
			<string>{{80,0},{75,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_67_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,31.0}</string>
			<key>spriteSize</key>
			<string>{53,35}</string>
			<key>spriteSourceSize</key>
			<string>{53,35}</string>
			<key>textureRect</key>
			<string>{{156,0},{35,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_67_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,8.5}</string>
			<key>spriteSize</key>
			<string>{66,26}</string>
			<key>spriteSourceSize</key>
			<string>{66,26}</string>
			<key>textureRect</key>
			<string>{{192,0},{66,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_67_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{83,43}</string>
			<key>spriteSourceSize</key>
			<string>{83,43}</string>
			<key>textureRect</key>
			<string>{{259,0},{83,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_67-hd.png</string>
		<key>size</key>
		<string>{343,53}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_67-hd.png</string>
	</dict>
</dict>
</plist>
