<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_89_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,2.25}</string>
			<key>spriteSize</key>
			<string>{39,19}</string>
			<key>spriteSourceSize</key>
			<string>{39,19}</string>
			<key>textureRect</key>
			<string>{{0,0},{39,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_89_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string>{0,0}</string>
			<key>textureRect</key>
			<string>{{40,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_89_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,15.5}</string>
			<key>spriteSize</key>
			<string>{26,17}</string>
			<key>spriteSourceSize</key>
			<string>{26,17}</string>
			<key>textureRect</key>
			<string>{{41,0},{26,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_89_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,2.25}</string>
			<key>spriteSize</key>
			<string>{41,21}</string>
			<key>spriteSourceSize</key>
			<string>{41,21}</string>
			<key>textureRect</key>
			<string>{{68,0},{41,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_89.png</string>
		<key>size</key>
		<string>{110,21}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_89.png</string>
	</dict>
</dict>
</plist>
