<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_67_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{158,78}</string>
			<key>spriteSourceSize</key>
			<string>{158,78}</string>
			<key>textureRect</key>
			<string>{{0,0},{158,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_67_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,9.5}</string>
			<key>spriteSize</key>
			<string>{150,67}</string>
			<key>spriteSourceSize</key>
			<string>{150,67}</string>
			<key>textureRect</key>
			<string>{{159,0},{150,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_67_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,62}</string>
			<key>spriteSize</key>
			<string>{106,70}</string>
			<key>spriteSourceSize</key>
			<string>{106,70}</string>
			<key>textureRect</key>
			<string>{{310,0},{70,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_67_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,17}</string>
			<key>spriteSize</key>
			<string>{132,52}</string>
			<key>spriteSourceSize</key>
			<string>{132,52}</string>
			<key>textureRect</key>
			<string>{{381,0},{132,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_67_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{166,86}</string>
			<key>spriteSourceSize</key>
			<string>{166,86}</string>
			<key>textureRect</key>
			<string>{{514,0},{166,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_67-uhd.png</string>
		<key>size</key>
		<string>{681,106}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_67-uhd.png</string>
	</dict>
</dict>
</plist>
