<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.25}</string>
			<key>spriteSize</key>
			<string>{73,30}</string>
			<key>spriteSourceSize</key>
			<string>{73,30}</string>
			<key>textureRect</key>
			<string>{{0,0},{73,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{74,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_04_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,29.75}</string>
			<key>spriteSize</key>
			<string>{61,38}</string>
			<key>spriteSourceSize</key>
			<string>{61,38}</string>
			<key>textureRect</key>
			<string>{{76,0},{61,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.25}</string>
			<key>spriteSize</key>
			<string>{77,34}</string>
			<key>spriteSourceSize</key>
			<string>{77,34}</string>
			<key>textureRect</key>
			<string>{{138,0},{77,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_04-hd.png</string>
		<key>size</key>
		<string>{216,38}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_04-hd.png</string>
	</dict>
</dict>
</plist>
