<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.25}</string>
			<key>spriteSize</key>
			<string>{81,30}</string>
			<key>spriteSourceSize</key>
			<string>{81,30}</string>
			<key>textureRect</key>
			<string>{{0,0},{81,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.25}</string>
			<key>spriteSize</key>
			<string>{68,27}</string>
			<key>spriteSourceSize</key>
			<string>{68,27}</string>
			<key>textureRect</key>
			<string>{{82,0},{68,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_02_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,29.75}</string>
			<key>spriteSize</key>
			<string>{61,38}</string>
			<key>spriteSourceSize</key>
			<string>{61,38}</string>
			<key>textureRect</key>
			<string>{{151,0},{61,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.25}</string>
			<key>spriteSize</key>
			<string>{85,34}</string>
			<key>spriteSourceSize</key>
			<string>{85,34}</string>
			<key>textureRect</key>
			<string>{{213,0},{85,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_02-hd.png</string>
		<key>size</key>
		<string>{299,38}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_02-hd.png</string>
	</dict>
</dict>
</plist>
