<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_28_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{79,38}</string>
			<key>spriteSourceSize</key>
			<string>{79,38}</string>
			<key>textureRect</key>
			<string>{{0,0},{79,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_28_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,3.25}</string>
			<key>spriteSize</key>
			<string>{75,32}</string>
			<key>spriteSourceSize</key>
			<string>{75,32}</string>
			<key>textureRect</key>
			<string>{{80,0},{75,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_28_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,26.75}</string>
			<key>spriteSize</key>
			<string>{53,43}</string>
			<key>spriteSourceSize</key>
			<string>{53,43}</string>
			<key>textureRect</key>
			<string>{{156,0},{53,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_28_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{210,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_28_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{83,42}</string>
			<key>spriteSourceSize</key>
			<string>{83,42}</string>
			<key>textureRect</key>
			<string>{{212,0},{83,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_28-hd.png</string>
		<key>size</key>
		<string>{296,43}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_28-hd.png</string>
	</dict>
</dict>
</plist>
