<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_23_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,5.5}</string>
			<key>spriteSize</key>
			<string>{79,41}</string>
			<key>spriteSourceSize</key>
			<string>{79,41}</string>
			<key>textureRect</key>
			<string>{{0,0},{79,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_23_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,4.25}</string>
			<key>spriteSize</key>
			<string>{76,36}</string>
			<key>spriteSourceSize</key>
			<string>{76,36}</string>
			<key>textureRect</key>
			<string>{{80,0},{76,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_23_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,31.0}</string>
			<key>spriteSize</key>
			<string>{53,35}</string>
			<key>spriteSourceSize</key>
			<string>{53,35}</string>
			<key>textureRect</key>
			<string>{{157,0},{53,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_23_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,5.75}</string>
			<key>spriteSize</key>
			<string>{73,32}</string>
			<key>spriteSourceSize</key>
			<string>{73,32}</string>
			<key>textureRect</key>
			<string>{{211,0},{73,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_23_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,5.5}</string>
			<key>spriteSize</key>
			<string>{83,45}</string>
			<key>spriteSourceSize</key>
			<string>{83,45}</string>
			<key>textureRect</key>
			<string>{{285,0},{83,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_23-hd.png</string>
		<key>size</key>
		<string>{369,45}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_23-hd.png</string>
	</dict>
</dict>
</plist>
