<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_148_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{134,82}</string>
			<key>spriteSourceSize</key>
			<string>{134,82}</string>
			<key>textureRect</key>
			<string>{{0,0},{134,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_148_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,10}</string>
			<key>spriteSourceSize</key>
			<string>{2,10}</string>
			<key>textureRect</key>
			<string>{{135,0},{2,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_148_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{116,198}</string>
			<key>spriteSourceSize</key>
			<string>{116,198}</string>
			<key>textureRect</key>
			<string>{{138,0},{198,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_148_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{142,90}</string>
			<key>spriteSourceSize</key>
			<string>{142,90}</string>
			<key>textureRect</key>
			<string>{{337,0},{90,142}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_148-uhd.png</string>
		<key>size</key>
		<string>{428,142}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_148-uhd.png</string>
	</dict>
</dict>
</plist>
