<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_148_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{33,20}</string>
			<key>spriteSourceSize</key>
			<string>{33,20}</string>
			<key>textureRect</key>
			<string>{{0,0},{20,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_148_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,2}</string>
			<key>spriteSourceSize</key>
			<string>{1,2}</string>
			<key>textureRect</key>
			<string>{{21,0},{1,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_148_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{29,49}</string>
			<key>spriteSourceSize</key>
			<string>{29,49}</string>
			<key>textureRect</key>
			<string>{{23,0},{49,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_148_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{35,22}</string>
			<key>spriteSourceSize</key>
			<string>{35,22}</string>
			<key>textureRect</key>
			<string>{{73,0},{22,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_148.png</string>
		<key>size</key>
		<string>{96,35}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_148.png</string>
	</dict>
</dict>
</plist>
