<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_142_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{162,89}</string>
			<key>spriteSourceSize</key>
			<string>{162,89}</string>
			<key>textureRect</key>
			<string>{{0,0},{162,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_142_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{162,87}</string>
			<key>spriteSourceSize</key>
			<string>{162,87}</string>
			<key>textureRect</key>
			<string>{{163,0},{162,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_142_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{106,190}</string>
			<key>spriteSourceSize</key>
			<string>{106,190}</string>
			<key>textureRect</key>
			<string>{{326,0},{190,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_142_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{170,97}</string>
			<key>spriteSourceSize</key>
			<string>{170,97}</string>
			<key>textureRect</key>
			<string>{{517,0},{97,170}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_142-uhd.png</string>
		<key>size</key>
		<string>{615,170}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_142-uhd.png</string>
	</dict>
</dict>
</plist>
