<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_19_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,6.75}</string>
			<key>spriteSize</key>
			<string>{76,30}</string>
			<key>spriteSourceSize</key>
			<string>{76,30}</string>
			<key>textureRect</key>
			<string>{{0,0},{76,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_19_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,4.5}</string>
			<key>spriteSize</key>
			<string>{41,32}</string>
			<key>spriteSourceSize</key>
			<string>{41,32}</string>
			<key>textureRect</key>
			<string>{{77,0},{32,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_19_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,31.0}</string>
			<key>spriteSize</key>
			<string>{53,35}</string>
			<key>spriteSourceSize</key>
			<string>{53,35}</string>
			<key>textureRect</key>
			<string>{{110,0},{53,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_19_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,5.5}</string>
			<key>spriteSize</key>
			<string>{80,38}</string>
			<key>spriteSourceSize</key>
			<string>{80,38}</string>
			<key>textureRect</key>
			<string>{{164,0},{80,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_19_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,5.5}</string>
			<key>spriteSize</key>
			<string>{84,42}</string>
			<key>spriteSourceSize</key>
			<string>{84,42}</string>
			<key>textureRect</key>
			<string>{{245,0},{84,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_19-hd.png</string>
		<key>size</key>
		<string>{330,42}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_19-hd.png</string>
	</dict>
</dict>
</plist>
