<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_42_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,3.0}</string>
			<key>spriteSize</key>
			<string>{86,36}</string>
			<key>spriteSourceSize</key>
			<string>{86,36}</string>
			<key>textureRect</key>
			<string>{{0,0},{86,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_42_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,3.0}</string>
			<key>spriteSize</key>
			<string>{84,34}</string>
			<key>spriteSourceSize</key>
			<string>{84,34}</string>
			<key>textureRect</key>
			<string>{{87,0},{84,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_42_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,31.0}</string>
			<key>spriteSize</key>
			<string>{53,35}</string>
			<key>spriteSourceSize</key>
			<string>{53,35}</string>
			<key>textureRect</key>
			<string>{{172,0},{53,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_42_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,3.0}</string>
			<key>spriteSize</key>
			<string>{90,40}</string>
			<key>spriteSourceSize</key>
			<string>{90,40}</string>
			<key>textureRect</key>
			<string>{{226,0},{90,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_42-hd.png</string>
		<key>size</key>
		<string>{317,40}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_42-hd.png</string>
	</dict>
</dict>
</plist>
