<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_36_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{140,72}</string>
			<key>spriteSourceSize</key>
			<string>{140,72}</string>
			<key>textureRect</key>
			<string>{{0,0},{140,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_36_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{140,72}</string>
			<key>spriteSourceSize</key>
			<string>{140,72}</string>
			<key>textureRect</key>
			<string>{{141,0},{140,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_36_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,59}</string>
			<key>spriteSize</key>
			<string>{122,77}</string>
			<key>spriteSourceSize</key>
			<string>{122,77}</string>
			<key>textureRect</key>
			<string>{{282,0},{122,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_36_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{148,82}</string>
			<key>spriteSourceSize</key>
			<string>{148,82}</string>
			<key>textureRect</key>
			<string>{{405,0},{148,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_36_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{156,90}</string>
			<key>spriteSourceSize</key>
			<string>{156,90}</string>
			<key>textureRect</key>
			<string>{{554,0},{156,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_36-uhd.png</string>
		<key>size</key>
		<string>{711,90}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_36-uhd.png</string>
	</dict>
</dict>
</plist>
