<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_130_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{128,64}</string>
			<key>spriteSourceSize</key>
			<string>{128,64}</string>
			<key>textureRect</key>
			<string>{{0,0},{128,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_130_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,11.5}</string>
			<key>spriteSize</key>
			<string>{128,79}</string>
			<key>spriteSourceSize</key>
			<string>{128,79}</string>
			<key>textureRect</key>
			<string>{{129,0},{128,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_130_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,62}</string>
			<key>spriteSize</key>
			<string>{106,70}</string>
			<key>spriteSourceSize</key>
			<string>{106,70}</string>
			<key>textureRect</key>
			<string>{{258,0},{106,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_130_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,15}</string>
			<key>spriteSize</key>
			<string>{136,94}</string>
			<key>spriteSourceSize</key>
			<string>{136,94}</string>
			<key>textureRect</key>
			<string>{{365,0},{136,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_130_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,15}</string>
			<key>spriteSize</key>
			<string>{144,102}</string>
			<key>spriteSourceSize</key>
			<string>{144,102}</string>
			<key>textureRect</key>
			<string>{{502,0},{102,144}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_130-uhd.png</string>
		<key>size</key>
		<string>{605,144}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_130-uhd.png</string>
	</dict>
</dict>
</plist>
