<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_78_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{154,74}</string>
			<key>spriteSourceSize</key>
			<string>{154,74}</string>
			<key>textureRect</key>
			<string>{{0,0},{154,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_78_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7.5}</string>
			<key>spriteSize</key>
			<string>{158,73}</string>
			<key>spriteSourceSize</key>
			<string>{158,73}</string>
			<key>textureRect</key>
			<string>{{155,0},{158,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_78_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,62}</string>
			<key>spriteSize</key>
			<string>{106,70}</string>
			<key>spriteSourceSize</key>
			<string>{106,70}</string>
			<key>textureRect</key>
			<string>{{314,0},{106,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_78_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,9.5}</string>
			<key>spriteSize</key>
			<string>{160,83}</string>
			<key>spriteSourceSize</key>
			<string>{160,83}</string>
			<key>textureRect</key>
			<string>{{421,0},{160,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_78_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,9.5}</string>
			<key>spriteSize</key>
			<string>{168,91}</string>
			<key>spriteSourceSize</key>
			<string>{168,91}</string>
			<key>textureRect</key>
			<string>{{582,0},{168,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_78-uhd.png</string>
		<key>size</key>
		<string>{751,91}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_78-uhd.png</string>
	</dict>
</dict>
</plist>
