<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_38_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{80,33}</string>
			<key>spriteSourceSize</key>
			<string>{80,33}</string>
			<key>textureRect</key>
			<string>{{0,0},{80,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_38_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{74,30}</string>
			<key>spriteSourceSize</key>
			<string>{74,30}</string>
			<key>textureRect</key>
			<string>{{81,0},{74,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_38_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,29.75}</string>
			<key>spriteSize</key>
			<string>{61,38}</string>
			<key>spriteSourceSize</key>
			<string>{61,38}</string>
			<key>textureRect</key>
			<string>{{156,0},{61,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_38_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.25}</string>
			<key>spriteSize</key>
			<string>{73,21}</string>
			<key>spriteSourceSize</key>
			<string>{73,21}</string>
			<key>textureRect</key>
			<string>{{218,0},{73,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_38_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{84,37}</string>
			<key>spriteSourceSize</key>
			<string>{84,37}</string>
			<key>textureRect</key>
			<string>{{292,0},{84,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_38-hd.png</string>
		<key>size</key>
		<string>{377,38}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_38-hd.png</string>
	</dict>
</dict>
</plist>
