<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_130_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.0}</string>
			<key>spriteSize</key>
			<string>{64,32}</string>
			<key>spriteSourceSize</key>
			<string>{64,32}</string>
			<key>textureRect</key>
			<string>{{0,0},{64,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_130_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,5.75}</string>
			<key>spriteSize</key>
			<string>{64,39}</string>
			<key>spriteSourceSize</key>
			<string>{64,39}</string>
			<key>textureRect</key>
			<string>{{65,0},{64,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_130_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,31.0}</string>
			<key>spriteSize</key>
			<string>{53,35}</string>
			<key>spriteSourceSize</key>
			<string>{53,35}</string>
			<key>textureRect</key>
			<string>{{130,0},{53,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_130_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,7.5}</string>
			<key>spriteSize</key>
			<string>{68,47}</string>
			<key>spriteSourceSize</key>
			<string>{68,47}</string>
			<key>textureRect</key>
			<string>{{184,0},{68,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_130_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,7.5}</string>
			<key>spriteSize</key>
			<string>{72,51}</string>
			<key>spriteSourceSize</key>
			<string>{72,51}</string>
			<key>textureRect</key>
			<string>{{253,0},{51,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_130-hd.png</string>
		<key>size</key>
		<string>{305,72}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_130-hd.png</string>
	</dict>
</dict>
</plist>
