<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_133_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,5.0}</string>
			<key>spriteSize</key>
			<string>{87,61}</string>
			<key>spriteSourceSize</key>
			<string>{87,61}</string>
			<key>textureRect</key>
			<string>{{0,0},{87,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_133_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.25}</string>
			<key>spriteSize</key>
			<string>{84,38}</string>
			<key>spriteSourceSize</key>
			<string>{84,38}</string>
			<key>textureRect</key>
			<string>{{88,0},{84,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_133_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,24.25}</string>
			<key>spriteSize</key>
			<string>{60,50}</string>
			<key>spriteSourceSize</key>
			<string>{60,50}</string>
			<key>textureRect</key>
			<string>{{173,0},{50,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_133_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,5.0}</string>
			<key>spriteSize</key>
			<string>{91,65}</string>
			<key>spriteSourceSize</key>
			<string>{91,65}</string>
			<key>textureRect</key>
			<string>{{224,0},{91,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_133-hd.png</string>
		<key>size</key>
		<string>{316,65}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_133-hd.png</string>
	</dict>
</dict>
</plist>
