<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_129_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{157,65}</string>
			<key>spriteSourceSize</key>
			<string>{157,65}</string>
			<key>textureRect</key>
			<string>{{0,0},{157,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_129_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{139,52}</string>
			<key>spriteSourceSize</key>
			<string>{139,52}</string>
			<key>textureRect</key>
			<string>{{158,0},{139,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_129_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,59.5}</string>
			<key>spriteSize</key>
			<string>{123,77}</string>
			<key>spriteSourceSize</key>
			<string>{123,77}</string>
			<key>textureRect</key>
			<string>{{298,0},{123,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_129_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{105,44}</string>
			<key>spriteSourceSize</key>
			<string>{105,44}</string>
			<key>textureRect</key>
			<string>{{422,0},{44,105}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_129_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{165,73}</string>
			<key>spriteSourceSize</key>
			<string>{165,73}</string>
			<key>textureRect</key>
			<string>{{467,0},{73,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_129-uhd.png</string>
		<key>size</key>
		<string>{541,165}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_129-uhd.png</string>
	</dict>
</dict>
</plist>
