<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_97_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.875}</string>
			<key>spriteSize</key>
			<string>{33,17}</string>
			<key>spriteSourceSize</key>
			<string>{33,17}</string>
			<key>textureRect</key>
			<string>{{0,0},{33,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_97_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.75}</string>
			<key>spriteSize</key>
			<string>{31,15}</string>
			<key>spriteSourceSize</key>
			<string>{31,15}</string>
			<key>textureRect</key>
			<string>{{34,0},{31,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_97_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,15.5}</string>
			<key>spriteSize</key>
			<string>{26,17}</string>
			<key>spriteSourceSize</key>
			<string>{26,17}</string>
			<key>textureRect</key>
			<string>{{66,0},{26,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_97_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.625}</string>
			<key>spriteSize</key>
			<string>{30,7}</string>
			<key>spriteSourceSize</key>
			<string>{30,7}</string>
			<key>textureRect</key>
			<string>{{93,0},{30,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_97_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.875}</string>
			<key>spriteSize</key>
			<string>{35,19}</string>
			<key>spriteSourceSize</key>
			<string>{35,19}</string>
			<key>textureRect</key>
			<string>{{124,0},{35,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_97.png</string>
		<key>size</key>
		<string>{160,19}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_97.png</string>
	</dict>
</dict>
</plist>
