<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_143_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{80,47}</string>
			<key>spriteSourceSize</key>
			<string>{80,47}</string>
			<key>textureRect</key>
			<string>{{0,0},{47,80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_143_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,3}</string>
			<key>spriteSourceSize</key>
			<string>{1,3}</string>
			<key>textureRect</key>
			<string>{{48,0},{1,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_143_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{53,97}</string>
			<key>spriteSourceSize</key>
			<string>{53,97}</string>
			<key>textureRect</key>
			<string>{{50,0},{97,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_143_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{84,51}</string>
			<key>spriteSourceSize</key>
			<string>{84,51}</string>
			<key>textureRect</key>
			<string>{{148,0},{51,84}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_143-hd.png</string>
		<key>size</key>
		<string>{200,84}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_143-hd.png</string>
	</dict>
</dict>
</plist>
