<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_109_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,9.5}</string>
			<key>spriteSize</key>
			<string>{150,60}</string>
			<key>spriteSourceSize</key>
			<string>{150,60}</string>
			<key>textureRect</key>
			<string>{{0,0},{150,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_109_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,5}</string>
			<key>spriteSize</key>
			<string>{97,61}</string>
			<key>spriteSourceSize</key>
			<string>{97,61}</string>
			<key>textureRect</key>
			<string>{{151,0},{97,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_109_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,62}</string>
			<key>spriteSize</key>
			<string>{106,70}</string>
			<key>spriteSourceSize</key>
			<string>{106,70}</string>
			<key>textureRect</key>
			<string>{{249,0},{106,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_109_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8.5}</string>
			<key>spriteSize</key>
			<string>{156,77}</string>
			<key>spriteSourceSize</key>
			<string>{156,77}</string>
			<key>textureRect</key>
			<string>{{356,0},{156,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_109_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8.5}</string>
			<key>spriteSize</key>
			<string>{164,85}</string>
			<key>spriteSourceSize</key>
			<string>{164,85}</string>
			<key>textureRect</key>
			<string>{{513,0},{85,164}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_109-uhd.png</string>
		<key>size</key>
		<string>{599,164}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_109-uhd.png</string>
	</dict>
</dict>
</plist>
