<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dart_14_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,0.0}</string>
			<key>spriteSize</key>
			<string>{49,46}</string>
			<key>spriteSourceSize</key>
			<string>{49,46}</string>
			<key>textureRect</key>
			<string>{{0,0},{46,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dart_14_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,0.0}</string>
			<key>spriteSize</key>
			<string>{45,41}</string>
			<key>spriteSourceSize</key>
			<string>{45,41}</string>
			<key>textureRect</key>
			<string>{{47,0},{41,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dart_14_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,0.0}</string>
			<key>spriteSize</key>
			<string>{53,50}</string>
			<key>spriteSourceSize</key>
			<string>{53,50}</string>
			<key>textureRect</key>
			<string>{{89,0},{50,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/dart_14-hd.png</string>
		<key>size</key>
		<string>{140,53}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/dart_14-hd.png</string>
	</dict>
</dict>
</plist>
