<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dart_49_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.0}</string>
			<key>spriteSize</key>
			<string>{53,36}</string>
			<key>spriteSourceSize</key>
			<string>{53,36}</string>
			<key>textureRect</key>
			<string>{{0,0},{53,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dart_49_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.0}</string>
			<key>spriteSize</key>
			<string>{44,33}</string>
			<key>spriteSourceSize</key>
			<string>{44,33}</string>
			<key>textureRect</key>
			<string>{{54,0},{33,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dart_49_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,0.0}</string>
			<key>spriteSize</key>
			<string>{39,28}</string>
			<key>spriteSourceSize</key>
			<string>{39,28}</string>
			<key>textureRect</key>
			<string>{{88,0},{28,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dart_49_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.0}</string>
			<key>spriteSize</key>
			<string>{57,40}</string>
			<key>spriteSourceSize</key>
			<string>{57,40}</string>
			<key>textureRect</key>
			<string>{{117,0},{57,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/dart_49-hd.png</string>
		<key>size</key>
		<string>{175,44}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/dart_49-hd.png</string>
	</dict>
</dict>
</plist>
