<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dart_34_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7.5,0.5}</string>
			<key>spriteSize</key>
			<string>{69,59}</string>
			<key>spriteSourceSize</key>
			<string>{69,59}</string>
			<key>textureRect</key>
			<string>{{0,0},{59,69}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dart_34_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-16.5,-1}</string>
			<key>spriteSize</key>
			<string>{55,60}</string>
			<key>spriteSourceSize</key>
			<string>{55,60}</string>
			<key>textureRect</key>
			<string>{{60,0},{55,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dart_34_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-0.5}</string>
			<key>spriteSize</key>
			<string>{97,81}</string>
			<key>spriteSourceSize</key>
			<string>{97,81}</string>
			<key>textureRect</key>
			<string>{{116,0},{81,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dart_34_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-0.5}</string>
			<key>spriteSize</key>
			<string>{105,89}</string>
			<key>spriteSourceSize</key>
			<string>{105,89}</string>
			<key>textureRect</key>
			<string>{{198,0},{89,105}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/dart_34-uhd.png</string>
		<key>size</key>
		<string>{288,105}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/dart_34-uhd.png</string>
	</dict>
</dict>
</plist>
