<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>jetpack_05_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9,1}</string>
				<key>spriteSize</key>
				<string>{151,143}</string>
				<key>spriteSourceSize</key>
				<string>{151,143}</string>
				<key>textureRect</key>
				<string>{{0,156},{151,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jetpack_05_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,6}</string>
				<key>spriteSize</key>
				<string>{125,115}</string>
				<key>spriteSourceSize</key>
				<string>{125,115}</string>
				<key>textureRect</key>
				<string>{{163,0},{125,115}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>jetpack_05_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{49,31}</string>
				<key>spriteSize</key>
				<string>{77,73}</string>
				<key>spriteSourceSize</key>
				<string>{77,73}</string>
				<key>textureRect</key>
				<string>{{163,126},{77,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>jetpack_05_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9,1}</string>
				<key>spriteSize</key>
				<string>{162,155}</string>
				<key>spriteSourceSize</key>
				<string>{162,155}</string>
				<key>textureRect</key>
				<string>{{0,0},{162,155}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/jetpack_05-uhd.png</string>
			<key>size</key>
			<string>{278,299}</string>
			<key>textureFileName</key>
			<string>icons/jetpack_05-uhd.png</string>
		</dict>
	</dict>
</plist>