<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_71_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.125,0.125}</string>
			<key>spriteSize</key>
			<string>{28,28}</string>
			<key>spriteSourceSize</key>
			<string>{28,28}</string>
			<key>textureRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_71_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-1.625}</string>
			<key>spriteSize</key>
			<string>{18,16}</string>
			<key>spriteSourceSize</key>
			<string>{18,16}</string>
			<key>textureRect</key>
			<string>{{29,0},{16,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_71_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,0.125}</string>
			<key>spriteSize</key>
			<string>{31,30}</string>
			<key>spriteSourceSize</key>
			<string>{31,30}</string>
			<key>textureRect</key>
			<string>{{46,0},{31,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_71_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,0.125}</string>
			<key>spriteSize</key>
			<string>{33,32}</string>
			<key>spriteSourceSize</key>
			<string>{33,32}</string>
			<key>textureRect</key>
			<string>{{78,0},{32,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_71.png</string>
		<key>size</key>
		<string>{111,33}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_71.png</string>
	</dict>
</dict>
</plist>
