<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_122_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{110,111}</string>
			<key>spriteSourceSize</key>
			<string>{110,111}</string>
			<key>textureRect</key>
			<string>{{0,0},{110,111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_122_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{94,104}</string>
			<key>spriteSourceSize</key>
			<string>{94,104}</string>
			<key>textureRect</key>
			<string>{{111,0},{94,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_122_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{120,119}</string>
			<key>spriteSourceSize</key>
			<string>{120,119}</string>
			<key>textureRect</key>
			<string>{{206,0},{119,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_122_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{128,127}</string>
			<key>spriteSourceSize</key>
			<string>{128,127}</string>
			<key>textureRect</key>
			<string>{{326,0},{127,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_122-uhd.png</string>
		<key>size</key>
		<string>{454,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_122-uhd.png</string>
	</dict>
</dict>
</plist>
