<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_227_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,2.75}</string>
			<key>spriteSize</key>
			<string>{31,35}</string>
			<key>spriteSourceSize</key>
			<string>{31,35}</string>
			<key>textureRect</key>
			<string>{{0,0},{35,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_227_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,-5.125}</string>
			<key>spriteSize</key>
			<string>{26,18}</string>
			<key>spriteSourceSize</key>
			<string>{26,18}</string>
			<key>textureRect</key>
			<string>{{36,0},{18,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_227_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,3.0}</string>
			<key>spriteSize</key>
			<string>{32,37}</string>
			<key>spriteSourceSize</key>
			<string>{32,37}</string>
			<key>textureRect</key>
			<string>{{55,0},{37,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_227_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,3.0}</string>
			<key>spriteSize</key>
			<string>{34,39}</string>
			<key>spriteSourceSize</key>
			<string>{34,39}</string>
			<key>textureRect</key>
			<string>{{93,0},{39,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_227.png</string>
		<key>size</key>
		<string>{133,34}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_227.png</string>
	</dict>
</dict>
</plist>
