<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_ball_76_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{62,62}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{0,0},{62,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ball_76_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{50,44}</string>
			<key>spriteSourceSize</key>
			<string>{50,44}</string>
			<key>textureRect</key>
			<string>{{63,0},{44,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_ball_76_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{70,70}</string>
			<key>textureRect</key>
			<string>{{108,0},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ball_76_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{74,74}</string>
			<key>spriteSourceSize</key>
			<string>{74,74}</string>
			<key>textureRect</key>
			<string>{{179,0},{74,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_ball_76-hd.png</string>
		<key>size</key>
		<string>{254,74}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_ball_76-hd.png</string>
	</dict>
</dict>
</plist>
