<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_ball_96_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,110}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{0,0},{110,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ball_96_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{96,96}</string>
			<key>spriteSourceSize</key>
			<string>{96,96}</string>
			<key>textureRect</key>
			<string>{{111,0},{96,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ball_96_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{140,140}</string>
			<key>spriteSourceSize</key>
			<string>{140,140}</string>
			<key>textureRect</key>
			<string>{{208,0},{140,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ball_96_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{148,148}</string>
			<key>spriteSourceSize</key>
			<string>{148,148}</string>
			<key>textureRect</key>
			<string>{{349,0},{148,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_ball_96-uhd.png</string>
		<key>size</key>
		<string>{498,148}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_ball_96-uhd.png</string>
	</dict>
</dict>
</plist>
