<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_71_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{113,113}</string>
			<key>spriteSourceSize</key>
			<string>{113,113}</string>
			<key>textureRect</key>
			<string>{{0,0},{113,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_71_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,-6.5}</string>
			<key>spriteSize</key>
			<string>{74,67}</string>
			<key>spriteSourceSize</key>
			<string>{74,67}</string>
			<key>textureRect</key>
			<string>{{114,0},{67,74}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_71_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{125,123}</string>
			<key>spriteSourceSize</key>
			<string>{125,123}</string>
			<key>textureRect</key>
			<string>{{182,0},{125,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_71_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{133,131}</string>
			<key>spriteSourceSize</key>
			<string>{133,131}</string>
			<key>textureRect</key>
			<string>{{308,0},{131,133}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_71-uhd.png</string>
		<key>size</key>
		<string>{440,133}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_71-uhd.png</string>
	</dict>
</dict>
</plist>
