<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_344_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,1}</string>
			<key>spriteSize</key>
			<string>{126,124}</string>
			<key>spriteSourceSize</key>
			<string>{126,124}</string>
			<key>textureRect</key>
			<string>{{0,0},{126,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_344_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,2}</string>
			<key>spriteSize</key>
			<string>{120,118}</string>
			<key>spriteSourceSize</key>
			<string>{120,118}</string>
			<key>textureRect</key>
			<string>{{127,0},{118,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_344_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6.5,-23.5}</string>
			<key>spriteSize</key>
			<string>{72,37}</string>
			<key>spriteSourceSize</key>
			<string>{72,37}</string>
			<key>textureRect</key>
			<string>{{246,0},{37,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_344_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,1}</string>
			<key>spriteSize</key>
			<string>{134,132}</string>
			<key>spriteSourceSize</key>
			<string>{134,132}</string>
			<key>textureRect</key>
			<string>{{284,0},{134,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_344-uhd.png</string>
		<key>size</key>
		<string>{419,132}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_344-uhd.png</string>
	</dict>
</dict>
</plist>
