<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_349_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.25}</string>
			<key>spriteSize</key>
			<string>{66,57}</string>
			<key>spriteSourceSize</key>
			<string>{66,57}</string>
			<key>textureRect</key>
			<string>{{0,0},{66,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_349_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-6.5}</string>
			<key>spriteSize</key>
			<string>{59,44}</string>
			<key>spriteSourceSize</key>
			<string>{59,44}</string>
			<key>textureRect</key>
			<string>{{67,0},{44,59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_349_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{72,63}</string>
			<key>spriteSourceSize</key>
			<string>{72,63}</string>
			<key>textureRect</key>
			<string>{{112,0},{72,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_349_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{76,67}</string>
			<key>spriteSourceSize</key>
			<string>{76,67}</string>
			<key>textureRect</key>
			<string>{{185,0},{76,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_349-hd.png</string>
		<key>size</key>
		<string>{262,67}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_349-hd.png</string>
	</dict>
</dict>
</plist>
