<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_423_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{126,130}</string>
			<key>spriteSourceSize</key>
			<string>{126,130}</string>
			<key>textureRect</key>
			<string>{{0,0},{130,126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_423_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{110,102}</string>
			<key>spriteSourceSize</key>
			<string>{110,102}</string>
			<key>textureRect</key>
			<string>{{131,0},{102,110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_423_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,4.5}</string>
			<key>spriteSize</key>
			<string>{98,117}</string>
			<key>spriteSourceSize</key>
			<string>{98,117}</string>
			<key>textureRect</key>
			<string>{{234,0},{98,117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_423_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{134,138}</string>
			<key>spriteSourceSize</key>
			<string>{134,138}</string>
			<key>textureRect</key>
			<string>{{333,0},{138,134}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_423-uhd.png</string>
		<key>size</key>
		<string>{472,134}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_423-uhd.png</string>
	</dict>
</dict>
</plist>
