<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_179_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{0,0}</string>
                <key>spriteSourceSize</key>
                <string>{0,0}</string>
                <key>textureRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_179_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{0,0}</string>
                <key>spriteSourceSize</key>
                <string>{0,0}</string>
                <key>textureRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_179_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_179_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{0,0}</string>
                <key>spriteSourceSize</key>
                <string>{0,0}</string>
                <key>textureRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/player_179-uhd.png</string>
            <key>size</key>
            <string>{120,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eef28dbe7b235981f7c0debe3c1fc71d:2d525122f26cb4beebc0ee371cab36cf:ffdfce0a6d1821e8a2ed15fbe74f6117$</string>
            <key>textureFileName</key>
            <string>icons/player_179-uhd.png</string>
        </dict>
    </dict>
</plist>
