<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_99_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{118,120}</string>
			<key>spriteSourceSize</key>
			<string>{118,120}</string>
			<key>textureRect</key>
			<string>{{0,0},{118,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_99_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-1}</string>
			<key>spriteSize</key>
			<string>{109,114}</string>
			<key>spriteSourceSize</key>
			<string>{109,114}</string>
			<key>textureRect</key>
			<string>{{119,0},{109,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_99_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{229,0},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_99_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,128}</string>
			<key>spriteSourceSize</key>
			<string>{126,128}</string>
			<key>textureRect</key>
			<string>{{232,0},{126,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_99-uhd.png</string>
		<key>size</key>
		<string>{359,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_99-uhd.png</string>
	</dict>
</dict>
</plist>
