<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_340_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{62,64}</string>
			<key>spriteSourceSize</key>
			<string>{62,64}</string>
			<key>textureRect</key>
			<string>{{0,0},{64,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_340_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{56,57}</string>
			<key>spriteSourceSize</key>
			<string>{56,57}</string>
			<key>textureRect</key>
			<string>{{65,0},{56,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_340_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,6.75}</string>
			<key>spriteSize</key>
			<string>{55,41}</string>
			<key>spriteSourceSize</key>
			<string>{55,41}</string>
			<key>textureRect</key>
			<string>{{122,0},{41,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_340_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{66,68}</string>
			<key>textureRect</key>
			<string>{{164,0},{68,66}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_340-hd.png</string>
		<key>size</key>
		<string>{233,66}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_340-hd.png</string>
	</dict>
</dict>
</plist>
