<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_245_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{124,128}</string>
			<key>spriteSourceSize</key>
			<string>{124,128}</string>
			<key>textureRect</key>
			<string>{{0,0},{128,124}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_245_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-31}</string>
			<key>spriteSize</key>
			<string>{89,52}</string>
			<key>spriteSourceSize</key>
			<string>{89,52}</string>
			<key>textureRect</key>
			<string>{{129,0},{52,89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_245_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,29.5}</string>
			<key>spriteSize</key>
			<string>{112,47}</string>
			<key>spriteSourceSize</key>
			<string>{112,47}</string>
			<key>textureRect</key>
			<string>{{182,0},{47,112}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_245_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{132,136}</string>
			<key>spriteSourceSize</key>
			<string>{132,136}</string>
			<key>textureRect</key>
			<string>{{230,0},{132,136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_245-uhd.png</string>
		<key>size</key>
		<string>{363,136}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_245-uhd.png</string>
	</dict>
</dict>
</plist>
