<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_340_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{124,128}</string>
			<key>spriteSourceSize</key>
			<string>{124,128}</string>
			<key>textureRect</key>
			<string>{{0,0},{128,124}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_340_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{112,114}</string>
			<key>spriteSourceSize</key>
			<string>{112,114}</string>
			<key>textureRect</key>
			<string>{{129,0},{112,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_340_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,13.5}</string>
			<key>spriteSize</key>
			<string>{110,83}</string>
			<key>spriteSourceSize</key>
			<string>{110,83}</string>
			<key>textureRect</key>
			<string>{{242,0},{83,110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_340_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{132,136}</string>
			<key>spriteSourceSize</key>
			<string>{132,136}</string>
			<key>textureRect</key>
			<string>{{326,0},{136,132}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_340-uhd.png</string>
		<key>size</key>
		<string>{463,132}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_340-uhd.png</string>
	</dict>
</dict>
</plist>
