<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_84_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_84_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0.5}</string>
			<key>spriteSize</key>
			<string>{114,109}</string>
			<key>spriteSourceSize</key>
			<string>{114,109}</string>
			<key>textureRect</key>
			<string>{{121,0},{109,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_84_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-45,27}</string>
			<key>spriteSize</key>
			<string>{38,38}</string>
			<key>spriteSourceSize</key>
			<string>{38,38}</string>
			<key>textureRect</key>
			<string>{{231,0},{38,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_84_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{270,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_84-uhd.png</string>
		<key>size</key>
		<string>{399,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_84-uhd.png</string>
	</dict>
</dict>
</plist>
