<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_458_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,140}</string>
			<key>spriteSourceSize</key>
			<string>{150,140}</string>
			<key>textureRect</key>
			<string>{{0,0},{150,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_458_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,140}</string>
			<key>spriteSourceSize</key>
			<string>{150,140}</string>
			<key>textureRect</key>
			<string>{{151,0},{150,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_458_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,140}</string>
			<key>spriteSourceSize</key>
			<string>{150,140}</string>
			<key>textureRect</key>
			<string>{{302,0},{150,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_458_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{158,148}</string>
			<key>spriteSourceSize</key>
			<string>{158,148}</string>
			<key>textureRect</key>
			<string>{{453,0},{158,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_458-uhd.png</string>
		<key>size</key>
		<string>{612,148}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_458-uhd.png</string>
	</dict>
</dict>
</plist>
