<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_ball_21_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-0.25}</string>
			<key>spriteSize</key>
			<string>{69,69}</string>
			<key>spriteSourceSize</key>
			<string>{69,69}</string>
			<key>textureRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_ball_21_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-0.25}</string>
			<key>spriteSize</key>
			<string>{65,66}</string>
			<key>spriteSourceSize</key>
			<string>{65,66}</string>
			<key>textureRect</key>
			<string>{{70,0},{65,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ball_21_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-0.25}</string>
			<key>spriteSize</key>
			<string>{73,73}</string>
			<key>spriteSourceSize</key>
			<string>{73,73}</string>
			<key>textureRect</key>
			<string>{{136,0},{73,73}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_ball_21-hd.png</string>
		<key>size</key>
		<string>{210,73}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_ball_21-hd.png</string>
	</dict>
</dict>
</plist>
