<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_103_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,2.5}</string>
			<key>spriteSize</key>
			<string>{115,115}</string>
			<key>spriteSourceSize</key>
			<string>{115,115}</string>
			<key>textureRect</key>
			<string>{{0,0},{115,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_103_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,2}</string>
			<key>spriteSize</key>
			<string>{109,110}</string>
			<key>spriteSourceSize</key>
			<string>{109,110}</string>
			<key>textureRect</key>
			<string>{{116,0},{109,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_103_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{226,0},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_103_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{347,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_103-uhd.png</string>
		<key>size</key>
		<string>{476,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_103-uhd.png</string>
	</dict>
</dict>
</plist>
