<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_66_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4.5}</string>
			<key>spriteSize</key>
			<string>{110,124}</string>
			<key>spriteSourceSize</key>
			<string>{110,124}</string>
			<key>textureRect</key>
			<string>{{0,0},{124,110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_66_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,10}</string>
			<key>spriteSize</key>
			<string>{103,107}</string>
			<key>spriteSourceSize</key>
			<string>{103,107}</string>
			<key>textureRect</key>
			<string>{{125,0},{103,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_66_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,5}</string>
			<key>spriteSize</key>
			<string>{95,115}</string>
			<key>spriteSourceSize</key>
			<string>{95,115}</string>
			<key>textureRect</key>
			<string>{{229,0},{95,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_66_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4.5}</string>
			<key>spriteSize</key>
			<string>{118,132}</string>
			<key>spriteSourceSize</key>
			<string>{118,132}</string>
			<key>textureRect</key>
			<string>{{325,0},{132,118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_66_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,1}</string>
			<key>spriteSize</key>
			<string>{38,52}</string>
			<key>spriteSourceSize</key>
			<string>{38,52}</string>
			<key>textureRect</key>
			<string>{{458,0},{38,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_66_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,7.5}</string>
			<key>spriteSize</key>
			<string>{8,7}</string>
			<key>spriteSourceSize</key>
			<string>{8,7}</string>
			<key>textureRect</key>
			<string>{{497,0},{7,8}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_66_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,1}</string>
			<key>spriteSize</key>
			<string>{46,60}</string>
			<key>spriteSourceSize</key>
			<string>{46,60}</string>
			<key>textureRect</key>
			<string>{{505,0},{46,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_66_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{552,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_66_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{571,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_66_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{586,0},{58,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_66_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,34}</string>
			<key>spriteSourceSize</key>
			<string>{55,34}</string>
			<key>textureRect</key>
			<string>{{645,0},{55,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_66_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,-5}</string>
			<key>spriteSize</key>
			<string>{23,16}</string>
			<key>spriteSourceSize</key>
			<string>{23,16}</string>
			<key>textureRect</key>
			<string>{{701,0},{16,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_66_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,42}</string>
			<key>spriteSourceSize</key>
			<string>{63,42}</string>
			<key>textureRect</key>
			<string>{{718,0},{63,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_66-uhd.png</string>
		<key>size</key>
		<string>{782,118}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_66-uhd.png</string>
	</dict>
</dict>
</plist>
