<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_49_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,0}</string>
			<key>spriteSize</key>
			<string>{108,98}</string>
			<key>spriteSourceSize</key>
			<string>{108,98}</string>
			<key>textureRect</key>
			<string>{{0,0},{98,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_49_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.5,0.5}</string>
			<key>spriteSize</key>
			<string>{99,87}</string>
			<key>spriteSourceSize</key>
			<string>{99,87}</string>
			<key>textureRect</key>
			<string>{{99,0},{87,99}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_49_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{23,0.5}</string>
			<key>spriteSize</key>
			<string>{62,87}</string>
			<key>spriteSourceSize</key>
			<string>{62,87}</string>
			<key>textureRect</key>
			<string>{{187,0},{62,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_49_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,0}</string>
			<key>spriteSize</key>
			<string>{116,106}</string>
			<key>spriteSourceSize</key>
			<string>{116,106}</string>
			<key>textureRect</key>
			<string>{{250,0},{116,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_49_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{48,64}</string>
			<key>spriteSourceSize</key>
			<string>{48,64}</string>
			<key>textureRect</key>
			<string>{{367,0},{48,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_49_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,54}</string>
			<key>spriteSourceSize</key>
			<string>{38,54}</string>
			<key>textureRect</key>
			<string>{{416,0},{38,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_49_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{56,72}</string>
			<key>spriteSourceSize</key>
			<string>{56,72}</string>
			<key>textureRect</key>
			<string>{{455,0},{56,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_49_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{512,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_49_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{531,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_49_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{546,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_49_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0.5}</string>
			<key>spriteSize</key>
			<string>{64,37}</string>
			<key>spriteSourceSize</key>
			<string>{64,37}</string>
			<key>textureRect</key>
			<string>{{573,0},{37,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_49_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{54,28}</string>
			<key>spriteSourceSize</key>
			<string>{54,28}</string>
			<key>textureRect</key>
			<string>{{611,0},{28,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_49_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0.5}</string>
			<key>spriteSize</key>
			<string>{72,45}</string>
			<key>spriteSourceSize</key>
			<string>{72,45}</string>
			<key>textureRect</key>
			<string>{{640,0},{45,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_49-uhd.png</string>
		<key>size</key>
		<string>{686,108}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_49-uhd.png</string>
	</dict>
</dict>
</plist>
