<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_11_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.375}</string>
			<key>spriteSize</key>
			<string>{31,27}</string>
			<key>spriteSourceSize</key>
			<string>{31,27}</string>
			<key>textureRect</key>
			<string>{{0,0},{31,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,0.375}</string>
			<key>spriteSize</key>
			<string>{27,25}</string>
			<key>spriteSourceSize</key>
			<string>{27,25}</string>
			<key>textureRect</key>
			<string>{{32,0},{25,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_11_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.625,1.5}</string>
			<key>spriteSize</key>
			<string>{20,22}</string>
			<key>spriteSourceSize</key>
			<string>{20,22}</string>
			<key>textureRect</key>
			<string>{{58,0},{20,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.375}</string>
			<key>spriteSize</key>
			<string>{33,29}</string>
			<key>spriteSourceSize</key>
			<string>{33,29}</string>
			<key>textureRect</key>
			<string>{{79,0},{33,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.25}</string>
			<key>spriteSize</key>
			<string>{10,14}</string>
			<key>spriteSourceSize</key>
			<string>{10,14}</string>
			<key>textureRect</key>
			<string>{{113,0},{10,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.25,2.25}</string>
			<key>spriteSize</key>
			<string>{5,5}</string>
			<key>spriteSourceSize</key>
			<string>{5,5}</string>
			<key>textureRect</key>
			<string>{{124,0},{5,5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_11_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.25}</string>
			<key>spriteSize</key>
			<string>{12,16}</string>
			<key>spriteSourceSize</key>
			<string>{12,16}</string>
			<key>textureRect</key>
			<string>{{130,0},{12,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{4,12}</string>
			<key>spriteSourceSize</key>
			<string>{4,12}</string>
			<key>textureRect</key>
			<string>{{143,0},{4,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{3,11}</string>
			<key>spriteSourceSize</key>
			<string>{3,11}</string>
			<key>textureRect</key>
			<string>{{148,0},{3,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{6,14}</string>
			<key>spriteSourceSize</key>
			<string>{6,14}</string>
			<key>textureRect</key>
			<string>{{152,0},{6,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{13,8}</string>
			<key>textureRect</key>
			<string>{{159,0},{8,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_11_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{168,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{15,10}</string>
			<key>spriteSourceSize</key>
			<string>{15,10}</string>
			<key>textureRect</key>
			<string>{{170,0},{10,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_11.png</string>
		<key>size</key>
		<string>{181,29}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_11.png</string>
	</dict>
</dict>
</plist>
