<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_55_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,2.875}</string>
			<key>spriteSize</key>
			<string>{22,11}</string>
			<key>spriteSourceSize</key>
			<string>{22,11}</string>
			<key>textureRect</key>
			<string>{{0,0},{11,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_55_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,2.125}</string>
			<key>spriteSize</key>
			<string>{29,21}</string>
			<key>spriteSourceSize</key>
			<string>{29,21}</string>
			<key>textureRect</key>
			<string>{{12,0},{29,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.375,2.5}</string>
			<key>spriteSize</key>
			<string>{32,25}</string>
			<key>spriteSourceSize</key>
			<string>{32,25}</string>
			<key>textureRect</key>
			<string>{{42,0},{32,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.375,2.5}</string>
			<key>spriteSize</key>
			<string>{34,27}</string>
			<key>spriteSourceSize</key>
			<string>{34,27}</string>
			<key>textureRect</key>
			<string>{{75,0},{34,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{10,14}</string>
			<key>spriteSourceSize</key>
			<string>{10,14}</string>
			<key>textureRect</key>
			<string>{{110,0},{10,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,-0.125}</string>
			<key>spriteSize</key>
			<string>{8,12}</string>
			<key>spriteSourceSize</key>
			<string>{8,12}</string>
			<key>textureRect</key>
			<string>{{121,0},{8,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{12,16}</string>
			<key>spriteSourceSize</key>
			<string>{12,16}</string>
			<key>textureRect</key>
			<string>{{130,0},{12,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{4,12}</string>
			<key>spriteSourceSize</key>
			<string>{4,12}</string>
			<key>textureRect</key>
			<string>{{143,0},{4,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{3,11}</string>
			<key>spriteSourceSize</key>
			<string>{3,11}</string>
			<key>textureRect</key>
			<string>{{148,0},{3,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{6,14}</string>
			<key>spriteSourceSize</key>
			<string>{6,14}</string>
			<key>textureRect</key>
			<string>{{152,0},{6,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{13,8}</string>
			<key>textureRect</key>
			<string>{{159,0},{8,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_55_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{168,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{15,10}</string>
			<key>spriteSourceSize</key>
			<string>{15,10}</string>
			<key>textureRect</key>
			<string>{{170,0},{10,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_55.png</string>
		<key>size</key>
		<string>{181,27}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_55.png</string>
	</dict>
</dict>
</plist>
