<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_33_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5.5,11}</string>
			<key>spriteSize</key>
			<string>{131,102}</string>
			<key>spriteSourceSize</key>
			<string>{131,102}</string>
			<key>textureRect</key>
			<string>{{0,0},{131,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_33_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5.5,11.5}</string>
			<key>spriteSize</key>
			<string>{125,97}</string>
			<key>spriteSourceSize</key>
			<string>{125,97}</string>
			<key>textureRect</key>
			<string>{{132,0},{125,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_33_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5.5,11}</string>
			<key>spriteSize</key>
			<string>{139,110}</string>
			<key>spriteSourceSize</key>
			<string>{139,110}</string>
			<key>textureRect</key>
			<string>{{258,0},{139,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_33_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0.5}</string>
			<key>spriteSize</key>
			<string>{42,57}</string>
			<key>spriteSourceSize</key>
			<string>{42,57}</string>
			<key>textureRect</key>
			<string>{{398,0},{42,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_33_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0}</string>
			<key>spriteSize</key>
			<string>{5,4}</string>
			<key>spriteSourceSize</key>
			<string>{5,4}</string>
			<key>textureRect</key>
			<string>{{441,0},{4,5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_33_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0.5}</string>
			<key>spriteSize</key>
			<string>{50,65}</string>
			<key>spriteSourceSize</key>
			<string>{50,65}</string>
			<key>textureRect</key>
			<string>{{446,0},{50,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_33_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{497,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_33_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{516,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_33_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{531,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_33_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{558,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_33_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0}</string>
			<key>spriteSize</key>
			<string>{5,4}</string>
			<key>spriteSourceSize</key>
			<string>{5,4}</string>
			<key>textureRect</key>
			<string>{{593,0},{4,5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_33_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{598,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_33-uhd.png</string>
		<key>size</key>
		<string>{641,110}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_33-uhd.png</string>
	</dict>
</dict>
</plist>
