<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_65_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-2.0}</string>
			<key>spriteSize</key>
			<string>{62,53}</string>
			<key>spriteSourceSize</key>
			<string>{62,53}</string>
			<key>textureRect</key>
			<string>{{0,0},{62,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_65_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-1.0}</string>
			<key>spriteSize</key>
			<string>{59,48}</string>
			<key>spriteSourceSize</key>
			<string>{59,48}</string>
			<key>textureRect</key>
			<string>{{63,0},{48,59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_65_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{14.0,2.5}</string>
			<key>spriteSize</key>
			<string>{30,36}</string>
			<key>spriteSourceSize</key>
			<string>{30,36}</string>
			<key>textureRect</key>
			<string>{{112,0},{30,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_65_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-2.0}</string>
			<key>spriteSize</key>
			<string>{66,57}</string>
			<key>spriteSourceSize</key>
			<string>{66,57}</string>
			<key>textureRect</key>
			<string>{{143,0},{66,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_65_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.5}</string>
			<key>spriteSize</key>
			<string>{26,26}</string>
			<key>spriteSourceSize</key>
			<string>{26,26}</string>
			<key>textureRect</key>
			<string>{{210,0},{26,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_65_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7.0,5.5}</string>
			<key>spriteSize</key>
			<string>{7,8}</string>
			<key>spriteSourceSize</key>
			<string>{7,8}</string>
			<key>textureRect</key>
			<string>{{237,0},{7,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_65_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.5}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{245,0},{30,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_65_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{9,25}</string>
			<key>textureRect</key>
			<string>{{276,0},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_65_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{7,23}</string>
			<key>textureRect</key>
			<string>{{286,0},{7,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_65_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{294,0},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_65_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{308,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_65_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{11,8}</string>
			<key>spriteSourceSize</key>
			<string>{11,8}</string>
			<key>textureRect</key>
			<string>{{326,0},{8,11}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_65_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{335,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_65-hd.png</string>
		<key>size</key>
		<string>{357,59}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_65-hd.png</string>
	</dict>
</dict>
</plist>
