<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_47_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.25,2.875}</string>
			<key>spriteSize</key>
			<string>{26,29}</string>
			<key>spriteSourceSize</key>
			<string>{26,29}</string>
			<key>textureRect</key>
			<string>{{0,0},{29,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_47_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.375,2.75}</string>
			<key>spriteSize</key>
			<string>{25,27}</string>
			<key>spriteSourceSize</key>
			<string>{25,27}</string>
			<key>textureRect</key>
			<string>{{30,0},{25,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_47_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.375,3.25}</string>
			<key>spriteSize</key>
			<string>{25,26}</string>
			<key>spriteSourceSize</key>
			<string>{25,26}</string>
			<key>textureRect</key>
			<string>{{56,0},{25,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_47_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.25,2.875}</string>
			<key>spriteSize</key>
			<string>{28,31}</string>
			<key>spriteSourceSize</key>
			<string>{28,31}</string>
			<key>textureRect</key>
			<string>{{82,0},{31,28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_47_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.125}</string>
			<key>spriteSize</key>
			<string>{9,13}</string>
			<key>spriteSourceSize</key>
			<string>{9,13}</string>
			<key>textureRect</key>
			<string>{{114,0},{9,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_47_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{8,12}</string>
			<key>spriteSourceSize</key>
			<string>{8,12}</string>
			<key>textureRect</key>
			<string>{{124,0},{8,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_47_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.125}</string>
			<key>spriteSize</key>
			<string>{11,15}</string>
			<key>spriteSourceSize</key>
			<string>{11,15}</string>
			<key>textureRect</key>
			<string>{{133,0},{11,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_47_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{4,12}</string>
			<key>spriteSourceSize</key>
			<string>{4,12}</string>
			<key>textureRect</key>
			<string>{{145,0},{4,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_47_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{3,11}</string>
			<key>spriteSourceSize</key>
			<string>{3,11}</string>
			<key>textureRect</key>
			<string>{{150,0},{3,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_47_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{6,14}</string>
			<key>spriteSourceSize</key>
			<string>{6,14}</string>
			<key>textureRect</key>
			<string>{{154,0},{6,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_47_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{13,8}</string>
			<key>textureRect</key>
			<string>{{161,0},{8,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_47_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.125}</string>
			<key>spriteSize</key>
			<string>{12,6}</string>
			<key>spriteSourceSize</key>
			<string>{12,6}</string>
			<key>textureRect</key>
			<string>{{170,0},{6,12}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_47_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{15,10}</string>
			<key>spriteSourceSize</key>
			<string>{15,10}</string>
			<key>textureRect</key>
			<string>{{177,0},{10,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_47.png</string>
		<key>size</key>
		<string>{188,28}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_47.png</string>
	</dict>
</dict>
</plist>
