<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_45_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.75,5.5}</string>
			<key>spriteSize</key>
			<string>{65,51}</string>
			<key>spriteSourceSize</key>
			<string>{65,51}</string>
			<key>textureRect</key>
			<string>{{0,0},{65,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.25,4.75}</string>
			<key>spriteSize</key>
			<string>{59,45}</string>
			<key>spriteSourceSize</key>
			<string>{59,45}</string>
			<key>textureRect</key>
			<string>{{66,0},{59,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.25,4.75}</string>
			<key>spriteSize</key>
			<string>{58,44}</string>
			<key>spriteSourceSize</key>
			<string>{58,44}</string>
			<key>textureRect</key>
			<string>{{126,0},{58,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.75,5.5}</string>
			<key>spriteSize</key>
			<string>{69,55}</string>
			<key>spriteSourceSize</key>
			<string>{69,55}</string>
			<key>textureRect</key>
			<string>{{185,0},{69,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.25}</string>
			<key>spriteSize</key>
			<string>{21,28}</string>
			<key>spriteSourceSize</key>
			<string>{21,28}</string>
			<key>textureRect</key>
			<string>{{255,0},{21,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.25}</string>
			<key>spriteSize</key>
			<string>{18,25}</string>
			<key>spriteSourceSize</key>
			<string>{18,25}</string>
			<key>textureRect</key>
			<string>{{277,0},{18,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.25}</string>
			<key>spriteSize</key>
			<string>{25,32}</string>
			<key>spriteSourceSize</key>
			<string>{25,32}</string>
			<key>textureRect</key>
			<string>{{296,0},{25,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{9,25}</string>
			<key>textureRect</key>
			<string>{{322,0},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{7,23}</string>
			<key>textureRect</key>
			<string>{{332,0},{7,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{340,0},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{354,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_45_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{23,13}</string>
			<key>spriteSourceSize</key>
			<string>{23,13}</string>
			<key>textureRect</key>
			<string>{{372,0},{13,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_45_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{386,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_45-hd.png</string>
		<key>size</key>
		<string>{408,55}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_45-hd.png</string>
	</dict>
</dict>
</plist>
