<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_56_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.875,2.875}</string>
			<key>spriteSize</key>
			<string>{27,29}</string>
			<key>spriteSourceSize</key>
			<string>{27,29}</string>
			<key>textureRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_56_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,2.75}</string>
			<key>spriteSize</key>
			<string>{26,28}</string>
			<key>spriteSourceSize</key>
			<string>{26,28}</string>
			<key>textureRect</key>
			<string>{{30,0},{26,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_56_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.875,2.875}</string>
			<key>spriteSize</key>
			<string>{29,31}</string>
			<key>spriteSourceSize</key>
			<string>{29,31}</string>
			<key>textureRect</key>
			<string>{{57,0},{31,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_56_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.125}</string>
			<key>spriteSize</key>
			<string>{9,13}</string>
			<key>spriteSourceSize</key>
			<string>{9,13}</string>
			<key>textureRect</key>
			<string>{{89,0},{9,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_56_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{8,12}</string>
			<key>spriteSourceSize</key>
			<string>{8,12}</string>
			<key>textureRect</key>
			<string>{{99,0},{8,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_56_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.125}</string>
			<key>spriteSize</key>
			<string>{11,15}</string>
			<key>spriteSourceSize</key>
			<string>{11,15}</string>
			<key>textureRect</key>
			<string>{{108,0},{11,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_56_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{4,12}</string>
			<key>spriteSourceSize</key>
			<string>{4,12}</string>
			<key>textureRect</key>
			<string>{{120,0},{4,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_56_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{3,11}</string>
			<key>spriteSourceSize</key>
			<string>{3,11}</string>
			<key>textureRect</key>
			<string>{{125,0},{3,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_56_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{6,14}</string>
			<key>spriteSourceSize</key>
			<string>{6,14}</string>
			<key>textureRect</key>
			<string>{{129,0},{6,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_56_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{13,8}</string>
			<key>textureRect</key>
			<string>{{136,0},{8,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_56_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{12,7}</string>
			<key>spriteSourceSize</key>
			<string>{12,7}</string>
			<key>textureRect</key>
			<string>{{145,0},{7,12}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_56_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{15,10}</string>
			<key>spriteSourceSize</key>
			<string>{15,10}</string>
			<key>textureRect</key>
			<string>{{153,0},{10,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_56.png</string>
		<key>size</key>
		<string>{164,29}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_56.png</string>
	</dict>
</dict>
</plist>
