<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_30_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,78}</string>
			<key>textureRect</key>
			<string>{{0,0},{78,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_30_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{96,54}</string>
			<key>spriteSourceSize</key>
			<string>{96,54}</string>
			<key>textureRect</key>
			<string>{{79,0},{54,96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_30_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{116,86}</string>
			<key>spriteSourceSize</key>
			<string>{116,86}</string>
			<key>textureRect</key>
			<string>{{134,0},{116,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_30_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{38,53}</string>
			<key>spriteSourceSize</key>
			<string>{38,53}</string>
			<key>textureRect</key>
			<string>{{251,0},{38,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_30_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,6}</string>
			<key>spriteSourceSize</key>
			<string>{6,6}</string>
			<key>textureRect</key>
			<string>{{290,0},{6,6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_30_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{46,61}</string>
			<key>spriteSourceSize</key>
			<string>{46,61}</string>
			<key>textureRect</key>
			<string>{{297,0},{46,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_30_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{344,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_30_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{363,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_30_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{378,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_30_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{405,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_30_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,6}</string>
			<key>spriteSourceSize</key>
			<string>{6,6}</string>
			<key>textureRect</key>
			<string>{{440,0},{6,6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_30_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{447,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_30-uhd.png</string>
		<key>size</key>
		<string>{490,108}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_30-uhd.png</string>
	</dict>
</dict>
</plist>
