<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_18_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,2.5}</string>
			<key>spriteSize</key>
			<string>{119,107}</string>
			<key>spriteSourceSize</key>
			<string>{119,107}</string>
			<key>textureRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_18_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,3}</string>
			<key>spriteSize</key>
			<string>{110,98}</string>
			<key>spriteSourceSize</key>
			<string>{110,98}</string>
			<key>textureRect</key>
			<string>{{108,0},{98,110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_18_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{31.5,14.5}</string>
			<key>spriteSize</key>
			<string>{55,65}</string>
			<key>spriteSourceSize</key>
			<string>{55,65}</string>
			<key>textureRect</key>
			<string>{{207,0},{55,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_18_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,2.5}</string>
			<key>spriteSize</key>
			<string>{127,115}</string>
			<key>spriteSourceSize</key>
			<string>{127,115}</string>
			<key>textureRect</key>
			<string>{{263,0},{127,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_18_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-0.5}</string>
			<key>spriteSize</key>
			<string>{38,53}</string>
			<key>spriteSourceSize</key>
			<string>{38,53}</string>
			<key>textureRect</key>
			<string>{{391,0},{38,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_18_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{30,46}</string>
			<key>spriteSourceSize</key>
			<string>{30,46}</string>
			<key>textureRect</key>
			<string>{{430,0},{30,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_18_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-0.5}</string>
			<key>spriteSize</key>
			<string>{46,61}</string>
			<key>spriteSourceSize</key>
			<string>{46,61}</string>
			<key>textureRect</key>
			<string>{{461,0},{46,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_18_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{508,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_18_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{12,44}</string>
			<key>spriteSourceSize</key>
			<string>{12,44}</string>
			<key>textureRect</key>
			<string>{{527,0},{12,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_18_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{540,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_18_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{567,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_18_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0.5}</string>
			<key>spriteSize</key>
			<string>{46,25}</string>
			<key>spriteSourceSize</key>
			<string>{46,25}</string>
			<key>textureRect</key>
			<string>{{602,0},{25,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_18_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{628,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_18-uhd.png</string>
		<key>size</key>
		<string>{671,119}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_18-uhd.png</string>
	</dict>
</dict>
</plist>
