<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_59_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2.5}</string>
			<key>spriteSize</key>
			<string>{98,79}</string>
			<key>spriteSourceSize</key>
			<string>{98,79}</string>
			<key>textureRect</key>
			<string>{{0,0},{79,98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_59_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{25,16}</string>
			<key>spriteSize</key>
			<string>{44,52}</string>
			<key>spriteSourceSize</key>
			<string>{44,52}</string>
			<key>textureRect</key>
			<string>{{80,0},{44,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{108,96}</string>
			<key>spriteSourceSize</key>
			<string>{108,96}</string>
			<key>textureRect</key>
			<string>{{125,0},{96,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_59_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{116,104}</string>
			<key>spriteSourceSize</key>
			<string>{116,104}</string>
			<key>textureRect</key>
			<string>{{222,0},{116,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{47,63}</string>
			<key>spriteSourceSize</key>
			<string>{47,63}</string>
			<key>textureRect</key>
			<string>{{339,0},{47,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{387,0},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{55,71}</string>
			<key>spriteSourceSize</key>
			<string>{55,71}</string>
			<key>textureRect</key>
			<string>{{406,0},{55,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{462,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{481,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{496,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_59_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.5}</string>
			<key>spriteSize</key>
			<string>{63,37}</string>
			<key>spriteSourceSize</key>
			<string>{63,37}</string>
			<key>textureRect</key>
			<string>{{523,0},{37,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_59_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10.5,4.5}</string>
			<key>spriteSize</key>
			<string>{21,13}</string>
			<key>spriteSourceSize</key>
			<string>{21,13}</string>
			<key>textureRect</key>
			<string>{{561,0},{13,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_59_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.5}</string>
			<key>spriteSize</key>
			<string>{71,45}</string>
			<key>spriteSourceSize</key>
			<string>{71,45}</string>
			<key>textureRect</key>
			<string>{{575,0},{45,71}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_59-uhd.png</string>
		<key>size</key>
		<string>{621,108}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_59-uhd.png</string>
	</dict>
</dict>
</plist>
