<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_11_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.75}</string>
			<key>spriteSize</key>
			<string>{63,54}</string>
			<key>spriteSourceSize</key>
			<string>{63,54}</string>
			<key>textureRect</key>
			<string>{{0,0},{63,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,0.75}</string>
			<key>spriteSize</key>
			<string>{55,50}</string>
			<key>spriteSourceSize</key>
			<string>{55,50}</string>
			<key>textureRect</key>
			<string>{{64,0},{50,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_11_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7.25,3.0}</string>
			<key>spriteSize</key>
			<string>{40,45}</string>
			<key>spriteSourceSize</key>
			<string>{40,45}</string>
			<key>textureRect</key>
			<string>{{115,0},{40,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.75}</string>
			<key>spriteSize</key>
			<string>{67,58}</string>
			<key>spriteSourceSize</key>
			<string>{67,58}</string>
			<key>textureRect</key>
			<string>{{156,0},{67,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.5}</string>
			<key>spriteSize</key>
			<string>{21,28}</string>
			<key>spriteSourceSize</key>
			<string>{21,28}</string>
			<key>textureRect</key>
			<string>{{224,0},{21,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.5,4.5}</string>
			<key>spriteSize</key>
			<string>{10,10}</string>
			<key>spriteSourceSize</key>
			<string>{10,10}</string>
			<key>textureRect</key>
			<string>{{246,0},{10,10}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_11_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.5}</string>
			<key>spriteSize</key>
			<string>{25,32}</string>
			<key>spriteSourceSize</key>
			<string>{25,32}</string>
			<key>textureRect</key>
			<string>{{257,0},{25,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{9,25}</string>
			<key>textureRect</key>
			<string>{{283,0},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{7,23}</string>
			<key>textureRect</key>
			<string>{{293,0},{7,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{301,0},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{315,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_11_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{3,3}</string>
			<key>textureRect</key>
			<string>{{333,0},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{337,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_11-hd.png</string>
		<key>size</key>
		<string>{359,58}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_11-hd.png</string>
	</dict>
</dict>
</plist>
