<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_16_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-1}</string>
			<key>spriteSize</key>
			<string>{108,96}</string>
			<key>spriteSourceSize</key>
			<string>{108,96}</string>
			<key>textureRect</key>
			<string>{{0,0},{108,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{99,87}</string>
			<key>spriteSourceSize</key>
			<string>{99,87}</string>
			<key>textureRect</key>
			<string>{{109,0},{87,99}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{26,-1}</string>
			<key>spriteSize</key>
			<string>{54,86}</string>
			<key>spriteSourceSize</key>
			<string>{54,86}</string>
			<key>textureRect</key>
			<string>{{197,0},{54,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-1}</string>
			<key>spriteSize</key>
			<string>{116,104}</string>
			<key>spriteSourceSize</key>
			<string>{116,104}</string>
			<key>textureRect</key>
			<string>{{252,0},{116,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{47,63}</string>
			<key>spriteSourceSize</key>
			<string>{47,63}</string>
			<key>textureRect</key>
			<string>{{369,0},{47,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-1}</string>
			<key>spriteSize</key>
			<string>{35,52}</string>
			<key>spriteSourceSize</key>
			<string>{35,52}</string>
			<key>textureRect</key>
			<string>{{417,0},{35,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{55,71}</string>
			<key>spriteSourceSize</key>
			<string>{55,71}</string>
			<key>textureRect</key>
			<string>{{453,0},{55,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{509,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{528,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{543,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.5}</string>
			<key>spriteSize</key>
			<string>{63,37}</string>
			<key>spriteSourceSize</key>
			<string>{63,37}</string>
			<key>textureRect</key>
			<string>{{570,0},{37,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,0}</string>
			<key>spriteSize</key>
			<string>{51,26}</string>
			<key>spriteSourceSize</key>
			<string>{51,26}</string>
			<key>textureRect</key>
			<string>{{608,0},{26,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.5}</string>
			<key>spriteSize</key>
			<string>{71,45}</string>
			<key>spriteSourceSize</key>
			<string>{71,45}</string>
			<key>textureRect</key>
			<string>{{635,0},{45,71}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_16-uhd.png</string>
		<key>size</key>
		<string>{681,104}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_16-uhd.png</string>
	</dict>
</dict>
</plist>
