<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_08_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,1}</string>
			<key>spriteSize</key>
			<string>{115,100}</string>
			<key>spriteSourceSize</key>
			<string>{115,100}</string>
			<key>textureRect</key>
			<string>{{0,0},{115,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,0.5}</string>
			<key>spriteSize</key>
			<string>{102,87}</string>
			<key>spriteSourceSize</key>
			<string>{102,87}</string>
			<key>textureRect</key>
			<string>{{116,0},{102,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,1}</string>
			<key>spriteSize</key>
			<string>{99,84}</string>
			<key>spriteSourceSize</key>
			<string>{99,84}</string>
			<key>textureRect</key>
			<string>{{219,0},{84,99}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_08_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,1}</string>
			<key>spriteSize</key>
			<string>{123,108}</string>
			<key>spriteSourceSize</key>
			<string>{123,108}</string>
			<key>textureRect</key>
			<string>{{304,0},{123,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-1}</string>
			<key>spriteSize</key>
			<string>{47,64}</string>
			<key>spriteSourceSize</key>
			<string>{47,64}</string>
			<key>textureRect</key>
			<string>{{428,0},{47,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{14,14}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{476,0},{14,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-1}</string>
			<key>spriteSize</key>
			<string>{55,72}</string>
			<key>spriteSourceSize</key>
			<string>{55,72}</string>
			<key>textureRect</key>
			<string>{{491,0},{55,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{547,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{566,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{581,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0.5}</string>
			<key>spriteSize</key>
			<string>{64,37}</string>
			<key>spriteSourceSize</key>
			<string>{64,37}</string>
			<key>textureRect</key>
			<string>{{608,0},{37,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_08_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10.5,4.5}</string>
			<key>spriteSize</key>
			<string>{15,11}</string>
			<key>spriteSourceSize</key>
			<string>{15,11}</string>
			<key>textureRect</key>
			<string>{{646,0},{11,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_08_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0.5}</string>
			<key>spriteSize</key>
			<string>{72,45}</string>
			<key>spriteSourceSize</key>
			<string>{72,45}</string>
			<key>textureRect</key>
			<string>{{658,0},{45,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_08-uhd.png</string>
		<key>size</key>
		<string>{704,108}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_08-uhd.png</string>
	</dict>
</dict>
</plist>
