<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_55_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,11.5}</string>
			<key>spriteSize</key>
			<string>{88,45}</string>
			<key>spriteSourceSize</key>
			<string>{88,45}</string>
			<key>textureRect</key>
			<string>{{0,0},{45,88}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_55_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,8.5}</string>
			<key>spriteSize</key>
			<string>{116,87}</string>
			<key>spriteSourceSize</key>
			<string>{116,87}</string>
			<key>textureRect</key>
			<string>{{46,0},{116,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5.5,10}</string>
			<key>spriteSize</key>
			<string>{129,102}</string>
			<key>spriteSourceSize</key>
			<string>{129,102}</string>
			<key>textureRect</key>
			<string>{{163,0},{129,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5.5,10}</string>
			<key>spriteSize</key>
			<string>{137,110}</string>
			<key>spriteSourceSize</key>
			<string>{137,110}</string>
			<key>textureRect</key>
			<string>{{293,0},{137,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{42,56}</string>
			<key>spriteSourceSize</key>
			<string>{42,56}</string>
			<key>textureRect</key>
			<string>{{431,0},{42,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{33,49}</string>
			<key>spriteSourceSize</key>
			<string>{33,49}</string>
			<key>textureRect</key>
			<string>{{474,0},{33,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{50,64}</string>
			<key>spriteSourceSize</key>
			<string>{50,64}</string>
			<key>textureRect</key>
			<string>{{508,0},{50,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{17,50}</string>
			<key>spriteSourceSize</key>
			<string>{17,50}</string>
			<key>textureRect</key>
			<string>{{559,0},{17,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{12,44}</string>
			<key>spriteSourceSize</key>
			<string>{12,44}</string>
			<key>textureRect</key>
			<string>{{577,0},{12,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{25,58}</string>
			<key>spriteSourceSize</key>
			<string>{25,58}</string>
			<key>textureRect</key>
			<string>{{590,0},{25,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{616,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_55_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,6}</string>
			<key>spriteSourceSize</key>
			<string>{6,6}</string>
			<key>textureRect</key>
			<string>{{651,0},{6,6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_55_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{658,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_55-uhd.png</string>
		<key>size</key>
		<string>{701,110}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_55-uhd.png</string>
	</dict>
</dict>
</plist>
