<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_36_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,0.25}</string>
			<key>spriteSize</key>
			<string>{57,53}</string>
			<key>spriteSourceSize</key>
			<string>{57,53}</string>
			<key>textureRect</key>
			<string>{{0,0},{57,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_36_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{58,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_36_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,0.25}</string>
			<key>spriteSize</key>
			<string>{61,57}</string>
			<key>spriteSourceSize</key>
			<string>{61,57}</string>
			<key>textureRect</key>
			<string>{{60,0},{61,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_36_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.75,0.0}</string>
			<key>spriteSize</key>
			<string>{23,27}</string>
			<key>spriteSourceSize</key>
			<string>{23,27}</string>
			<key>textureRect</key>
			<string>{{122,0},{23,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_36_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{3,3}</string>
			<key>textureRect</key>
			<string>{{146,0},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_36_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.75,0.0}</string>
			<key>spriteSize</key>
			<string>{27,31}</string>
			<key>spriteSourceSize</key>
			<string>{27,31}</string>
			<key>textureRect</key>
			<string>{{150,0},{27,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_36_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{9,25}</string>
			<key>textureRect</key>
			<string>{{178,0},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_36_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{7,23}</string>
			<key>textureRect</key>
			<string>{{188,0},{7,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_36_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{196,0},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_36_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-0.5}</string>
			<key>spriteSize</key>
			<string>{26,16}</string>
			<key>spriteSourceSize</key>
			<string>{26,16}</string>
			<key>textureRect</key>
			<string>{{210,0},{16,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_36_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{3,3}</string>
			<key>textureRect</key>
			<string>{{227,0},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_36_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-0.5}</string>
			<key>spriteSize</key>
			<string>{30,20}</string>
			<key>spriteSourceSize</key>
			<string>{30,20}</string>
			<key>textureRect</key>
			<string>{{231,0},{20,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_36-hd.png</string>
		<key>size</key>
		<string>{252,57}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_36-hd.png</string>
	</dict>
</dict>
</plist>
