<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_16_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-0.5}</string>
			<key>spriteSize</key>
			<string>{54,48}</string>
			<key>spriteSourceSize</key>
			<string>{54,48}</string>
			<key>textureRect</key>
			<string>{{0,0},{54,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,-0.25}</string>
			<key>spriteSize</key>
			<string>{49,43}</string>
			<key>spriteSourceSize</key>
			<string>{49,43}</string>
			<key>textureRect</key>
			<string>{{55,0},{43,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13.0,-0.5}</string>
			<key>spriteSize</key>
			<string>{27,43}</string>
			<key>spriteSourceSize</key>
			<string>{27,43}</string>
			<key>textureRect</key>
			<string>{{99,0},{27,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-0.5}</string>
			<key>spriteSize</key>
			<string>{58,52}</string>
			<key>spriteSourceSize</key>
			<string>{58,52}</string>
			<key>textureRect</key>
			<string>{{127,0},{58,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.75}</string>
			<key>spriteSize</key>
			<string>{23,31}</string>
			<key>spriteSourceSize</key>
			<string>{23,31}</string>
			<key>textureRect</key>
			<string>{{186,0},{23,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.5}</string>
			<key>spriteSize</key>
			<string>{17,26}</string>
			<key>spriteSourceSize</key>
			<string>{17,26}</string>
			<key>textureRect</key>
			<string>{{210,0},{17,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.75}</string>
			<key>spriteSize</key>
			<string>{27,35}</string>
			<key>spriteSourceSize</key>
			<string>{27,35}</string>
			<key>textureRect</key>
			<string>{{228,0},{27,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{9,25}</string>
			<key>textureRect</key>
			<string>{{256,0},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{7,23}</string>
			<key>textureRect</key>
			<string>{{266,0},{7,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{274,0},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,0.25}</string>
			<key>spriteSize</key>
			<string>{31,18}</string>
			<key>spriteSourceSize</key>
			<string>{31,18}</string>
			<key>textureRect</key>
			<string>{{288,0},{18,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,0.0}</string>
			<key>spriteSize</key>
			<string>{25,13}</string>
			<key>spriteSourceSize</key>
			<string>{25,13}</string>
			<key>textureRect</key>
			<string>{{307,0},{13,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,0.25}</string>
			<key>spriteSize</key>
			<string>{35,22}</string>
			<key>spriteSourceSize</key>
			<string>{35,22}</string>
			<key>textureRect</key>
			<string>{{321,0},{22,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_16-hd.png</string>
		<key>size</key>
		<string>{344,52}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_16-hd.png</string>
	</dict>
</dict>
</plist>
