<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_54_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.5,9.5}</string>
			<key>spriteSize</key>
			<string>{116,93}</string>
			<key>spriteSourceSize</key>
			<string>{116,93}</string>
			<key>textureRect</key>
			<string>{{0,0},{116,93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_54_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,9.5}</string>
			<key>spriteSize</key>
			<string>{119,93}</string>
			<key>spriteSourceSize</key>
			<string>{119,93}</string>
			<key>textureRect</key>
			<string>{{117,0},{119,93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_54_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,10}</string>
			<key>spriteSize</key>
			<string>{131,102}</string>
			<key>spriteSourceSize</key>
			<string>{131,102}</string>
			<key>textureRect</key>
			<string>{{237,0},{131,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_54_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,10}</string>
			<key>spriteSize</key>
			<string>{139,110}</string>
			<key>spriteSourceSize</key>
			<string>{139,110}</string>
			<key>textureRect</key>
			<string>{{369,0},{139,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_54_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{42,57}</string>
			<key>spriteSourceSize</key>
			<string>{42,57}</string>
			<key>textureRect</key>
			<string>{{509,0},{42,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_54_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{34,49}</string>
			<key>spriteSourceSize</key>
			<string>{34,49}</string>
			<key>textureRect</key>
			<string>{{552,0},{34,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_54_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{50,65}</string>
			<key>spriteSourceSize</key>
			<string>{50,65}</string>
			<key>textureRect</key>
			<string>{{587,0},{50,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_54_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{638,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_54_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{657,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_54_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{672,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_54_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{699,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_54_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0}</string>
			<key>spriteSize</key>
			<string>{45,26}</string>
			<key>spriteSourceSize</key>
			<string>{45,26}</string>
			<key>textureRect</key>
			<string>{{734,0},{26,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_54_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{761,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_54-uhd.png</string>
		<key>size</key>
		<string>{804,110}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_54-uhd.png</string>
	</dict>
</dict>
</plist>
