<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_08_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,0.5}</string>
			<key>spriteSize</key>
			<string>{57,50}</string>
			<key>spriteSourceSize</key>
			<string>{57,50}</string>
			<key>textureRect</key>
			<string>{{0,0},{57,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,0.25}</string>
			<key>spriteSize</key>
			<string>{51,43}</string>
			<key>spriteSourceSize</key>
			<string>{51,43}</string>
			<key>textureRect</key>
			<string>{{58,0},{51,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,0.5}</string>
			<key>spriteSize</key>
			<string>{49,42}</string>
			<key>spriteSourceSize</key>
			<string>{49,42}</string>
			<key>textureRect</key>
			<string>{{110,0},{42,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_08_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,0.5}</string>
			<key>spriteSize</key>
			<string>{61,54}</string>
			<key>spriteSourceSize</key>
			<string>{61,54}</string>
			<key>textureRect</key>
			<string>{{153,0},{61,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.5}</string>
			<key>spriteSize</key>
			<string>{23,32}</string>
			<key>spriteSourceSize</key>
			<string>{23,32}</string>
			<key>textureRect</key>
			<string>{{215,0},{23,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{7,7}</string>
			<key>spriteSourceSize</key>
			<string>{7,7}</string>
			<key>textureRect</key>
			<string>{{239,0},{7,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.5}</string>
			<key>spriteSize</key>
			<string>{27,36}</string>
			<key>spriteSourceSize</key>
			<string>{27,36}</string>
			<key>textureRect</key>
			<string>{{247,0},{27,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{9,25}</string>
			<key>textureRect</key>
			<string>{{275,0},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{7,23}</string>
			<key>textureRect</key>
			<string>{{285,0},{7,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{293,0},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.25}</string>
			<key>spriteSize</key>
			<string>{32,18}</string>
			<key>spriteSourceSize</key>
			<string>{32,18}</string>
			<key>textureRect</key>
			<string>{{307,0},{18,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_08_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5.25,2.25}</string>
			<key>spriteSize</key>
			<string>{7,5}</string>
			<key>spriteSourceSize</key>
			<string>{7,5}</string>
			<key>textureRect</key>
			<string>{{326,0},{5,7}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_08_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.25}</string>
			<key>spriteSize</key>
			<string>{36,22}</string>
			<key>spriteSourceSize</key>
			<string>{36,22}</string>
			<key>textureRect</key>
			<string>{{332,0},{22,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_08-hd.png</string>
		<key>size</key>
		<string>{355,54}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_08-hd.png</string>
	</dict>
</dict>
</plist>
