<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_18_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,1.25}</string>
			<key>spriteSize</key>
			<string>{59,53}</string>
			<key>spriteSourceSize</key>
			<string>{59,53}</string>
			<key>textureRect</key>
			<string>{{0,0},{53,59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_18_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,1.5}</string>
			<key>spriteSize</key>
			<string>{55,49}</string>
			<key>spriteSourceSize</key>
			<string>{55,49}</string>
			<key>textureRect</key>
			<string>{{54,0},{49,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_18_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{15.75,7.25}</string>
			<key>spriteSize</key>
			<string>{27,32}</string>
			<key>spriteSourceSize</key>
			<string>{27,32}</string>
			<key>textureRect</key>
			<string>{{104,0},{27,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_18_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,1.25}</string>
			<key>spriteSize</key>
			<string>{63,57}</string>
			<key>spriteSourceSize</key>
			<string>{63,57}</string>
			<key>textureRect</key>
			<string>{{132,0},{63,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_18_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-0.25}</string>
			<key>spriteSize</key>
			<string>{19,26}</string>
			<key>spriteSourceSize</key>
			<string>{19,26}</string>
			<key>textureRect</key>
			<string>{{196,0},{19,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_18_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.0}</string>
			<key>spriteSize</key>
			<string>{15,23}</string>
			<key>spriteSourceSize</key>
			<string>{15,23}</string>
			<key>textureRect</key>
			<string>{{216,0},{15,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_18_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-0.25}</string>
			<key>spriteSize</key>
			<string>{23,30}</string>
			<key>spriteSourceSize</key>
			<string>{23,30}</string>
			<key>textureRect</key>
			<string>{{232,0},{23,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_18_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{9,25}</string>
			<key>textureRect</key>
			<string>{{256,0},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_18_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{6,22}</string>
			<key>spriteSourceSize</key>
			<string>{6,22}</string>
			<key>textureRect</key>
			<string>{{266,0},{6,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_18_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{273,0},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_18_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{287,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_18_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,0.25}</string>
			<key>spriteSize</key>
			<string>{23,12}</string>
			<key>spriteSourceSize</key>
			<string>{23,12}</string>
			<key>textureRect</key>
			<string>{{305,0},{12,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_18_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{318,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_18-hd.png</string>
		<key>size</key>
		<string>{340,59}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_18-hd.png</string>
	</dict>
</dict>
</plist>
