<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_22_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,2.75}</string>
			<key>spriteSize</key>
			<string>{28,30}</string>
			<key>spriteSourceSize</key>
			<string>{28,30}</string>
			<key>textureRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_22_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,2.75}</string>
			<key>spriteSize</key>
			<string>{26,27}</string>
			<key>spriteSourceSize</key>
			<string>{26,27}</string>
			<key>textureRect</key>
			<string>{{29,0},{26,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_22_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.75,2.75}</string>
			<key>spriteSize</key>
			<string>{25,26}</string>
			<key>spriteSourceSize</key>
			<string>{25,26}</string>
			<key>textureRect</key>
			<string>{{56,0},{25,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_22_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,2.75}</string>
			<key>spriteSize</key>
			<string>{30,32}</string>
			<key>spriteSourceSize</key>
			<string>{30,32}</string>
			<key>textureRect</key>
			<string>{{82,0},{32,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_22_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.25}</string>
			<key>spriteSize</key>
			<string>{11,13}</string>
			<key>spriteSourceSize</key>
			<string>{11,13}</string>
			<key>textureRect</key>
			<string>{{115,0},{11,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_22_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,0.25}</string>
			<key>spriteSize</key>
			<string>{7,7}</string>
			<key>spriteSourceSize</key>
			<string>{7,7}</string>
			<key>textureRect</key>
			<string>{{127,0},{7,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_22_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.25}</string>
			<key>spriteSize</key>
			<string>{13,15}</string>
			<key>spriteSourceSize</key>
			<string>{13,15}</string>
			<key>textureRect</key>
			<string>{{135,0},{13,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_22_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{4,12}</string>
			<key>spriteSourceSize</key>
			<string>{4,12}</string>
			<key>textureRect</key>
			<string>{{149,0},{4,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_22_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{3,11}</string>
			<key>spriteSourceSize</key>
			<string>{3,11}</string>
			<key>textureRect</key>
			<string>{{154,0},{3,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_22_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{6,14}</string>
			<key>spriteSourceSize</key>
			<string>{6,14}</string>
			<key>textureRect</key>
			<string>{{158,0},{6,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_22_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{13,8}</string>
			<key>textureRect</key>
			<string>{{165,0},{8,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_22_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.375,0.0}</string>
			<key>spriteSize</key>
			<string>{8,6}</string>
			<key>spriteSourceSize</key>
			<string>{8,6}</string>
			<key>textureRect</key>
			<string>{{174,0},{6,8}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_22_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{15,10}</string>
			<key>spriteSourceSize</key>
			<string>{15,10}</string>
			<key>textureRect</key>
			<string>{{181,0},{10,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_22.png</string>
		<key>size</key>
		<string>{192,30}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_22.png</string>
	</dict>
</dict>
</plist>
