<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_52_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.25,1.0}</string>
			<key>spriteSize</key>
			<string>{57,48}</string>
			<key>spriteSourceSize</key>
			<string>{57,48}</string>
			<key>textureRect</key>
			<string>{{0,0},{48,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_52_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,0.25}</string>
			<key>spriteSize</key>
			<string>{56,44}</string>
			<key>spriteSourceSize</key>
			<string>{56,44}</string>
			<key>textureRect</key>
			<string>{{49,0},{44,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_52_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.25,1.0}</string>
			<key>spriteSize</key>
			<string>{61,52}</string>
			<key>spriteSourceSize</key>
			<string>{61,52}</string>
			<key>textureRect</key>
			<string>{{94,0},{61,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_52_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.0}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{156,0},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_52_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.25}</string>
			<key>spriteSize</key>
			<string>{10,9}</string>
			<key>spriteSourceSize</key>
			<string>{10,9}</string>
			<key>textureRect</key>
			<string>{{184,0},{9,10}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_52_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>textureRect</key>
			<string>{{194,0},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_52_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{9,25}</string>
			<key>textureRect</key>
			<string>{{226,0},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_52_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{236,0},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_52_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{239,0},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_52_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,-0.25}</string>
			<key>spriteSize</key>
			<string>{32,18}</string>
			<key>spriteSourceSize</key>
			<string>{32,18}</string>
			<key>textureRect</key>
			<string>{{253,0},{18,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_52_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.0}</string>
			<key>spriteSize</key>
			<string>{12,16}</string>
			<key>spriteSourceSize</key>
			<string>{12,16}</string>
			<key>textureRect</key>
			<string>{{272,0},{12,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_52_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,-0.25}</string>
			<key>spriteSize</key>
			<string>{36,22}</string>
			<key>spriteSourceSize</key>
			<string>{36,22}</string>
			<key>textureRect</key>
			<string>{{285,0},{22,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_52-hd.png</string>
		<key>size</key>
		<string>{308,57}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_52-hd.png</string>
	</dict>
</dict>
</plist>
