<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_05_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-5}</string>
			<key>spriteSize</key>
			<string>{132,105}</string>
			<key>spriteSourceSize</key>
			<string>{132,105}</string>
			<key>textureRect</key>
			<string>{{0,0},{105,132}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_05_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{20,0}</string>
			<key>spriteSize</key>
			<string>{50,37}</string>
			<key>spriteSourceSize</key>
			<string>{50,37}</string>
			<key>textureRect</key>
			<string>{{106,0},{37,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_05_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-5}</string>
			<key>spriteSize</key>
			<string>{140,113}</string>
			<key>spriteSourceSize</key>
			<string>{140,113}</string>
			<key>textureRect</key>
			<string>{{144,0},{113,140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_05_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{38,53}</string>
			<key>spriteSourceSize</key>
			<string>{38,53}</string>
			<key>textureRect</key>
			<string>{{258,0},{38,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_05_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{297,0},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_05_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{46,61}</string>
			<key>spriteSourceSize</key>
			<string>{46,61}</string>
			<key>textureRect</key>
			<string>{{316,0},{46,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_05_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{363,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_05_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,6}</string>
			<key>spriteSourceSize</key>
			<string>{6,6}</string>
			<key>textureRect</key>
			<string>{{382,0},{6,6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_05_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{389,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_05_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{55,34}</string>
			<key>spriteSourceSize</key>
			<string>{55,34}</string>
			<key>textureRect</key>
			<string>{{416,0},{34,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_05_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,6}</string>
			<key>spriteSourceSize</key>
			<string>{6,6}</string>
			<key>textureRect</key>
			<string>{{451,0},{6,6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_05_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{63,42}</string>
			<key>spriteSourceSize</key>
			<string>{63,42}</string>
			<key>textureRect</key>
			<string>{{458,0},{42,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_05-uhd.png</string>
		<key>size</key>
		<string>{501,140}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_05-uhd.png</string>
	</dict>
</dict>
</plist>
