<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_27_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,3.0}</string>
			<key>spriteSize</key>
			<string>{23,12}</string>
			<key>spriteSourceSize</key>
			<string>{23,12}</string>
			<key>textureRect</key>
			<string>{{0,0},{12,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_27_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,1.75}</string>
			<key>spriteSize</key>
			<string>{28,22}</string>
			<key>spriteSourceSize</key>
			<string>{28,22}</string>
			<key>textureRect</key>
			<string>{{13,0},{22,28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_27_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,2.5}</string>
			<key>spriteSize</key>
			<string>{31,26}</string>
			<key>spriteSourceSize</key>
			<string>{31,26}</string>
			<key>textureRect</key>
			<string>{{36,0},{31,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_27_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,2.5}</string>
			<key>spriteSize</key>
			<string>{33,28}</string>
			<key>spriteSourceSize</key>
			<string>{33,28}</string>
			<key>textureRect</key>
			<string>{{68,0},{33,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_27_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{10,14}</string>
			<key>spriteSourceSize</key>
			<string>{10,14}</string>
			<key>textureRect</key>
			<string>{{102,0},{10,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_27_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.125}</string>
			<key>spriteSize</key>
			<string>{9,12}</string>
			<key>spriteSourceSize</key>
			<string>{9,12}</string>
			<key>textureRect</key>
			<string>{{113,0},{9,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_27_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{12,16}</string>
			<key>spriteSourceSize</key>
			<string>{12,16}</string>
			<key>textureRect</key>
			<string>{{123,0},{12,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_27_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{4,12}</string>
			<key>spriteSourceSize</key>
			<string>{4,12}</string>
			<key>textureRect</key>
			<string>{{136,0},{4,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_27_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{3,11}</string>
			<key>spriteSourceSize</key>
			<string>{3,11}</string>
			<key>textureRect</key>
			<string>{{141,0},{3,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_27_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{6,14}</string>
			<key>spriteSourceSize</key>
			<string>{6,14}</string>
			<key>textureRect</key>
			<string>{{145,0},{6,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_27_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{13,8}</string>
			<key>textureRect</key>
			<string>{{152,0},{8,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_27_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{11,6}</string>
			<key>spriteSourceSize</key>
			<string>{11,6}</string>
			<key>textureRect</key>
			<string>{{161,0},{6,11}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_27_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{15,10}</string>
			<key>spriteSourceSize</key>
			<string>{15,10}</string>
			<key>textureRect</key>
			<string>{{168,0},{10,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_27.png</string>
		<key>size</key>
		<string>{179,28}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_27.png</string>
	</dict>
</dict>
</plist>
