<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_13_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,6.75}</string>
			<key>spriteSize</key>
			<string>{67,52}</string>
			<key>spriteSourceSize</key>
			<string>{67,52}</string>
			<key>textureRect</key>
			<string>{{0,0},{67,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_13_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.25,5.75}</string>
			<key>spriteSize</key>
			<string>{60,45}</string>
			<key>spriteSourceSize</key>
			<string>{60,45}</string>
			<key>textureRect</key>
			<string>{{68,0},{60,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_13_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.25,6.25}</string>
			<key>spriteSize</key>
			<string>{59,44}</string>
			<key>spriteSourceSize</key>
			<string>{59,44}</string>
			<key>textureRect</key>
			<string>{{129,0},{59,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_13_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,6.75}</string>
			<key>spriteSize</key>
			<string>{71,56}</string>
			<key>spriteSourceSize</key>
			<string>{71,56}</string>
			<key>textureRect</key>
			<string>{{189,0},{71,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_13_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,0.0}</string>
			<key>spriteSize</key>
			<string>{21,29}</string>
			<key>spriteSourceSize</key>
			<string>{21,29}</string>
			<key>textureRect</key>
			<string>{{261,0},{21,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_13_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,0.75}</string>
			<key>spriteSize</key>
			<string>{17,23}</string>
			<key>spriteSourceSize</key>
			<string>{17,23}</string>
			<key>textureRect</key>
			<string>{{283,0},{17,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_13_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,0.0}</string>
			<key>spriteSize</key>
			<string>{25,33}</string>
			<key>spriteSourceSize</key>
			<string>{25,33}</string>
			<key>textureRect</key>
			<string>{{301,0},{25,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_13_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{9,25}</string>
			<key>textureRect</key>
			<string>{{327,0},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_13_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{7,23}</string>
			<key>textureRect</key>
			<string>{{337,0},{7,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_13_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{345,0},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_13_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{359,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_13_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{22,12}</string>
			<key>spriteSourceSize</key>
			<string>{22,12}</string>
			<key>textureRect</key>
			<string>{{377,0},{12,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_13_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{390,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_13-hd.png</string>
		<key>size</key>
		<string>{412,56}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_13-hd.png</string>
	</dict>
</dict>
</plist>
