<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_15_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-1}</string>
			<key>spriteSize</key>
			<string>{108,96}</string>
			<key>spriteSourceSize</key>
			<string>{108,96}</string>
			<key>textureRect</key>
			<string>{{0,0},{108,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_15_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{20.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{71,91}</string>
			<key>spriteSourceSize</key>
			<string>{71,91}</string>
			<key>textureRect</key>
			<string>{{109,0},{71,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_15_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-1}</string>
			<key>spriteSize</key>
			<string>{116,104}</string>
			<key>spriteSourceSize</key>
			<string>{116,104}</string>
			<key>textureRect</key>
			<string>{{181,0},{116,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_15_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{47,63}</string>
			<key>spriteSourceSize</key>
			<string>{47,63}</string>
			<key>textureRect</key>
			<string>{{298,0},{47,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_15_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{346,0},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_15_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{55,71}</string>
			<key>spriteSourceSize</key>
			<string>{55,71}</string>
			<key>textureRect</key>
			<string>{{365,0},{55,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_15_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{421,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_15_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{440,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_15_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{455,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_15_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.5}</string>
			<key>spriteSize</key>
			<string>{63,37}</string>
			<key>spriteSourceSize</key>
			<string>{63,37}</string>
			<key>textureRect</key>
			<string>{{482,0},{37,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_15_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-10.5,4.5}</string>
			<key>spriteSize</key>
			<string>{21,13}</string>
			<key>spriteSourceSize</key>
			<string>{21,13}</string>
			<key>textureRect</key>
			<string>{{520,0},{13,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_15_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.5}</string>
			<key>spriteSize</key>
			<string>{71,45}</string>
			<key>spriteSourceSize</key>
			<string>{71,45}</string>
			<key>textureRect</key>
			<string>{{534,0},{45,71}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_15-uhd.png</string>
		<key>size</key>
		<string>{580,104}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_15-uhd.png</string>
	</dict>
</dict>
</plist>
