<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_68_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,0.75}</string>
			<key>spriteSize</key>
			<string>{29,23}</string>
			<key>spriteSourceSize</key>
			<string>{29,23}</string>
			<key>textureRect</key>
			<string>{{0,0},{29,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.875,1.375}</string>
			<key>spriteSize</key>
			<string>{24,17}</string>
			<key>spriteSourceSize</key>
			<string>{24,17}</string>
			<key>textureRect</key>
			<string>{{30,0},{17,24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.125,0.75}</string>
			<key>spriteSize</key>
			<string>{27,21}</string>
			<key>spriteSourceSize</key>
			<string>{27,21}</string>
			<key>textureRect</key>
			<string>{{48,0},{27,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,0.75}</string>
			<key>spriteSize</key>
			<string>{31,25}</string>
			<key>spriteSourceSize</key>
			<string>{31,25}</string>
			<key>textureRect</key>
			<string>{{76,0},{31,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.0}</string>
			<key>spriteSize</key>
			<string>{11,13}</string>
			<key>spriteSourceSize</key>
			<string>{11,13}</string>
			<key>textureRect</key>
			<string>{{108,0},{11,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,1.625}</string>
			<key>spriteSize</key>
			<string>{2,1}</string>
			<key>spriteSourceSize</key>
			<string>{2,1}</string>
			<key>textureRect</key>
			<string>{{120,0},{1,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.0}</string>
			<key>spriteSize</key>
			<string>{13,15}</string>
			<key>spriteSourceSize</key>
			<string>{13,15}</string>
			<key>textureRect</key>
			<string>{{122,0},{13,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{4,12}</string>
			<key>spriteSourceSize</key>
			<string>{4,12}</string>
			<key>textureRect</key>
			<string>{{136,0},{4,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{3,11}</string>
			<key>spriteSourceSize</key>
			<string>{3,11}</string>
			<key>textureRect</key>
			<string>{{141,0},{3,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{6,14}</string>
			<key>spriteSourceSize</key>
			<string>{6,14}</string>
			<key>textureRect</key>
			<string>{{145,0},{6,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{14,8}</string>
			<key>spriteSourceSize</key>
			<string>{14,8}</string>
			<key>textureRect</key>
			<string>{{152,0},{8,14}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.375,-1.125}</string>
			<key>spriteSize</key>
			<string>{6,4}</string>
			<key>spriteSourceSize</key>
			<string>{6,4}</string>
			<key>textureRect</key>
			<string>{{161,0},{4,6}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_68_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{16,10}</string>
			<key>spriteSourceSize</key>
			<string>{16,10}</string>
			<key>textureRect</key>
			<string>{{166,0},{10,16}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_68.png</string>
		<key>size</key>
		<string>{177,25}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_68.png</string>
	</dict>
</dict>
</plist>
