<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_67_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{104,97}</string>
			<key>spriteSourceSize</key>
			<string>{104,97}</string>
			<key>textureRect</key>
			<string>{{0,0},{104,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_67_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,0}</string>
			<key>spriteSize</key>
			<string>{77,91}</string>
			<key>spriteSourceSize</key>
			<string>{77,91}</string>
			<key>textureRect</key>
			<string>{{105,0},{77,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_67_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,0}</string>
			<key>spriteSize</key>
			<string>{78,89}</string>
			<key>spriteSourceSize</key>
			<string>{78,89}</string>
			<key>textureRect</key>
			<string>{{183,0},{78,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_67_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{112,105}</string>
			<key>spriteSourceSize</key>
			<string>{112,105}</string>
			<key>textureRect</key>
			<string>{{262,0},{112,105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_67_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{45,52}</string>
			<key>spriteSourceSize</key>
			<string>{45,52}</string>
			<key>textureRect</key>
			<string>{{375,0},{45,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_67_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,0}</string>
			<key>spriteSize</key>
			<string>{33,18}</string>
			<key>spriteSourceSize</key>
			<string>{33,18}</string>
			<key>textureRect</key>
			<string>{{421,0},{18,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_67_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{53,60}</string>
			<key>spriteSourceSize</key>
			<string>{53,60}</string>
			<key>textureRect</key>
			<string>{{440,0},{53,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_67_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{494,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_67_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{513,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_67_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{528,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_67_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,34}</string>
			<key>spriteSourceSize</key>
			<string>{55,34}</string>
			<key>textureRect</key>
			<string>{{555,0},{34,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_67_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,-5}</string>
			<key>spriteSize</key>
			<string>{23,16}</string>
			<key>spriteSourceSize</key>
			<string>{23,16}</string>
			<key>textureRect</key>
			<string>{{590,0},{16,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_67_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,42}</string>
			<key>spriteSourceSize</key>
			<string>{63,42}</string>
			<key>textureRect</key>
			<string>{{607,0},{42,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_67-uhd.png</string>
		<key>size</key>
		<string>{650,105}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_67-uhd.png</string>
	</dict>
</dict>
</plist>
