<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_03_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.625,-1.375}</string>
			<key>spriteSize</key>
			<string>{28,22}</string>
			<key>spriteSourceSize</key>
			<string>{28,22}</string>
			<key>textureRect</key>
			<string>{{0,0},{22,28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_03_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{16,12}</string>
			<key>spriteSourceSize</key>
			<string>{16,12}</string>
			<key>textureRect</key>
			<string>{{23,0},{12,16}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_03_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-1.375}</string>
			<key>spriteSize</key>
			<string>{31,24}</string>
			<key>spriteSourceSize</key>
			<string>{31,24}</string>
			<key>textureRect</key>
			<string>{{36,0},{24,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_03_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-1.375}</string>
			<key>spriteSize</key>
			<string>{33,26}</string>
			<key>spriteSourceSize</key>
			<string>{33,26}</string>
			<key>textureRect</key>
			<string>{{61,0},{26,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_03_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.125}</string>
			<key>spriteSize</key>
			<string>{9,13}</string>
			<key>spriteSourceSize</key>
			<string>{9,13}</string>
			<key>textureRect</key>
			<string>{{88,0},{9,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_03_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.375,0.0}</string>
			<key>spriteSize</key>
			<string>{4,9}</string>
			<key>spriteSourceSize</key>
			<string>{4,9}</string>
			<key>textureRect</key>
			<string>{{98,0},{4,9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_03_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.125}</string>
			<key>spriteSize</key>
			<string>{11,15}</string>
			<key>spriteSourceSize</key>
			<string>{11,15}</string>
			<key>textureRect</key>
			<string>{{103,0},{11,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_03_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{4,12}</string>
			<key>spriteSourceSize</key>
			<string>{4,12}</string>
			<key>textureRect</key>
			<string>{{115,0},{4,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_03_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{120,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_03_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{6,14}</string>
			<key>spriteSourceSize</key>
			<string>{6,14}</string>
			<key>textureRect</key>
			<string>{{122,0},{6,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_03_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{13,8}</string>
			<key>textureRect</key>
			<string>{{129,0},{8,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_03_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{138,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_03_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{15,10}</string>
			<key>spriteSourceSize</key>
			<string>{15,10}</string>
			<key>textureRect</key>
			<string>{{140,0},{10,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_03.png</string>
		<key>size</key>
		<string>{151,33}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_03.png</string>
	</dict>
</dict>
</plist>
