<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_56_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7.5,11.5}</string>
			<key>spriteSize</key>
			<string>{108,117}</string>
			<key>spriteSourceSize</key>
			<string>{108,117}</string>
			<key>textureRect</key>
			<string>{{0,0},{117,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_56_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,11}</string>
			<key>spriteSize</key>
			<string>{104,114}</string>
			<key>spriteSourceSize</key>
			<string>{104,114}</string>
			<key>textureRect</key>
			<string>{{118,0},{104,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_56_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7.5,11.5}</string>
			<key>spriteSize</key>
			<string>{116,125}</string>
			<key>spriteSourceSize</key>
			<string>{116,125}</string>
			<key>textureRect</key>
			<string>{{223,0},{125,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_56_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{38,53}</string>
			<key>spriteSourceSize</key>
			<string>{38,53}</string>
			<key>textureRect</key>
			<string>{{349,0},{38,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_56_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,49}</string>
			<key>spriteSourceSize</key>
			<string>{34,49}</string>
			<key>textureRect</key>
			<string>{{388,0},{34,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_56_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{46,61}</string>
			<key>spriteSourceSize</key>
			<string>{46,61}</string>
			<key>textureRect</key>
			<string>{{423,0},{46,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_56_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{470,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_56_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{489,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_56_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{504,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_56_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{531,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_56_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{51,30}</string>
			<key>spriteSourceSize</key>
			<string>{51,30}</string>
			<key>textureRect</key>
			<string>{{566,0},{30,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_56_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{597,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_56-uhd.png</string>
		<key>size</key>
		<string>{640,116}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_56-uhd.png</string>
	</dict>
</dict>
</plist>
