<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_63_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{125,113}</string>
			<key>spriteSourceSize</key>
			<string>{125,113}</string>
			<key>textureRect</key>
			<string>{{0,0},{125,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_63_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2.5}</string>
			<key>spriteSize</key>
			<string>{119,104}</string>
			<key>spriteSourceSize</key>
			<string>{119,104}</string>
			<key>textureRect</key>
			<string>{{126,0},{119,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_63_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-4}</string>
			<key>spriteSize</key>
			<string>{114,67}</string>
			<key>spriteSourceSize</key>
			<string>{114,67}</string>
			<key>textureRect</key>
			<string>{{246,0},{114,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_63_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{133,121}</string>
			<key>spriteSourceSize</key>
			<string>{133,121}</string>
			<key>textureRect</key>
			<string>{{361,0},{133,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_63_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,1}</string>
			<key>spriteSize</key>
			<string>{53,52}</string>
			<key>spriteSourceSize</key>
			<string>{53,52}</string>
			<key>textureRect</key>
			<string>{{495,0},{52,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_63_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{14,11}</string>
			<key>spriteSize</key>
			<string>{15,16}</string>
			<key>spriteSourceSize</key>
			<string>{15,16}</string>
			<key>textureRect</key>
			<string>{{548,0},{15,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_63_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,1}</string>
			<key>spriteSize</key>
			<string>{61,60}</string>
			<key>spriteSourceSize</key>
			<string>{61,60}</string>
			<key>textureRect</key>
			<string>{{564,0},{60,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_63_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{625,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_63_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{644,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_63_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{659,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_63_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,34}</string>
			<key>spriteSourceSize</key>
			<string>{55,34}</string>
			<key>textureRect</key>
			<string>{{686,0},{34,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_63_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,-5}</string>
			<key>spriteSize</key>
			<string>{23,16}</string>
			<key>spriteSourceSize</key>
			<string>{23,16}</string>
			<key>textureRect</key>
			<string>{{721,0},{16,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_63_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,42}</string>
			<key>spriteSourceSize</key>
			<string>{63,42}</string>
			<key>textureRect</key>
			<string>{{738,0},{42,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_63-uhd.png</string>
		<key>size</key>
		<string>{781,121}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_63-uhd.png</string>
	</dict>
</dict>
</plist>
