<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_49_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,0.0}</string>
			<key>spriteSize</key>
			<string>{54,49}</string>
			<key>spriteSourceSize</key>
			<string>{54,49}</string>
			<key>textureRect</key>
			<string>{{0,0},{49,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_49_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.25,0.25}</string>
			<key>spriteSize</key>
			<string>{49,43}</string>
			<key>spriteSourceSize</key>
			<string>{49,43}</string>
			<key>textureRect</key>
			<string>{{50,0},{43,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_49_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{11.5,0.25}</string>
			<key>spriteSize</key>
			<string>{31,43}</string>
			<key>spriteSourceSize</key>
			<string>{31,43}</string>
			<key>textureRect</key>
			<string>{{94,0},{31,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_49_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,0.0}</string>
			<key>spriteSize</key>
			<string>{58,53}</string>
			<key>spriteSourceSize</key>
			<string>{58,53}</string>
			<key>textureRect</key>
			<string>{{126,0},{58,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_49_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.5}</string>
			<key>spriteSize</key>
			<string>{24,32}</string>
			<key>spriteSourceSize</key>
			<string>{24,32}</string>
			<key>textureRect</key>
			<string>{{185,0},{24,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_49_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{19,27}</string>
			<key>spriteSourceSize</key>
			<string>{19,27}</string>
			<key>textureRect</key>
			<string>{{210,0},{19,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_49_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.5}</string>
			<key>spriteSize</key>
			<string>{28,36}</string>
			<key>spriteSourceSize</key>
			<string>{28,36}</string>
			<key>textureRect</key>
			<string>{{230,0},{28,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_49_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{9,25}</string>
			<key>textureRect</key>
			<string>{{259,0},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_49_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{7,23}</string>
			<key>textureRect</key>
			<string>{{269,0},{7,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_49_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{277,0},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_49_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.25}</string>
			<key>spriteSize</key>
			<string>{32,18}</string>
			<key>spriteSourceSize</key>
			<string>{32,18}</string>
			<key>textureRect</key>
			<string>{{291,0},{18,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_49_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{27,14}</string>
			<key>spriteSourceSize</key>
			<string>{27,14}</string>
			<key>textureRect</key>
			<string>{{310,0},{14,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_49_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.25}</string>
			<key>spriteSize</key>
			<string>{36,22}</string>
			<key>spriteSourceSize</key>
			<string>{36,22}</string>
			<key>textureRect</key>
			<string>{{325,0},{22,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_49-hd.png</string>
		<key>size</key>
		<string>{348,54}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_49-hd.png</string>
	</dict>
</dict>
</plist>
