<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_31_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,4}</string>
			<key>spriteSize</key>
			<string>{126,86}</string>
			<key>spriteSourceSize</key>
			<string>{126,86}</string>
			<key>textureRect</key>
			<string>{{0,0},{126,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_31_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{121,70}</string>
			<key>spriteSourceSize</key>
			<string>{121,70}</string>
			<key>textureRect</key>
			<string>{{127,0},{121,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_31_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,4}</string>
			<key>spriteSize</key>
			<string>{134,94}</string>
			<key>spriteSourceSize</key>
			<string>{134,94}</string>
			<key>textureRect</key>
			<string>{{249,0},{134,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_31_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{42,55}</string>
			<key>spriteSourceSize</key>
			<string>{42,55}</string>
			<key>textureRect</key>
			<string>{{384,0},{42,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_31_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,9.5}</string>
			<key>spriteSize</key>
			<string>{38,31}</string>
			<key>spriteSourceSize</key>
			<string>{38,31}</string>
			<key>textureRect</key>
			<string>{{427,0},{31,38}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_31_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.5}</string>
			<key>spriteSize</key>
			<string>{50,63}</string>
			<key>spriteSourceSize</key>
			<string>{50,63}</string>
			<key>textureRect</key>
			<string>{{459,0},{50,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_31_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{510,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_31_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{529,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_31_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{544,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_31_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,0.5}</string>
			<key>spriteSize</key>
			<string>{60,35}</string>
			<key>spriteSourceSize</key>
			<string>{60,35}</string>
			<key>textureRect</key>
			<string>{{571,0},{35,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_31_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-4}</string>
			<key>spriteSize</key>
			<string>{18,20}</string>
			<key>spriteSourceSize</key>
			<string>{18,20}</string>
			<key>textureRect</key>
			<string>{{607,0},{18,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_31_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,0.5}</string>
			<key>spriteSize</key>
			<string>{68,43}</string>
			<key>spriteSourceSize</key>
			<string>{68,43}</string>
			<key>textureRect</key>
			<string>{{626,0},{43,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_31-uhd.png</string>
		<key>size</key>
		<string>{670,94}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_31-uhd.png</string>
	</dict>
</dict>
</plist>
