<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_44_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.375,2.75}</string>
			<key>spriteSize</key>
			<string>{32,25}</string>
			<key>spriteSourceSize</key>
			<string>{32,25}</string>
			<key>textureRect</key>
			<string>{{0,0},{32,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.125,2.375}</string>
			<key>spriteSize</key>
			<string>{29,22}</string>
			<key>spriteSourceSize</key>
			<string>{29,22}</string>
			<key>textureRect</key>
			<string>{{33,0},{29,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.125,2.375}</string>
			<key>spriteSize</key>
			<string>{29,22}</string>
			<key>spriteSourceSize</key>
			<string>{29,22}</string>
			<key>textureRect</key>
			<string>{{63,0},{29,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.375,2.75}</string>
			<key>spriteSize</key>
			<string>{34,27}</string>
			<key>spriteSourceSize</key>
			<string>{34,27}</string>
			<key>textureRect</key>
			<string>{{93,0},{34,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.125}</string>
			<key>spriteSize</key>
			<string>{10,14}</string>
			<key>spriteSourceSize</key>
			<string>{10,14}</string>
			<key>textureRect</key>
			<string>{{128,0},{10,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.125}</string>
			<key>spriteSize</key>
			<string>{9,12}</string>
			<key>spriteSourceSize</key>
			<string>{9,12}</string>
			<key>textureRect</key>
			<string>{{139,0},{9,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.125}</string>
			<key>spriteSize</key>
			<string>{12,16}</string>
			<key>spriteSourceSize</key>
			<string>{12,16}</string>
			<key>textureRect</key>
			<string>{{149,0},{12,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{4,12}</string>
			<key>spriteSourceSize</key>
			<string>{4,12}</string>
			<key>textureRect</key>
			<string>{{162,0},{4,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{3,11}</string>
			<key>spriteSourceSize</key>
			<string>{3,11}</string>
			<key>textureRect</key>
			<string>{{167,0},{3,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{6,14}</string>
			<key>spriteSourceSize</key>
			<string>{6,14}</string>
			<key>textureRect</key>
			<string>{{171,0},{6,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_44_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{13,8}</string>
			<key>textureRect</key>
			<string>{{178,0},{8,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_44_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{11,6}</string>
			<key>spriteSourceSize</key>
			<string>{11,6}</string>
			<key>textureRect</key>
			<string>{{187,0},{6,11}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_44_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{15,10}</string>
			<key>spriteSourceSize</key>
			<string>{15,10}</string>
			<key>textureRect</key>
			<string>{{194,0},{10,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_44.png</string>
		<key>size</key>
		<string>{205,27}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_44.png</string>
	</dict>
</dict>
</plist>
