<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_65_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-4}</string>
			<key>spriteSize</key>
			<string>{124,107}</string>
			<key>spriteSourceSize</key>
			<string>{124,107}</string>
			<key>textureRect</key>
			<string>{{0,0},{124,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_65_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-2}</string>
			<key>spriteSize</key>
			<string>{118,97}</string>
			<key>spriteSourceSize</key>
			<string>{118,97}</string>
			<key>textureRect</key>
			<string>{{125,0},{97,118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_65_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{28,5}</string>
			<key>spriteSize</key>
			<string>{61,73}</string>
			<key>spriteSourceSize</key>
			<string>{61,73}</string>
			<key>textureRect</key>
			<string>{{223,0},{61,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_65_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-4}</string>
			<key>spriteSize</key>
			<string>{132,115}</string>
			<key>spriteSourceSize</key>
			<string>{132,115}</string>
			<key>textureRect</key>
			<string>{{285,0},{132,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_65_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,1}</string>
			<key>spriteSize</key>
			<string>{53,52}</string>
			<key>spriteSourceSize</key>
			<string>{53,52}</string>
			<key>textureRect</key>
			<string>{{418,0},{52,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_65_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{14,11}</string>
			<key>spriteSize</key>
			<string>{15,16}</string>
			<key>spriteSourceSize</key>
			<string>{15,16}</string>
			<key>textureRect</key>
			<string>{{471,0},{15,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_65_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,1}</string>
			<key>spriteSize</key>
			<string>{61,60}</string>
			<key>spriteSourceSize</key>
			<string>{61,60}</string>
			<key>textureRect</key>
			<string>{{487,0},{60,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_65_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{548,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_65_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{567,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_65_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{582,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_65_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,34}</string>
			<key>spriteSourceSize</key>
			<string>{55,34}</string>
			<key>textureRect</key>
			<string>{{609,0},{34,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_65_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,-5}</string>
			<key>spriteSize</key>
			<string>{23,16}</string>
			<key>spriteSourceSize</key>
			<string>{23,16}</string>
			<key>textureRect</key>
			<string>{{644,0},{16,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_65_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,42}</string>
			<key>spriteSourceSize</key>
			<string>{63,42}</string>
			<key>textureRect</key>
			<string>{{661,0},{42,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_65-uhd.png</string>
		<key>size</key>
		<string>{704,118}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_65-uhd.png</string>
	</dict>
</dict>
</plist>
