<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_35_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{59,39}</string>
			<key>spriteSourceSize</key>
			<string>{59,39}</string>
			<key>textureRect</key>
			<string>{{0,0},{59,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_35_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.0}</string>
			<key>spriteSize</key>
			<string>{51,33}</string>
			<key>spriteSourceSize</key>
			<string>{51,33}</string>
			<key>textureRect</key>
			<string>{{60,0},{33,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_35_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,0.0}</string>
			<key>spriteSize</key>
			<string>{49,33}</string>
			<key>spriteSourceSize</key>
			<string>{49,33}</string>
			<key>textureRect</key>
			<string>{{94,0},{33,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_35_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{63,43}</string>
			<key>spriteSourceSize</key>
			<string>{63,43}</string>
			<key>textureRect</key>
			<string>{{128,0},{63,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_35_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{19,27}</string>
			<key>spriteSourceSize</key>
			<string>{19,27}</string>
			<key>textureRect</key>
			<string>{{192,0},{19,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_35_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{7,8}</string>
			<key>spriteSourceSize</key>
			<string>{7,8}</string>
			<key>textureRect</key>
			<string>{{212,0},{7,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_35_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{23,31}</string>
			<key>spriteSourceSize</key>
			<string>{23,31}</string>
			<key>textureRect</key>
			<string>{{220,0},{23,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_35_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{9,25}</string>
			<key>textureRect</key>
			<string>{{244,0},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_35_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{7,23}</string>
			<key>spriteSourceSize</key>
			<string>{7,23}</string>
			<key>textureRect</key>
			<string>{{254,0},{7,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_35_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{262,0},{13,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_35_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{26,16}</string>
			<key>spriteSourceSize</key>
			<string>{26,16}</string>
			<key>textureRect</key>
			<string>{{276,0},{16,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_35_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.0}</string>
			<key>spriteSize</key>
			<string>{22,4}</string>
			<key>spriteSourceSize</key>
			<string>{22,4}</string>
			<key>textureRect</key>
			<string>{{293,0},{4,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_35_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{30,20}</string>
			<key>spriteSourceSize</key>
			<string>{30,20}</string>
			<key>textureRect</key>
			<string>{{298,0},{20,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_35-hd.png</string>
		<key>size</key>
		<string>{319,51}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_35-hd.png</string>
	</dict>
</dict>
</plist>
