<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_20_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,10.5}</string>
			<key>spriteSize</key>
			<string>{132,103}</string>
			<key>spriteSourceSize</key>
			<string>{132,103}</string>
			<key>textureRect</key>
			<string>{{0,0},{132,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5.5,10.5}</string>
			<key>spriteSize</key>
			<string>{121,93}</string>
			<key>spriteSourceSize</key>
			<string>{121,93}</string>
			<key>textureRect</key>
			<string>{{133,0},{121,93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5.5,14}</string>
			<key>spriteSize</key>
			<string>{119,84}</string>
			<key>spriteSourceSize</key>
			<string>{119,84}</string>
			<key>textureRect</key>
			<string>{{255,0},{84,119}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_20_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,10.5}</string>
			<key>spriteSize</key>
			<string>{140,111}</string>
			<key>spriteSourceSize</key>
			<string>{140,111}</string>
			<key>textureRect</key>
			<string>{{340,0},{140,111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0.5}</string>
			<key>spriteSize</key>
			<string>{42,57}</string>
			<key>spriteSourceSize</key>
			<string>{42,57}</string>
			<key>textureRect</key>
			<string>{{481,0},{42,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0.5}</string>
			<key>spriteSize</key>
			<string>{36,51}</string>
			<key>spriteSourceSize</key>
			<string>{36,51}</string>
			<key>textureRect</key>
			<string>{{524,0},{36,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0.5}</string>
			<key>spriteSize</key>
			<string>{50,65}</string>
			<key>spriteSourceSize</key>
			<string>{50,65}</string>
			<key>textureRect</key>
			<string>{{561,0},{50,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{612,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{631,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{646,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{673,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_20_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,26}</string>
			<key>spriteSourceSize</key>
			<string>{46,26}</string>
			<key>textureRect</key>
			<string>{{708,0},{26,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_20_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{735,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_20-uhd.png</string>
		<key>size</key>
		<string>{778,119}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_20-uhd.png</string>
	</dict>
</dict>
</plist>
