<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_52_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.5,2}</string>
			<key>spriteSize</key>
			<string>{114,96}</string>
			<key>spriteSourceSize</key>
			<string>{114,96}</string>
			<key>textureRect</key>
			<string>{{0,0},{96,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_52_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,0.5}</string>
			<key>spriteSize</key>
			<string>{113,89}</string>
			<key>spriteSourceSize</key>
			<string>{113,89}</string>
			<key>textureRect</key>
			<string>{{97,0},{89,113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_52_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.5,2}</string>
			<key>spriteSize</key>
			<string>{122,104}</string>
			<key>spriteSourceSize</key>
			<string>{122,104}</string>
			<key>textureRect</key>
			<string>{{187,0},{122,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_52_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{310,0},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_52_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-12.5}</string>
			<key>spriteSize</key>
			<string>{20,19}</string>
			<key>spriteSourceSize</key>
			<string>{20,19}</string>
			<key>textureRect</key>
			<string>{{365,0},{19,20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_52_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{62,62}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{385,0},{62,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_52_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{448,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_52_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{4,4}</string>
			<key>spriteSourceSize</key>
			<string>{4,4}</string>
			<key>textureRect</key>
			<string>{{467,0},{4,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_52_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{472,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_52_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{64,37}</string>
			<key>spriteSourceSize</key>
			<string>{64,37}</string>
			<key>textureRect</key>
			<string>{{499,0},{37,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_52_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{25,32}</string>
			<key>spriteSourceSize</key>
			<string>{25,32}</string>
			<key>textureRect</key>
			<string>{{537,0},{25,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_52_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{72,45}</string>
			<key>spriteSourceSize</key>
			<string>{72,45}</string>
			<key>textureRect</key>
			<string>{{563,0},{45,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_52-uhd.png</string>
		<key>size</key>
		<string>{609,114}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_52-uhd.png</string>
	</dict>
</dict>
</plist>
