<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_147_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{47,23}</string>
			<key>spriteSourceSize</key>
			<string>{47,23}</string>
			<key>textureRect</key>
			<string>{{0,0},{47,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_147_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.125,-1.25}</string>
			<key>spriteSize</key>
			<string>{43,19}</string>
			<key>spriteSourceSize</key>
			<string>{43,19}</string>
			<key>textureRect</key>
			<string>{{48,0},{43,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_147_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.125,-1.0}</string>
			<key>spriteSize</key>
			<string>{43,18}</string>
			<key>spriteSourceSize</key>
			<string>{43,18}</string>
			<key>textureRect</key>
			<string>{{92,0},{43,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_147_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{49,25}</string>
			<key>spriteSourceSize</key>
			<string>{49,25}</string>
			<key>textureRect</key>
			<string>{{136,0},{49,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_147.png</string>
		<key>size</key>
		<string>{186,25}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_147.png</string>
	</dict>
</dict>
</plist>
