<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_164_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{183,85}</string>
			<key>spriteSourceSize</key>
			<string>{183,85}</string>
			<key>textureRect</key>
			<string>{{0,0},{183,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_164_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{14.5,3.5}</string>
			<key>spriteSize</key>
			<string>{154,72}</string>
			<key>spriteSourceSize</key>
			<string>{154,72}</string>
			<key>textureRect</key>
			<string>{{184,0},{154,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_164_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,3.5}</string>
			<key>spriteSize</key>
			<string>{174,70}</string>
			<key>spriteSourceSize</key>
			<string>{174,70}</string>
			<key>textureRect</key>
			<string>{{339,0},{174,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_164_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{191,93}</string>
			<key>spriteSourceSize</key>
			<string>{191,93}</string>
			<key>textureRect</key>
			<string>{{514,0},{191,93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_164-uhd.png</string>
		<key>size</key>
		<string>{706,93}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_164-uhd.png</string>
	</dict>
</dict>
</plist>
