<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_95_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,16}</string>
				<key>spriteSourceSize</key>
				<string>{40,16}</string>
				<key>textureRect</key>
				<string>{{0,19},{40,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_95_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,0}</string>
				<key>spriteSize</key>
				<string>{26,14}</string>
				<key>spriteSourceSize</key>
				<string>{40,16}</string>
				<key>textureRect</key>
				<string>{{43,0},{26,14}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_95_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,0.5}</string>
				<key>spriteSize</key>
				<string>{33,11}</string>
				<key>spriteSourceSize</key>
				<string>{40,16}</string>
				<key>textureRect</key>
				<string>{{0,36},{33,11}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_95_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,18}</string>
				<key>spriteSourceSize</key>
				<string>{42,18}</string>
				<key>textureRect</key>
				<string>{{0,0},{42,18}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_95.png</string>
			<key>size</key>
			<string>{57,47}</string>
			<key>textureFileName</key>
			<string>icons/ship_95.png</string>
		</dict>
	</dict>
</plist>