<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_114_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.25,-1.25}</string>
			<key>spriteSize</key>
			<string>{75,49}</string>
			<key>spriteSourceSize</key>
			<string>{75,49}</string>
			<key>textureRect</key>
			<string>{{0,0},{75,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_114_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9.5,-11.5}</string>
			<key>spriteSize</key>
			<string>{58,30}</string>
			<key>spriteSourceSize</key>
			<string>{58,30}</string>
			<key>textureRect</key>
			<string>{{76,0},{58,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_114_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-0.25}</string>
			<key>spriteSize</key>
			<string>{90,54}</string>
			<key>spriteSourceSize</key>
			<string>{90,54}</string>
			<key>textureRect</key>
			<string>{{135,0},{90,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_114_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-0.25}</string>
			<key>spriteSize</key>
			<string>{94,58}</string>
			<key>spriteSourceSize</key>
			<string>{94,58}</string>
			<key>textureRect</key>
			<string>{{226,0},{94,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_114-hd.png</string>
		<key>size</key>
		<string>{321,58}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_114-hd.png</string>
	</dict>
</dict>
</plist>
