<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_38_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-1.0}</string>
			<key>spriteSize</key>
			<string>{90,53}</string>
			<key>spriteSourceSize</key>
			<string>{90,53}</string>
			<key>textureRect</key>
			<string>{{0,0},{90,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_38_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6.25,-5.25}</string>
			<key>spriteSize</key>
			<string>{74,40}</string>
			<key>spriteSourceSize</key>
			<string>{74,40}</string>
			<key>textureRect</key>
			<string>{{91,0},{74,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_38_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{166,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_38_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-1.0}</string>
			<key>spriteSize</key>
			<string>{94,57}</string>
			<key>spriteSourceSize</key>
			<string>{94,57}</string>
			<key>textureRect</key>
			<string>{{168,0},{94,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_38-hd.png</string>
		<key>size</key>
		<string>{263,57}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_38-hd.png</string>
	</dict>
</dict>
</plist>
