<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_135_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,15}</string>
			<key>spriteSize</key>
			<string>{165,125}</string>
			<key>spriteSourceSize</key>
			<string>{165,125}</string>
			<key>textureRect</key>
			<string>{{0,0},{165,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_135_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,15}</string>
			<key>spriteSize</key>
			<string>{158,116}</string>
			<key>spriteSourceSize</key>
			<string>{158,116}</string>
			<key>textureRect</key>
			<string>{{166,0},{158,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_135_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,38.5}</string>
			<key>spriteSize</key>
			<string>{153,67}</string>
			<key>spriteSourceSize</key>
			<string>{153,67}</string>
			<key>textureRect</key>
			<string>{{325,0},{153,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_135_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,15}</string>
			<key>spriteSize</key>
			<string>{173,133}</string>
			<key>spriteSourceSize</key>
			<string>{173,133}</string>
			<key>textureRect</key>
			<string>{{479,0},{173,133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_135-uhd.png</string>
		<key>size</key>
		<string>{653,133}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_135-uhd.png</string>
	</dict>
</dict>
</plist>
