<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_63_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,8}</string>
			<key>spriteSize</key>
			<string>{175,92}</string>
			<key>spriteSourceSize</key>
			<string>{175,92}</string>
			<key>textureRect</key>
			<string>{{0,0},{175,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_63_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,6.5}</string>
			<key>spriteSize</key>
			<string>{138,83}</string>
			<key>spriteSourceSize</key>
			<string>{138,83}</string>
			<key>textureRect</key>
			<string>{{176,0},{138,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_63_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,8}</string>
			<key>spriteSize</key>
			<string>{183,100}</string>
			<key>spriteSourceSize</key>
			<string>{183,100}</string>
			<key>textureRect</key>
			<string>{{315,0},{183,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_63-uhd.png</string>
		<key>size</key>
		<string>{499,100}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_63-uhd.png</string>
	</dict>
</dict>
</plist>
