<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_18_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,4.5}</string>
			<key>spriteSize</key>
			<string>{92,50}</string>
			<key>spriteSourceSize</key>
			<string>{92,50}</string>
			<key>textureRect</key>
			<string>{{0,0},{92,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_18_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,3.0}</string>
			<key>spriteSize</key>
			<string>{81,40}</string>
			<key>spriteSourceSize</key>
			<string>{81,40}</string>
			<key>textureRect</key>
			<string>{{93,0},{81,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_18_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,4.5}</string>
			<key>spriteSize</key>
			<string>{96,54}</string>
			<key>spriteSourceSize</key>
			<string>{96,54}</string>
			<key>textureRect</key>
			<string>{{175,0},{96,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_18-hd.png</string>
		<key>size</key>
		<string>{272,54}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_18-hd.png</string>
	</dict>
</dict>
</plist>
