<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_114_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.125,-0.625}</string>
			<key>spriteSize</key>
			<string>{37,24}</string>
			<key>spriteSourceSize</key>
			<string>{37,24}</string>
			<key>textureRect</key>
			<string>{{0,0},{37,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_114_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.75,-5.75}</string>
			<key>spriteSize</key>
			<string>{29,15}</string>
			<key>spriteSourceSize</key>
			<string>{29,15}</string>
			<key>textureRect</key>
			<string>{{38,0},{29,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_114_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-0.125}</string>
			<key>spriteSize</key>
			<string>{45,27}</string>
			<key>spriteSourceSize</key>
			<string>{45,27}</string>
			<key>textureRect</key>
			<string>{{68,0},{45,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_114_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-0.125}</string>
			<key>spriteSize</key>
			<string>{47,29}</string>
			<key>spriteSourceSize</key>
			<string>{47,29}</string>
			<key>textureRect</key>
			<string>{{114,0},{47,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_114.png</string>
		<key>size</key>
		<string>{162,29}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_114.png</string>
	</dict>
</dict>
</plist>
