<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_33_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7.5}</string>
			<key>spriteSize</key>
			<string>{182,98}</string>
			<key>spriteSourceSize</key>
			<string>{182,98}</string>
			<key>textureRect</key>
			<string>{{0,0},{182,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_33_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{17.5,-7}</string>
			<key>spriteSize</key>
			<string>{83,35}</string>
			<key>spriteSourceSize</key>
			<string>{83,35}</string>
			<key>textureRect</key>
			<string>{{183,0},{35,83}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ship_33_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7.5}</string>
			<key>spriteSize</key>
			<string>{190,106}</string>
			<key>spriteSourceSize</key>
			<string>{190,106}</string>
			<key>textureRect</key>
			<string>{{219,0},{190,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_33-uhd.png</string>
		<key>size</key>
		<string>{410,106}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_33-uhd.png</string>
	</dict>
</dict>
</plist>
