<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_17_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{85,37}</string>
			<key>spriteSourceSize</key>
			<string>{85,37}</string>
			<key>textureRect</key>
			<string>{{0,0},{85,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_17_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.75,-0.5}</string>
			<key>spriteSize</key>
			<string>{75,34}</string>
			<key>spriteSourceSize</key>
			<string>{75,34}</string>
			<key>textureRect</key>
			<string>{{86,0},{75,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_17_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{89,41}</string>
			<key>spriteSourceSize</key>
			<string>{89,41}</string>
			<key>textureRect</key>
			<string>{{162,0},{89,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_17-hd.png</string>
		<key>size</key>
		<string>{252,41}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_17-hd.png</string>
	</dict>
</dict>
</plist>
