<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_110_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.25}</string>
			<key>spriteSize</key>
			<string>{82,48}</string>
			<key>spriteSourceSize</key>
			<string>{82,48}</string>
			<key>textureRect</key>
			<string>{{0,0},{82,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_110_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-0.25}</string>
			<key>spriteSize</key>
			<string>{77,43}</string>
			<key>spriteSourceSize</key>
			<string>{77,43}</string>
			<key>textureRect</key>
			<string>{{83,0},{77,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_110_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,3.75}</string>
			<key>spriteSize</key>
			<string>{75,34}</string>
			<key>spriteSourceSize</key>
			<string>{75,34}</string>
			<key>textureRect</key>
			<string>{{161,0},{75,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_110_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.25}</string>
			<key>spriteSize</key>
			<string>{86,52}</string>
			<key>spriteSourceSize</key>
			<string>{86,52}</string>
			<key>textureRect</key>
			<string>{{237,0},{86,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_110-hd.png</string>
		<key>size</key>
		<string>{324,52}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_110-hd.png</string>
	</dict>
</dict>
</plist>
