<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_31_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{178,79}</string>
			<key>spriteSourceSize</key>
			<string>{178,79}</string>
			<key>textureRect</key>
			<string>{{0,0},{178,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_31_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{157,66}</string>
			<key>spriteSourceSize</key>
			<string>{157,66}</string>
			<key>textureRect</key>
			<string>{{179,0},{157,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_31_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{337,0},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_31_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{186,87}</string>
			<key>spriteSourceSize</key>
			<string>{186,87}</string>
			<key>textureRect</key>
			<string>{{340,0},{186,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_31-uhd.png</string>
		<key>size</key>
		<string>{527,87}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_31-uhd.png</string>
	</dict>
</dict>
</plist>
