<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_147_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{94,46}</string>
			<key>spriteSourceSize</key>
			<string>{94,46}</string>
			<key>textureRect</key>
			<string>{{0,0},{94,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_147_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.25,-2.5}</string>
			<key>spriteSize</key>
			<string>{87,38}</string>
			<key>spriteSourceSize</key>
			<string>{87,38}</string>
			<key>textureRect</key>
			<string>{{95,0},{87,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_147_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.25,-2.0}</string>
			<key>spriteSize</key>
			<string>{86,36}</string>
			<key>spriteSourceSize</key>
			<string>{86,36}</string>
			<key>textureRect</key>
			<string>{{183,0},{86,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_147_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{98,50}</string>
			<key>spriteSourceSize</key>
			<string>{98,50}</string>
			<key>textureRect</key>
			<string>{{270,0},{98,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_147-hd.png</string>
		<key>size</key>
		<string>{369,50}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_147-hd.png</string>
	</dict>
</dict>
</plist>
