<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_68_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-1.125}</string>
			<key>spriteSize</key>
			<string>{48,22}</string>
			<key>spriteSourceSize</key>
			<string>{48,22}</string>
			<key>textureRect</key>
			<string>{{0,0},{48,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_68_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,-0.875}</string>
			<key>spriteSize</key>
			<string>{43,19}</string>
			<key>spriteSourceSize</key>
			<string>{43,19}</string>
			<key>textureRect</key>
			<string>{{49,0},{43,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_68_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.125,-1.0}</string>
			<key>spriteSize</key>
			<string>{42,18}</string>
			<key>spriteSourceSize</key>
			<string>{42,18}</string>
			<key>textureRect</key>
			<string>{{93,0},{42,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_68_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-1.125}</string>
			<key>spriteSize</key>
			<string>{50,24}</string>
			<key>spriteSourceSize</key>
			<string>{50,24}</string>
			<key>textureRect</key>
			<string>{{136,0},{50,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_68.png</string>
		<key>size</key>
		<string>{187,24}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_68.png</string>
	</dict>
</dict>
</plist>
