<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_96_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{165,101}</string>
				<key>spriteSourceSize</key>
				<string>{165,101}</string>
				<key>textureRect</key>
				<string>{{0,110},{165,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_96_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-18,-15}</string>
				<key>spriteSize</key>
				<string>{121,63}</string>
				<key>spriteSourceSize</key>
				<string>{165,101}</string>
				<key>textureRect</key>
				<string>{{174,0},{121,63}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>ship_96_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{173,109}</string>
				<key>spriteSourceSize</key>
				<string>{173,109}</string>
				<key>textureRect</key>
				<string>{{0,0},{173,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_96-uhd.png</string>
			<key>size</key>
			<string>{237,211}</string>
			<key>textureFileName</key>
			<string>icons/ship_96-uhd.png</string>
		</dict>
	</dict>
</plist>