<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,7.5}</string>
			<key>spriteSize</key>
			<string>{175,93}</string>
			<key>spriteSourceSize</key>
			<string>{175,93}</string>
			<key>textureRect</key>
			<string>{{0,0},{175,93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9,0}</string>
			<key>spriteSize</key>
			<string>{134,57}</string>
			<key>spriteSourceSize</key>
			<string>{134,57}</string>
			<key>textureRect</key>
			<string>{{176,0},{134,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,7.5}</string>
			<key>spriteSize</key>
			<string>{183,101}</string>
			<key>spriteSourceSize</key>
			<string>{183,101}</string>
			<key>textureRect</key>
			<string>{{311,0},{183,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_01-uhd.png</string>
		<key>size</key>
		<string>{495,101}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_01-uhd.png</string>
	</dict>
</dict>
</plist>
