<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_76_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,3.75}</string>
			<key>spriteSize</key>
			<string>{87,46}</string>
			<key>spriteSourceSize</key>
			<string>{87,46}</string>
			<key>textureRect</key>
			<string>{{0,0},{87,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_76_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,3.5}</string>
			<key>spriteSize</key>
			<string>{81,41}</string>
			<key>spriteSourceSize</key>
			<string>{81,41}</string>
			<key>textureRect</key>
			<string>{{88,0},{81,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_76_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{21.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{7,5}</string>
			<key>spriteSourceSize</key>
			<string>{7,5}</string>
			<key>textureRect</key>
			<string>{{170,0},{5,7}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ship_76_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,3.75}</string>
			<key>spriteSize</key>
			<string>{91,50}</string>
			<key>spriteSourceSize</key>
			<string>{91,50}</string>
			<key>textureRect</key>
			<string>{{176,0},{91,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_76-hd.png</string>
		<key>size</key>
		<string>{268,50}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_76-hd.png</string>
	</dict>
</dict>
</plist>
