<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_122_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-4}</string>
			<key>spriteSize</key>
			<string>{187,82}</string>
			<key>spriteSourceSize</key>
			<string>{187,82}</string>
			<key>textureRect</key>
			<string>{{0,0},{187,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_122_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-4}</string>
			<key>spriteSize</key>
			<string>{176,74}</string>
			<key>spriteSourceSize</key>
			<string>{176,74}</string>
			<key>textureRect</key>
			<string>{{188,0},{176,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_122_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{14.5,-4.5}</string>
			<key>spriteSize</key>
			<string>{157,73}</string>
			<key>spriteSourceSize</key>
			<string>{157,73}</string>
			<key>textureRect</key>
			<string>{{365,0},{157,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_122_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-4}</string>
			<key>spriteSize</key>
			<string>{195,90}</string>
			<key>spriteSourceSize</key>
			<string>{195,90}</string>
			<key>textureRect</key>
			<string>{{523,0},{195,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_122-uhd.png</string>
		<key>size</key>
		<string>{719,90}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_122-uhd.png</string>
	</dict>
</dict>
</plist>
