<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_148_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-7}</string>
			<key>spriteSize</key>
			<string>{185,106}</string>
			<key>spriteSourceSize</key>
			<string>{185,106}</string>
			<key>textureRect</key>
			<string>{{0,0},{185,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_148_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,-14}</string>
			<key>spriteSize</key>
			<string>{148,68}</string>
			<key>spriteSourceSize</key>
			<string>{148,68}</string>
			<key>textureRect</key>
			<string>{{186,0},{148,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_148_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-10.5}</string>
			<key>spriteSize</key>
			<string>{168,85}</string>
			<key>spriteSourceSize</key>
			<string>{168,85}</string>
			<key>textureRect</key>
			<string>{{335,0},{168,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_148_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-7}</string>
			<key>spriteSize</key>
			<string>{193,114}</string>
			<key>spriteSourceSize</key>
			<string>{193,114}</string>
			<key>textureRect</key>
			<string>{{504,0},{193,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_148-uhd.png</string>
		<key>size</key>
		<string>{698,114}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_148-uhd.png</string>
	</dict>
</dict>
</plist>
