<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_68_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-4.5}</string>
			<key>spriteSize</key>
			<string>{193,89}</string>
			<key>spriteSourceSize</key>
			<string>{193,89}</string>
			<key>textureRect</key>
			<string>{{0,0},{193,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_68_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-3.5}</string>
			<key>spriteSize</key>
			<string>{175,77}</string>
			<key>spriteSourceSize</key>
			<string>{175,77}</string>
			<key>textureRect</key>
			<string>{{194,0},{175,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_68_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8.5,-4}</string>
			<key>spriteSize</key>
			<string>{170,74}</string>
			<key>spriteSourceSize</key>
			<string>{170,74}</string>
			<key>textureRect</key>
			<string>{{370,0},{170,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_68_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-4.5}</string>
			<key>spriteSize</key>
			<string>{201,97}</string>
			<key>spriteSourceSize</key>
			<string>{201,97}</string>
			<key>textureRect</key>
			<string>{{541,0},{201,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_68-uhd.png</string>
		<key>size</key>
		<string>{743,97}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_68-uhd.png</string>
	</dict>
</dict>
</plist>
