<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_162_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-11}</string>
			<key>spriteSize</key>
			<string>{169,77}</string>
			<key>spriteSourceSize</key>
			<string>{169,77}</string>
			<key>textureRect</key>
			<string>{{0,0},{169,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_162_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,-11.5}</string>
			<key>spriteSize</key>
			<string>{140,62}</string>
			<key>spriteSourceSize</key>
			<string>{140,62}</string>
			<key>textureRect</key>
			<string>{{170,0},{140,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_162_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-11}</string>
			<key>spriteSize</key>
			<string>{161,69}</string>
			<key>spriteSourceSize</key>
			<string>{161,69}</string>
			<key>textureRect</key>
			<string>{{311,0},{161,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_162_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-11}</string>
			<key>spriteSize</key>
			<string>{177,85}</string>
			<key>spriteSourceSize</key>
			<string>{177,85}</string>
			<key>textureRect</key>
			<string>{{473,0},{177,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_162-uhd.png</string>
		<key>size</key>
		<string>{651,85}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_162-uhd.png</string>
	</dict>
</dict>
</plist>
