<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_95_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{160,59}</string>
				<key>spriteSourceSize</key>
				<string>{160,63}</string>
				<key>textureRect</key>
				<string>{{0,68},{160,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_95_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,0}</string>
				<key>spriteSize</key>
				<string>{102,55}</string>
				<key>spriteSourceSize</key>
				<string>{160,63}</string>
				<key>textureRect</key>
				<string>{{0,168},{102,55}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_95_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-10.5,3}</string>
				<key>spriteSize</key>
				<string>{131,39}</string>
				<key>spriteSourceSize</key>
				<string>{160,63}</string>
				<key>textureRect</key>
				<string>{{0,128},{131,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_95_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{168,67}</string>
				<key>spriteSourceSize</key>
				<string>{168,71}</string>
				<key>textureRect</key>
				<string>{{0,0},{168,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_95-uhd.png</string>
			<key>size</key>
			<string>{168,223}</string>
			<key>textureFileName</key>
			<string>icons/ship_95-uhd.png</string>
		</dict>
	</dict>
</plist>