<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_58_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,7.5}</string>
			<key>spriteSize</key>
			<string>{146,129}</string>
			<key>spriteSourceSize</key>
			<string>{146,129}</string>
			<key>textureRect</key>
			<string>{{0,0},{146,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_58_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,12.5}</string>
			<key>spriteSize</key>
			<string>{131,115}</string>
			<key>spriteSourceSize</key>
			<string>{131,115}</string>
			<key>textureRect</key>
			<string>{{147,0},{115,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_58_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-28.5,35}</string>
			<key>spriteSize</key>
			<string>{82,64}</string>
			<key>spriteSourceSize</key>
			<string>{82,64}</string>
			<key>textureRect</key>
			<string>{{263,0},{64,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_58_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,7.5}</string>
			<key>spriteSize</key>
			<string>{154,137}</string>
			<key>spriteSourceSize</key>
			<string>{154,137}</string>
			<key>textureRect</key>
			<string>{{328,0},{154,137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_58_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,0}</string>
			<key>spriteSize</key>
			<string>{47,64}</string>
			<key>spriteSourceSize</key>
			<string>{47,64}</string>
			<key>textureRect</key>
			<string>{{483,0},{47,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_58_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9.5,10.5}</string>
			<key>spriteSize</key>
			<string>{29,39}</string>
			<key>spriteSourceSize</key>
			<string>{29,39}</string>
			<key>textureRect</key>
			<string>{{531,0},{29,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_58_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,0}</string>
			<key>spriteSize</key>
			<string>{55,72}</string>
			<key>spriteSourceSize</key>
			<string>{55,72}</string>
			<key>textureRect</key>
			<string>{{561,0},{55,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_58_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-2}</string>
			<key>spriteSize</key>
			<string>{51,73}</string>
			<key>spriteSourceSize</key>
			<string>{51,73}</string>
			<key>textureRect</key>
			<string>{{617,0},{51,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_58_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,9}</string>
			<key>spriteSize</key>
			<string>{33,33}</string>
			<key>spriteSourceSize</key>
			<string>{33,33}</string>
			<key>textureRect</key>
			<string>{{669,0},{33,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_58_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-2}</string>
			<key>spriteSize</key>
			<string>{59,81}</string>
			<key>spriteSourceSize</key>
			<string>{59,81}</string>
			<key>textureRect</key>
			<string>{{703,0},{59,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_58_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{763,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_58_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{49,29}</string>
			<key>spriteSourceSize</key>
			<string>{49,29}</string>
			<key>textureRect</key>
			<string>{{798,0},{29,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_58_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{828,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_58-uhd.png</string>
		<key>size</key>
		<string>{871,137}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_58-uhd.png</string>
	</dict>
</dict>
</plist>
