<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_68_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{69,56}</string>
			<key>spriteSourceSize</key>
			<string>{69,56}</string>
			<key>textureRect</key>
			<string>{{0,0},{56,69}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_68_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{69,56}</string>
			<key>spriteSourceSize</key>
			<string>{69,56}</string>
			<key>textureRect</key>
			<string>{{57,0},{56,69}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_68_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{43,24}</string>
			<key>spriteSourceSize</key>
			<string>{43,24}</string>
			<key>textureRect</key>
			<string>{{114,0},{24,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_68_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{73,60}</string>
			<key>spriteSourceSize</key>
			<string>{73,60}</string>
			<key>textureRect</key>
			<string>{{139,0},{60,73}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_68_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{22,31}</string>
			<key>spriteSourceSize</key>
			<string>{22,31}</string>
			<key>textureRect</key>
			<string>{{200,0},{22,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_68_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{22,31}</string>
			<key>spriteSourceSize</key>
			<string>{22,31}</string>
			<key>textureRect</key>
			<string>{{223,0},{22,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_68_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{26,35}</string>
			<key>spriteSourceSize</key>
			<string>{26,35}</string>
			<key>textureRect</key>
			<string>{{246,0},{26,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_68_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{19,37}</string>
			<key>spriteSourceSize</key>
			<string>{19,37}</string>
			<key>textureRect</key>
			<string>{{273,0},{19,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_68_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{19,37}</string>
			<key>spriteSourceSize</key>
			<string>{19,37}</string>
			<key>textureRect</key>
			<string>{{293,0},{19,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_68_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{23,41}</string>
			<key>spriteSourceSize</key>
			<string>{23,41}</string>
			<key>textureRect</key>
			<string>{{313,0},{23,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_68_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{337,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_68_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{3,2}</string>
			<key>spriteSourceSize</key>
			<string>{3,2}</string>
			<key>textureRect</key>
			<string>{{355,0},{2,3}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_68_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{358,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_68-hd.png</string>
		<key>size</key>
		<string>{380,73}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_68-hd.png</string>
	</dict>
</dict>
</plist>
