<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_12_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.375,1.5}</string>
			<key>spriteSize</key>
			<string>{33,25}</string>
			<key>spriteSourceSize</key>
			<string>{33,25}</string>
			<key>textureRect</key>
			<string>{{0,0},{25,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_12_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.125,0.875}</string>
			<key>spriteSize</key>
			<string>{30,22}</string>
			<key>spriteSourceSize</key>
			<string>{30,22}</string>
			<key>textureRect</key>
			<string>{{26,0},{22,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_12_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,1.0}</string>
			<key>spriteSize</key>
			<string>{29,22}</string>
			<key>spriteSourceSize</key>
			<string>{29,22}</string>
			<key>textureRect</key>
			<string>{{49,0},{22,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_12_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.375,1.5}</string>
			<key>spriteSize</key>
			<string>{35,27}</string>
			<key>spriteSourceSize</key>
			<string>{35,27}</string>
			<key>textureRect</key>
			<string>{{72,0},{27,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_12_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.125}</string>
			<key>spriteSize</key>
			<string>{10,16}</string>
			<key>spriteSourceSize</key>
			<string>{10,16}</string>
			<key>textureRect</key>
			<string>{{100,0},{10,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_12_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.375}</string>
			<key>spriteSize</key>
			<string>{9,13}</string>
			<key>spriteSourceSize</key>
			<string>{9,13}</string>
			<key>textureRect</key>
			<string>{{111,0},{9,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_12_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.125}</string>
			<key>spriteSize</key>
			<string>{12,18}</string>
			<key>spriteSourceSize</key>
			<string>{12,18}</string>
			<key>textureRect</key>
			<string>{{121,0},{12,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_12_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.375,-0.25}</string>
			<key>spriteSize</key>
			<string>{11,18}</string>
			<key>spriteSourceSize</key>
			<string>{11,18}</string>
			<key>textureRect</key>
			<string>{{134,0},{11,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_12_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.375,0.5}</string>
			<key>spriteSize</key>
			<string>{9,15}</string>
			<key>spriteSourceSize</key>
			<string>{9,15}</string>
			<key>textureRect</key>
			<string>{{146,0},{9,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_12_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.375,-0.25}</string>
			<key>spriteSize</key>
			<string>{13,20}</string>
			<key>spriteSourceSize</key>
			<string>{13,20}</string>
			<key>textureRect</key>
			<string>{{156,0},{13,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_12_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{13,8}</string>
			<key>textureRect</key>
			<string>{{170,0},{8,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_12_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{179,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_12_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{15,10}</string>
			<key>spriteSourceSize</key>
			<string>{15,10}</string>
			<key>textureRect</key>
			<string>{{181,0},{10,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_12.png</string>
		<key>size</key>
		<string>{192,35}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_12.png</string>
	</dict>
</dict>
</plist>
