<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_55_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,0.0}</string>
			<key>spriteSize</key>
			<string>{61,44}</string>
			<key>spriteSourceSize</key>
			<string>{61,44}</string>
			<key>textureRect</key>
			<string>{{0,0},{61,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_55_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,4.25}</string>
			<key>spriteSize</key>
			<string>{43,32}</string>
			<key>spriteSourceSize</key>
			<string>{43,32}</string>
			<key>textureRect</key>
			<string>{{62,0},{32,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_55_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.75,0.25}</string>
			<key>spriteSize</key>
			<string>{55,31}</string>
			<key>spriteSourceSize</key>
			<string>{55,31}</string>
			<key>textureRect</key>
			<string>{{95,0},{55,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_55_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,0.0}</string>
			<key>spriteSize</key>
			<string>{65,48}</string>
			<key>spriteSourceSize</key>
			<string>{65,48}</string>
			<key>textureRect</key>
			<string>{{151,0},{65,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_55_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{20,30}</string>
			<key>spriteSourceSize</key>
			<string>{20,30}</string>
			<key>textureRect</key>
			<string>{{217,0},{20,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_55_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,-7.25}</string>
			<key>spriteSize</key>
			<string>{10,13}</string>
			<key>spriteSourceSize</key>
			<string>{10,13}</string>
			<key>textureRect</key>
			<string>{{238,0},{10,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_55_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{24,34}</string>
			<key>spriteSourceSize</key>
			<string>{24,34}</string>
			<key>textureRect</key>
			<string>{{249,0},{24,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_55_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-0.5}</string>
			<key>spriteSize</key>
			<string>{18,35}</string>
			<key>spriteSourceSize</key>
			<string>{18,35}</string>
			<key>textureRect</key>
			<string>{{274,0},{18,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_55_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,-7.75}</string>
			<key>spriteSize</key>
			<string>{9,17}</string>
			<key>spriteSourceSize</key>
			<string>{9,17}</string>
			<key>textureRect</key>
			<string>{{293,0},{9,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_55_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-0.5}</string>
			<key>spriteSize</key>
			<string>{22,39}</string>
			<key>spriteSourceSize</key>
			<string>{22,39}</string>
			<key>textureRect</key>
			<string>{{303,0},{22,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_55_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{326,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_55_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.25}</string>
			<key>spriteSize</key>
			<string>{24,14}</string>
			<key>spriteSourceSize</key>
			<string>{24,14}</string>
			<key>textureRect</key>
			<string>{{344,0},{14,24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_55_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{359,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_55-hd.png</string>
		<key>size</key>
		<string>{381,48}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_55-hd.png</string>
	</dict>
</dict>
</plist>
