<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_42_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,6}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{0,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_42_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{22,8.5}</string>
			<key>spriteSize</key>
			<string>{33,33}</string>
			<key>spriteSourceSize</key>
			<string>{33,33}</string>
			<key>textureRect</key>
			<string>{{106,0},{33,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_42_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,6}</string>
			<key>spriteSize</key>
			<string>{113,114}</string>
			<key>spriteSourceSize</key>
			<string>{113,114}</string>
			<key>textureRect</key>
			<string>{{140,0},{113,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_42_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,62}</string>
			<key>spriteSourceSize</key>
			<string>{44,62}</string>
			<key>textureRect</key>
			<string>{{254,0},{44,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_42_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,10}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{299,0},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_42_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,70}</string>
			<key>spriteSourceSize</key>
			<string>{52,70}</string>
			<key>textureRect</key>
			<string>{{318,0},{52,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_42_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,72}</string>
			<key>spriteSourceSize</key>
			<string>{38,72}</string>
			<key>textureRect</key>
			<string>{{371,0},{38,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_42_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9.5,15}</string>
			<key>spriteSize</key>
			<string>{13,24}</string>
			<key>spriteSourceSize</key>
			<string>{13,24}</string>
			<key>textureRect</key>
			<string>{{410,0},{13,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_42_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,80}</string>
			<key>spriteSourceSize</key>
			<string>{46,80}</string>
			<key>textureRect</key>
			<string>{{424,0},{46,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_42_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{471,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_42_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0}</string>
			<key>spriteSize</key>
			<string>{5,4}</string>
			<key>spriteSourceSize</key>
			<string>{5,4}</string>
			<key>textureRect</key>
			<string>{{506,0},{4,5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_42_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{511,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_42-uhd.png</string>
		<key>size</key>
		<string>{554,114}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_42-uhd.png</string>
	</dict>
</dict>
</plist>
