<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_28_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.875,1.5}</string>
			<key>spriteSize</key>
			<string>{26,26}</string>
			<key>spriteSourceSize</key>
			<string>{26,26}</string>
			<key>textureRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_28_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string>{0,0}</string>
			<key>textureRect</key>
			<string>{{27,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_28_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string>{0,0}</string>
			<key>textureRect</key>
			<string>{{28,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_28_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.875,1.5}</string>
			<key>spriteSize</key>
			<string>{28,28}</string>
			<key>spriteSourceSize</key>
			<string>{28,28}</string>
			<key>textureRect</key>
			<string>{{29,0},{28,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_28_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{11,15}</string>
			<key>spriteSourceSize</key>
			<string>{11,15}</string>
			<key>textureRect</key>
			<string>{{58,0},{11,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_28_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,2.5}</string>
			<key>spriteSize</key>
			<string>{4,4}</string>
			<key>spriteSourceSize</key>
			<string>{4,4}</string>
			<key>textureRect</key>
			<string>{{70,0},{4,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_28_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,17}</string>
			<key>spriteSourceSize</key>
			<string>{13,17}</string>
			<key>textureRect</key>
			<string>{{75,0},{13,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_28_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.125}</string>
			<key>spriteSize</key>
			<string>{9,18}</string>
			<key>spriteSourceSize</key>
			<string>{9,18}</string>
			<key>textureRect</key>
			<string>{{89,0},{9,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_28_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string>{0,0}</string>
			<key>textureRect</key>
			<string>{{99,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_28_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.125}</string>
			<key>spriteSize</key>
			<string>{11,20}</string>
			<key>spriteSourceSize</key>
			<string>{11,20}</string>
			<key>textureRect</key>
			<string>{{100,0},{11,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_28_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{13,8}</string>
			<key>textureRect</key>
			<string>{{112,0},{8,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_28_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string>{0,0}</string>
			<key>textureRect</key>
			<string>{{121,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_28_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{15,10}</string>
			<key>spriteSourceSize</key>
			<string>{15,10}</string>
			<key>textureRect</key>
			<string>{{122,0},{10,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_28.png</string>
		<key>size</key>
		<string>{133,28}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_28.png</string>
	</dict>
</dict>
</plist>
