<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_11_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.0,10.0}</string>
			<key>spriteSize</key>
			<string>{71,71}</string>
			<key>spriteSourceSize</key>
			<string>{71,71}</string>
			<key>textureRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.0,10.0}</string>
			<key>spriteSize</key>
			<string>{67,65}</string>
			<key>spriteSourceSize</key>
			<string>{67,65}</string>
			<key>textureRect</key>
			<string>{{72,0},{65,67}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_11_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{138,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.0,10.0}</string>
			<key>spriteSize</key>
			<string>{75,75}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{140,0},{75,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{22,32}</string>
			<key>spriteSourceSize</key>
			<string>{22,32}</string>
			<key>textureRect</key>
			<string>{{216,0},{22,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.5}</string>
			<key>spriteSize</key>
			<string>{18,28}</string>
			<key>spriteSourceSize</key>
			<string>{18,28}</string>
			<key>textureRect</key>
			<string>{{239,0},{18,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{26,36}</string>
			<key>spriteSourceSize</key>
			<string>{26,36}</string>
			<key>textureRect</key>
			<string>{{258,0},{26,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.75,-0.75}</string>
			<key>spriteSize</key>
			<string>{19,41}</string>
			<key>spriteSourceSize</key>
			<string>{19,41}</string>
			<key>textureRect</key>
			<string>{{285,0},{19,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.75,0.25}</string>
			<key>spriteSize</key>
			<string>{16,35}</string>
			<key>spriteSourceSize</key>
			<string>{16,35}</string>
			<key>textureRect</key>
			<string>{{305,0},{16,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.75,-0.75}</string>
			<key>spriteSize</key>
			<string>{23,45}</string>
			<key>spriteSourceSize</key>
			<string>{23,45}</string>
			<key>textureRect</key>
			<string>{{322,0},{23,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{346,0},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{349,0},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_11_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{6,6}</string>
			<key>spriteSourceSize</key>
			<string>{6,6}</string>
			<key>textureRect</key>
			<string>{{352,0},{6,6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_11-hd.png</string>
		<key>size</key>
		<string>{359,75}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_11-hd.png</string>
	</dict>
</dict>
</plist>
