<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_57_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,5.25}</string>
			<key>spriteSize</key>
			<string>{75,67}</string>
			<key>spriteSourceSize</key>
			<string>{75,67}</string>
			<key>textureRect</key>
			<string>{{0,0},{75,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_57_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.0,8.0}</string>
			<key>spriteSize</key>
			<string>{66,59}</string>
			<key>spriteSourceSize</key>
			<string>{66,59}</string>
			<key>textureRect</key>
			<string>{{76,0},{59,66}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_57_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{17.75,1.5}</string>
			<key>spriteSize</key>
			<string>{36,24}</string>
			<key>spriteSourceSize</key>
			<string>{36,24}</string>
			<key>textureRect</key>
			<string>{{136,0},{24,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_57_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,5.25}</string>
			<key>spriteSize</key>
			<string>{79,71}</string>
			<key>spriteSourceSize</key>
			<string>{79,71}</string>
			<key>textureRect</key>
			<string>{{161,0},{79,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_57_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,0.0}</string>
			<key>spriteSize</key>
			<string>{23,32}</string>
			<key>spriteSourceSize</key>
			<string>{23,32}</string>
			<key>textureRect</key>
			<string>{{241,0},{23,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_57_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.75,5.25}</string>
			<key>spriteSize</key>
			<string>{14,19}</string>
			<key>spriteSourceSize</key>
			<string>{14,19}</string>
			<key>textureRect</key>
			<string>{{265,0},{14,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_57_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,0.0}</string>
			<key>spriteSize</key>
			<string>{27,36}</string>
			<key>spriteSourceSize</key>
			<string>{27,36}</string>
			<key>textureRect</key>
			<string>{{280,0},{27,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_57_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{25,36}</string>
			<key>spriteSourceSize</key>
			<string>{25,36}</string>
			<key>textureRect</key>
			<string>{{308,0},{25,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_57_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6.5,4.5}</string>
			<key>spriteSize</key>
			<string>{16,16}</string>
			<key>spriteSourceSize</key>
			<string>{16,16}</string>
			<key>textureRect</key>
			<string>{{334,0},{16,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_57_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{29,40}</string>
			<key>spriteSourceSize</key>
			<string>{29,40}</string>
			<key>textureRect</key>
			<string>{{351,0},{29,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_57_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{381,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_57_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.25}</string>
			<key>spriteSize</key>
			<string>{24,14}</string>
			<key>spriteSourceSize</key>
			<string>{24,14}</string>
			<key>textureRect</key>
			<string>{{399,0},{14,24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_57_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{414,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_57-hd.png</string>
		<key>size</key>
		<string>{436,71}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_57-hd.png</string>
	</dict>
</dict>
</plist>
