<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_69_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{161,116}</string>
			<key>spriteSourceSize</key>
			<string>{161,116}</string>
			<key>textureRect</key>
			<string>{{0,0},{116,161}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_69_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{161,116}</string>
			<key>spriteSourceSize</key>
			<string>{161,116}</string>
			<key>textureRect</key>
			<string>{{117,0},{116,161}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_69_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{161,116}</string>
			<key>spriteSourceSize</key>
			<string>{161,116}</string>
			<key>textureRect</key>
			<string>{{234,0},{116,161}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_69_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{169,123}</string>
			<key>spriteSourceSize</key>
			<string>{169,123}</string>
			<key>textureRect</key>
			<string>{{351,0},{123,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_69_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,70}</string>
			<key>spriteSourceSize</key>
			<string>{50,70}</string>
			<key>textureRect</key>
			<string>{{475,0},{50,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_69_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,42}</string>
			<key>spriteSourceSize</key>
			<string>{22,42}</string>
			<key>textureRect</key>
			<string>{{526,0},{22,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_69_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,78}</string>
			<key>spriteSourceSize</key>
			<string>{58,78}</string>
			<key>textureRect</key>
			<string>{{549,0},{58,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_69_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,78}</string>
			<key>spriteSourceSize</key>
			<string>{52,78}</string>
			<key>textureRect</key>
			<string>{{608,0},{52,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_69_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,52}</string>
			<key>spriteSourceSize</key>
			<string>{24,52}</string>
			<key>textureRect</key>
			<string>{{661,0},{24,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_69_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,86}</string>
			<key>spriteSourceSize</key>
			<string>{60,86}</string>
			<key>textureRect</key>
			<string>{{686,0},{60,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_69_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,34}</string>
			<key>spriteSourceSize</key>
			<string>{55,34}</string>
			<key>textureRect</key>
			<string>{{747,0},{34,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_69_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,30}</string>
			<key>spriteSourceSize</key>
			<string>{50,30}</string>
			<key>textureRect</key>
			<string>{{782,0},{30,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_69_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,42}</string>
			<key>spriteSourceSize</key>
			<string>{63,42}</string>
			<key>textureRect</key>
			<string>{{813,0},{42,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_69-uhd.png</string>
		<key>size</key>
		<string>{856,169}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_69-uhd.png</string>
	</dict>
</dict>
</plist>
