<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_47_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,20}</string>
			<key>spriteSize</key>
			<string>{144,136}</string>
			<key>spriteSourceSize</key>
			<string>{144,136}</string>
			<key>textureRect</key>
			<string>{{0,0},{144,136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,20.5}</string>
			<key>spriteSize</key>
			<string>{135,129}</string>
			<key>spriteSourceSize</key>
			<string>{135,129}</string>
			<key>textureRect</key>
			<string>{{145,0},{129,135}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_47_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,20}</string>
			<key>spriteSize</key>
			<string>{152,144}</string>
			<key>spriteSourceSize</key>
			<string>{152,144}</string>
			<key>textureRect</key>
			<string>{{275,0},{152,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0}</string>
			<key>spriteSize</key>
			<string>{43,64}</string>
			<key>spriteSourceSize</key>
			<string>{43,64}</string>
			<key>textureRect</key>
			<string>{{428,0},{43,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,54}</string>
			<key>spriteSourceSize</key>
			<string>{38,54}</string>
			<key>textureRect</key>
			<string>{{472,0},{38,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0}</string>
			<key>spriteSize</key>
			<string>{51,72}</string>
			<key>spriteSourceSize</key>
			<string>{51,72}</string>
			<key>textureRect</key>
			<string>{{511,0},{51,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-1}</string>
			<key>spriteSize</key>
			<string>{38,82}</string>
			<key>spriteSourceSize</key>
			<string>{38,82}</string>
			<key>textureRect</key>
			<string>{{563,0},{38,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6.5,0}</string>
			<key>spriteSize</key>
			<string>{31,70}</string>
			<key>spriteSourceSize</key>
			<string>{31,70}</string>
			<key>textureRect</key>
			<string>{{602,0},{31,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-1}</string>
			<key>spriteSize</key>
			<string>{46,90}</string>
			<key>spriteSourceSize</key>
			<string>{46,90}</string>
			<key>textureRect</key>
			<string>{{634,0},{46,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{4,4}</string>
			<key>spriteSourceSize</key>
			<string>{4,4}</string>
			<key>textureRect</key>
			<string>{{681,0},{4,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{4,4}</string>
			<key>spriteSourceSize</key>
			<string>{4,4}</string>
			<key>textureRect</key>
			<string>{{686,0},{4,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{12,12}</string>
			<key>spriteSourceSize</key>
			<string>{12,12}</string>
			<key>textureRect</key>
			<string>{{691,0},{12,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_47-uhd.png</string>
		<key>size</key>
		<string>{704,144}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_47-uhd.png</string>
	</dict>
</dict>
</plist>
