<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_59_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,11}</string>
			<key>spriteSize</key>
			<string>{149,136}</string>
			<key>spriteSourceSize</key>
			<string>{149,136}</string>
			<key>textureRect</key>
			<string>{{0,0},{149,136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_59_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,11}</string>
			<key>spriteSize</key>
			<string>{143,130}</string>
			<key>spriteSourceSize</key>
			<string>{143,130}</string>
			<key>textureRect</key>
			<string>{{150,0},{143,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_59_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{24,4.5}</string>
			<key>spriteSize</key>
			<string>{99,55}</string>
			<key>spriteSourceSize</key>
			<string>{99,55}</string>
			<key>textureRect</key>
			<string>{{294,0},{55,99}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_59_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,11}</string>
			<key>spriteSize</key>
			<string>{157,144}</string>
			<key>spriteSourceSize</key>
			<string>{157,144}</string>
			<key>textureRect</key>
			<string>{{350,0},{157,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_59_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,0}</string>
			<key>spriteSize</key>
			<string>{47,64}</string>
			<key>spriteSourceSize</key>
			<string>{47,64}</string>
			<key>textureRect</key>
			<string>{{508,0},{47,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_59_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9.5,10.5}</string>
			<key>spriteSize</key>
			<string>{29,39}</string>
			<key>spriteSourceSize</key>
			<string>{29,39}</string>
			<key>textureRect</key>
			<string>{{556,0},{29,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_59_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,0}</string>
			<key>spriteSize</key>
			<string>{55,72}</string>
			<key>spriteSourceSize</key>
			<string>{55,72}</string>
			<key>textureRect</key>
			<string>{{586,0},{55,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_59_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-2}</string>
			<key>spriteSize</key>
			<string>{51,73}</string>
			<key>spriteSourceSize</key>
			<string>{51,73}</string>
			<key>textureRect</key>
			<string>{{642,0},{73,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_59_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,9}</string>
			<key>spriteSize</key>
			<string>{33,33}</string>
			<key>spriteSourceSize</key>
			<string>{33,33}</string>
			<key>textureRect</key>
			<string>{{716,0},{33,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_59_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-2}</string>
			<key>spriteSize</key>
			<string>{59,81}</string>
			<key>spriteSourceSize</key>
			<string>{59,81}</string>
			<key>textureRect</key>
			<string>{{750,0},{81,59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_59_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{832,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_59_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{49,29}</string>
			<key>spriteSourceSize</key>
			<string>{49,29}</string>
			<key>textureRect</key>
			<string>{{867,0},{29,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_59_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{897,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_59-uhd.png</string>
		<key>size</key>
		<string>{940,144}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_59-uhd.png</string>
	</dict>
</dict>
</plist>
