<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_66_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{133,83}</string>
			<key>spriteSourceSize</key>
			<string>{133,83}</string>
			<key>textureRect</key>
			<string>{{0,0},{83,133}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_66_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{133,83}</string>
			<key>spriteSourceSize</key>
			<string>{133,83}</string>
			<key>textureRect</key>
			<string>{{84,0},{83,133}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_66_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{133,83}</string>
			<key>spriteSourceSize</key>
			<string>{133,83}</string>
			<key>textureRect</key>
			<string>{{168,0},{83,133}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_66_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{142,91}</string>
			<key>spriteSourceSize</key>
			<string>{142,91}</string>
			<key>textureRect</key>
			<string>{{252,0},{91,142}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_66_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,62}</string>
			<key>spriteSourceSize</key>
			<string>{44,62}</string>
			<key>textureRect</key>
			<string>{{344,0},{44,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,62}</string>
			<key>spriteSourceSize</key>
			<string>{44,62}</string>
			<key>textureRect</key>
			<string>{{389,0},{44,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,70}</string>
			<key>spriteSourceSize</key>
			<string>{52,70}</string>
			<key>textureRect</key>
			<string>{{434,0},{52,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,72}</string>
			<key>spriteSourceSize</key>
			<string>{40,72}</string>
			<key>textureRect</key>
			<string>{{487,0},{40,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,72}</string>
			<key>spriteSourceSize</key>
			<string>{40,72}</string>
			<key>textureRect</key>
			<string>{{528,0},{40,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,80}</string>
			<key>spriteSourceSize</key>
			<string>{48,80}</string>
			<key>textureRect</key>
			<string>{{569,0},{48,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,34}</string>
			<key>spriteSourceSize</key>
			<string>{55,34}</string>
			<key>textureRect</key>
			<string>{{618,0},{34,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_66_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,4}</string>
			<key>spriteSourceSize</key>
			<string>{6,4}</string>
			<key>textureRect</key>
			<string>{{653,0},{4,6}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_66_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,42}</string>
			<key>spriteSourceSize</key>
			<string>{63,42}</string>
			<key>textureRect</key>
			<string>{{658,0},{42,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_66-uhd.png</string>
		<key>size</key>
		<string>{701,142}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_66-uhd.png</string>
	</dict>
</dict>
</plist>
