<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_23_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{59,39}</string>
			<key>spriteSourceSize</key>
			<string>{59,39}</string>
			<key>textureRect</key>
			<string>{{0,0},{39,59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_23_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12.75,3.5}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{40,0},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{59,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{63,43}</string>
			<key>spriteSourceSize</key>
			<string>{63,43}</string>
			<key>textureRect</key>
			<string>{{61,0},{43,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_23_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{22,31}</string>
			<key>spriteSourceSize</key>
			<string>{22,31}</string>
			<key>textureRect</key>
			<string>{{105,0},{22,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{128,0},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_23_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{26,35}</string>
			<key>spriteSourceSize</key>
			<string>{26,35}</string>
			<key>textureRect</key>
			<string>{{131,0},{26,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.25}</string>
			<key>spriteSize</key>
			<string>{19,36}</string>
			<key>spriteSourceSize</key>
			<string>{19,36}</string>
			<key>textureRect</key>
			<string>{{158,0},{19,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{178,0},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_23_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.25}</string>
			<key>spriteSize</key>
			<string>{23,40}</string>
			<key>spriteSourceSize</key>
			<string>{23,40}</string>
			<key>textureRect</key>
			<string>{{181,0},{23,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_23_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{205,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_23_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{223,0},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_23_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{226,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_23-hd.png</string>
		<key>size</key>
		<string>{248,63}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_23-hd.png</string>
	</dict>
</dict>
</plist>
