<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_40_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.375,5.125}</string>
			<key>spriteSize</key>
			<string>{35,35}</string>
			<key>spriteSourceSize</key>
			<string>{35,35}</string>
			<key>textureRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_40_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.375,4.875}</string>
			<key>spriteSize</key>
			<string>{34,32}</string>
			<key>spriteSourceSize</key>
			<string>{34,32}</string>
			<key>textureRect</key>
			<string>{{36,0},{32,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_40_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6.875,4.25}</string>
			<key>spriteSize</key>
			<string>{19,20}</string>
			<key>spriteSourceSize</key>
			<string>{19,20}</string>
			<key>textureRect</key>
			<string>{{69,0},{19,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_40_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.375,5.125}</string>
			<key>spriteSize</key>
			<string>{37,37}</string>
			<key>spriteSourceSize</key>
			<string>{37,37}</string>
			<key>textureRect</key>
			<string>{{89,0},{37,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_40_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{11,16}</string>
			<key>spriteSourceSize</key>
			<string>{11,16}</string>
			<key>textureRect</key>
			<string>{{127,0},{11,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_40_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,0.25}</string>
			<key>spriteSize</key>
			<string>{9,14}</string>
			<key>spriteSourceSize</key>
			<string>{9,14}</string>
			<key>textureRect</key>
			<string>{{139,0},{9,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_40_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,18}</string>
			<key>spriteSourceSize</key>
			<string>{13,18}</string>
			<key>textureRect</key>
			<string>{{149,0},{13,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_40_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.875,-0.375}</string>
			<key>spriteSize</key>
			<string>{9,20}</string>
			<key>spriteSourceSize</key>
			<string>{9,20}</string>
			<key>textureRect</key>
			<string>{{163,0},{9,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_40_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.875,0.125}</string>
			<key>spriteSize</key>
			<string>{8,17}</string>
			<key>spriteSourceSize</key>
			<string>{8,17}</string>
			<key>textureRect</key>
			<string>{{173,0},{8,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_40_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.875,-0.375}</string>
			<key>spriteSize</key>
			<string>{11,22}</string>
			<key>spriteSourceSize</key>
			<string>{11,22}</string>
			<key>textureRect</key>
			<string>{{182,0},{11,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_40_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{194,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_40_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{196,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_40_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{3,3}</string>
			<key>textureRect</key>
			<string>{{198,0},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_40.png</string>
		<key>size</key>
		<string>{202,37}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_40.png</string>
	</dict>
</dict>
</plist>
