<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_62_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,8}</string>
			<key>spriteSize</key>
			<string>{120,103}</string>
			<key>spriteSourceSize</key>
			<string>{120,103}</string>
			<key>textureRect</key>
			<string>{{0,0},{120,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{21.5,8}</string>
			<key>spriteSize</key>
			<string>{89,97}</string>
			<key>spriteSourceSize</key>
			<string>{89,97}</string>
			<key>textureRect</key>
			<string>{{121,0},{89,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,3}</string>
			<key>spriteSize</key>
			<string>{112,85}</string>
			<key>spriteSourceSize</key>
			<string>{112,85}</string>
			<key>textureRect</key>
			<string>{{211,0},{112,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,8}</string>
			<key>spriteSize</key>
			<string>{128,111}</string>
			<key>spriteSourceSize</key>
			<string>{128,111}</string>
			<key>textureRect</key>
			<string>{{324,0},{128,111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,64}</string>
			<key>spriteSourceSize</key>
			<string>{48,64}</string>
			<key>textureRect</key>
			<string>{{453,0},{48,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-14.5}</string>
			<key>spriteSize</key>
			<string>{24,29}</string>
			<key>spriteSourceSize</key>
			<string>{24,29}</string>
			<key>textureRect</key>
			<string>{{502,0},{24,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,72}</string>
			<key>spriteSourceSize</key>
			<string>{56,72}</string>
			<key>textureRect</key>
			<string>{{527,0},{56,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,2}</string>
			<key>spriteSize</key>
			<string>{46,75}</string>
			<key>spriteSourceSize</key>
			<string>{46,75}</string>
			<key>textureRect</key>
			<string>{{584,0},{46,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.5,-13}</string>
			<key>spriteSize</key>
			<string>{21,39}</string>
			<key>spriteSourceSize</key>
			<string>{21,39}</string>
			<key>textureRect</key>
			<string>{{631,0},{21,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,2}</string>
			<key>spriteSize</key>
			<string>{54,83}</string>
			<key>spriteSourceSize</key>
			<string>{54,83}</string>
			<key>textureRect</key>
			<string>{{653,0},{54,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{708,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_62_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{49,29}</string>
			<key>spriteSourceSize</key>
			<string>{49,29}</string>
			<key>textureRect</key>
			<string>{{743,0},{29,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_62_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{773,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_62-uhd.png</string>
		<key>size</key>
		<string>{816,111}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_62-uhd.png</string>
	</dict>
</dict>
</plist>
