<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_69_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{80,58}</string>
			<key>spriteSourceSize</key>
			<string>{80,58}</string>
			<key>textureRect</key>
			<string>{{0,0},{80,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_69_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{80,58}</string>
			<key>spriteSourceSize</key>
			<string>{80,58}</string>
			<key>textureRect</key>
			<string>{{81,0},{80,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_69_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{80,58}</string>
			<key>spriteSourceSize</key>
			<string>{80,58}</string>
			<key>textureRect</key>
			<string>{{162,0},{80,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_69_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{84,61}</string>
			<key>spriteSourceSize</key>
			<string>{84,61}</string>
			<key>textureRect</key>
			<string>{{243,0},{84,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_69_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{25,35}</string>
			<key>spriteSourceSize</key>
			<string>{25,35}</string>
			<key>textureRect</key>
			<string>{{328,0},{25,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_69_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{11,21}</string>
			<key>spriteSourceSize</key>
			<string>{11,21}</string>
			<key>textureRect</key>
			<string>{{354,0},{11,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_69_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{29,39}</string>
			<key>spriteSourceSize</key>
			<string>{29,39}</string>
			<key>textureRect</key>
			<string>{{366,0},{29,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_69_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{26,39}</string>
			<key>spriteSourceSize</key>
			<string>{26,39}</string>
			<key>textureRect</key>
			<string>{{396,0},{26,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_69_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{12,26}</string>
			<key>spriteSourceSize</key>
			<string>{12,26}</string>
			<key>textureRect</key>
			<string>{{423,0},{12,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_69_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{30,43}</string>
			<key>spriteSourceSize</key>
			<string>{30,43}</string>
			<key>textureRect</key>
			<string>{{436,0},{30,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_69_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{467,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_69_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{25,15}</string>
			<key>spriteSourceSize</key>
			<string>{25,15}</string>
			<key>textureRect</key>
			<string>{{485,0},{15,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_69_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{501,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_69-hd.png</string>
		<key>size</key>
		<string>{523,61}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_69-hd.png</string>
	</dict>
</dict>
</plist>
