<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_30_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,0.0}</string>
			<key>spriteSize</key>
			<string>{65,57}</string>
			<key>spriteSourceSize</key>
			<string>{65,57}</string>
			<key>textureRect</key>
			<string>{{0,0},{57,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_30_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,0.0}</string>
			<key>spriteSize</key>
			<string>{61,50}</string>
			<key>spriteSourceSize</key>
			<string>{61,50}</string>
			<key>textureRect</key>
			<string>{{58,0},{50,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_30_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.0,1.0}</string>
			<key>spriteSize</key>
			<string>{60,49}</string>
			<key>spriteSourceSize</key>
			<string>{60,49}</string>
			<key>textureRect</key>
			<string>{{109,0},{49,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_30_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,0.0}</string>
			<key>spriteSize</key>
			<string>{69,61}</string>
			<key>spriteSourceSize</key>
			<string>{69,61}</string>
			<key>textureRect</key>
			<string>{{159,0},{61,69}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_30_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.0}</string>
			<key>spriteSize</key>
			<string>{24,32}</string>
			<key>spriteSourceSize</key>
			<string>{24,32}</string>
			<key>textureRect</key>
			<string>{{221,0},{24,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_30_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,-0.25}</string>
			<key>spriteSize</key>
			<string>{19,28}</string>
			<key>spriteSourceSize</key>
			<string>{19,28}</string>
			<key>textureRect</key>
			<string>{{246,0},{19,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_30_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.0}</string>
			<key>spriteSize</key>
			<string>{28,36}</string>
			<key>spriteSourceSize</key>
			<string>{28,36}</string>
			<key>textureRect</key>
			<string>{{266,0},{28,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_30_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,-0.5}</string>
			<key>spriteSize</key>
			<string>{24,38}</string>
			<key>spriteSourceSize</key>
			<string>{24,38}</string>
			<key>textureRect</key>
			<string>{{295,0},{24,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_30_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,-0.5}</string>
			<key>spriteSize</key>
			<string>{20,34}</string>
			<key>spriteSourceSize</key>
			<string>{20,34}</string>
			<key>textureRect</key>
			<string>{{320,0},{20,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_30_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,-0.5}</string>
			<key>spriteSize</key>
			<string>{28,42}</string>
			<key>spriteSourceSize</key>
			<string>{28,42}</string>
			<key>textureRect</key>
			<string>{{341,0},{28,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_30_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{370,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_30_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{388,0},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_30_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{391,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_30-hd.png</string>
		<key>size</key>
		<string>{413,69}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_30-hd.png</string>
	</dict>
</dict>
</plist>
