<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_54_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,0.0}</string>
			<key>spriteSize</key>
			<string>{59,49}</string>
			<key>spriteSourceSize</key>
			<string>{59,49}</string>
			<key>textureRect</key>
			<string>{{0,0},{59,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{16.5,1.75}</string>
			<key>spriteSize</key>
			<string>{10,10}</string>
			<key>spriteSourceSize</key>
			<string>{10,10}</string>
			<key>textureRect</key>
			<string>{{60,0},{10,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.75,0.0}</string>
			<key>spriteSize</key>
			<string>{51,45}</string>
			<key>spriteSourceSize</key>
			<string>{51,45}</string>
			<key>textureRect</key>
			<string>{{71,0},{51,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,0.0}</string>
			<key>spriteSize</key>
			<string>{63,53}</string>
			<key>spriteSourceSize</key>
			<string>{63,53}</string>
			<key>textureRect</key>
			<string>{{123,0},{63,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{19,31}</string>
			<key>spriteSourceSize</key>
			<string>{19,31}</string>
			<key>textureRect</key>
			<string>{{187,0},{19,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.0,2.25}</string>
			<key>spriteSize</key>
			<string>{8,11}</string>
			<key>spriteSourceSize</key>
			<string>{8,11}</string>
			<key>textureRect</key>
			<string>{{207,0},{8,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{23,35}</string>
			<key>spriteSourceSize</key>
			<string>{23,35}</string>
			<key>textureRect</key>
			<string>{{216,0},{23,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{17,34}</string>
			<key>spriteSourceSize</key>
			<string>{17,34}</string>
			<key>textureRect</key>
			<string>{{240,0},{17,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.0,1.5}</string>
			<key>spriteSize</key>
			<string>{6,13}</string>
			<key>spriteSourceSize</key>
			<string>{6,13}</string>
			<key>textureRect</key>
			<string>{{258,0},{6,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{21,38}</string>
			<key>spriteSourceSize</key>
			<string>{21,38}</string>
			<key>textureRect</key>
			<string>{{265,0},{21,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{287,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.25}</string>
			<key>spriteSize</key>
			<string>{24,14}</string>
			<key>spriteSourceSize</key>
			<string>{24,14}</string>
			<key>textureRect</key>
			<string>{{305,0},{14,24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{320,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_54-hd.png</string>
		<key>size</key>
		<string>{342,53}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_54-hd.png</string>
	</dict>
</dict>
</plist>
