<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_54_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,0.0}</string>
			<key>spriteSize</key>
			<string>{29,24}</string>
			<key>spriteSourceSize</key>
			<string>{29,24}</string>
			<key>textureRect</key>
			<string>{{0,0},{29,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8.25,0.875}</string>
			<key>spriteSize</key>
			<string>{5,5}</string>
			<key>spriteSourceSize</key>
			<string>{5,5}</string>
			<key>textureRect</key>
			<string>{{30,0},{5,5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.375,0.0}</string>
			<key>spriteSize</key>
			<string>{25,22}</string>
			<key>spriteSourceSize</key>
			<string>{25,22}</string>
			<key>textureRect</key>
			<string>{{36,0},{25,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,0.0}</string>
			<key>spriteSize</key>
			<string>{31,26}</string>
			<key>spriteSourceSize</key>
			<string>{31,26}</string>
			<key>textureRect</key>
			<string>{{62,0},{31,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{9,15}</string>
			<key>spriteSourceSize</key>
			<string>{9,15}</string>
			<key>textureRect</key>
			<string>{{94,0},{9,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,1.125}</string>
			<key>spriteSize</key>
			<string>{4,5}</string>
			<key>spriteSourceSize</key>
			<string>{4,5}</string>
			<key>textureRect</key>
			<string>{{104,0},{4,5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{11,17}</string>
			<key>spriteSourceSize</key>
			<string>{11,17}</string>
			<key>textureRect</key>
			<string>{{109,0},{11,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{8,17}</string>
			<key>spriteSourceSize</key>
			<string>{8,17}</string>
			<key>textureRect</key>
			<string>{{121,0},{8,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,0.75}</string>
			<key>spriteSize</key>
			<string>{3,6}</string>
			<key>spriteSourceSize</key>
			<string>{3,6}</string>
			<key>textureRect</key>
			<string>{{130,0},{3,6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{10,19}</string>
			<key>spriteSourceSize</key>
			<string>{10,19}</string>
			<key>textureRect</key>
			<string>{{134,0},{10,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{13,8}</string>
			<key>textureRect</key>
			<string>{{145,0},{8,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,-0.125}</string>
			<key>spriteSize</key>
			<string>{12,7}</string>
			<key>spriteSourceSize</key>
			<string>{12,7}</string>
			<key>textureRect</key>
			<string>{{154,0},{7,12}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{15,10}</string>
			<key>spriteSourceSize</key>
			<string>{15,10}</string>
			<key>textureRect</key>
			<string>{{162,0},{10,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_54.png</string>
		<key>size</key>
		<string>{173,26}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_54.png</string>
	</dict>
</dict>
</plist>
