<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_49_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,8}</string>
			<key>spriteSize</key>
			<string>{141,100}</string>
			<key>spriteSourceSize</key>
			<string>{141,100}</string>
			<key>textureRect</key>
			<string>{{0,0},{100,141}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_49_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{39,3.5}</string>
			<key>spriteSize</key>
			<string>{73,85}</string>
			<key>spriteSourceSize</key>
			<string>{73,85}</string>
			<key>textureRect</key>
			<string>{{101,0},{73,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_49_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{42,8.5}</string>
			<key>spriteSize</key>
			<string>{57,35}</string>
			<key>spriteSourceSize</key>
			<string>{57,35}</string>
			<key>textureRect</key>
			<string>{{175,0},{35,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_49_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,8}</string>
			<key>spriteSize</key>
			<string>{149,108}</string>
			<key>spriteSourceSize</key>
			<string>{149,108}</string>
			<key>textureRect</key>
			<string>{{211,0},{149,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_49_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{46,65}</string>
			<key>spriteSourceSize</key>
			<string>{46,65}</string>
			<key>textureRect</key>
			<string>{{361,0},{46,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_49_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,2}</string>
			<key>spriteSize</key>
			<string>{5,4}</string>
			<key>spriteSourceSize</key>
			<string>{5,4}</string>
			<key>textureRect</key>
			<string>{{408,0},{4,5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_49_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{54,73}</string>
			<key>spriteSourceSize</key>
			<string>{54,73}</string>
			<key>textureRect</key>
			<string>{{413,0},{54,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_49_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,2}</string>
			<key>spriteSize</key>
			<string>{45,72}</string>
			<key>spriteSourceSize</key>
			<string>{45,72}</string>
			<key>textureRect</key>
			<string>{{468,0},{45,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_49_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,1}</string>
			<key>spriteSize</key>
			<string>{5,4}</string>
			<key>spriteSourceSize</key>
			<string>{5,4}</string>
			<key>textureRect</key>
			<string>{{514,0},{4,5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_49_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,2}</string>
			<key>spriteSize</key>
			<string>{53,80}</string>
			<key>spriteSourceSize</key>
			<string>{53,80}</string>
			<key>textureRect</key>
			<string>{{519,0},{53,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_49_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{573,0},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_49_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{576,0},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_49_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{10,10}</string>
			<key>spriteSourceSize</key>
			<string>{10,10}</string>
			<key>textureRect</key>
			<string>{{579,0},{10,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_49-uhd.png</string>
		<key>size</key>
		<string>{590,141}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_49-uhd.png</string>
	</dict>
</dict>
</plist>
