<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_17_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.25,4.25}</string>
			<key>spriteSize</key>
			<string>{70,49}</string>
			<key>spriteSourceSize</key>
			<string>{70,49}</string>
			<key>textureRect</key>
			<string>{{0,0},{49,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6.0,4.0}</string>
			<key>spriteSize</key>
			<string>{65,44}</string>
			<key>spriteSourceSize</key>
			<string>{65,44}</string>
			<key>textureRect</key>
			<string>{{50,0},{44,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13.5,4.0}</string>
			<key>spriteSize</key>
			<string>{50,44}</string>
			<key>spriteSourceSize</key>
			<string>{50,44}</string>
			<key>textureRect</key>
			<string>{{95,0},{44,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.25,4.25}</string>
			<key>spriteSize</key>
			<string>{74,53}</string>
			<key>spriteSourceSize</key>
			<string>{74,53}</string>
			<key>textureRect</key>
			<string>{{140,0},{53,74}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.25}</string>
			<key>spriteSize</key>
			<string>{23,34}</string>
			<key>spriteSourceSize</key>
			<string>{23,34}</string>
			<key>textureRect</key>
			<string>{{194,0},{23,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,1.0}</string>
			<key>spriteSize</key>
			<string>{18,28}</string>
			<key>spriteSourceSize</key>
			<string>{18,28}</string>
			<key>textureRect</key>
			<string>{{218,0},{18,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.25}</string>
			<key>spriteSize</key>
			<string>{27,38}</string>
			<key>spriteSourceSize</key>
			<string>{27,38}</string>
			<key>textureRect</key>
			<string>{{237,0},{27,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,1.0}</string>
			<key>spriteSize</key>
			<string>{24,37}</string>
			<key>spriteSourceSize</key>
			<string>{24,37}</string>
			<key>textureRect</key>
			<string>{{265,0},{24,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,2.0}</string>
			<key>spriteSize</key>
			<string>{19,30}</string>
			<key>spriteSourceSize</key>
			<string>{19,30}</string>
			<key>textureRect</key>
			<string>{{290,0},{19,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,1.0}</string>
			<key>spriteSize</key>
			<string>{28,41}</string>
			<key>spriteSourceSize</key>
			<string>{28,41}</string>
			<key>textureRect</key>
			<string>{{310,0},{28,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{339,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.25}</string>
			<key>spriteSize</key>
			<string>{24,14}</string>
			<key>spriteSourceSize</key>
			<string>{24,14}</string>
			<key>textureRect</key>
			<string>{{357,0},{14,24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{372,0},{31,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_17-hd.png</string>
		<key>size</key>
		<string>{404,74}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_17-hd.png</string>
	</dict>
</dict>
</plist>
