<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_64_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9.5,8}</string>
			<key>spriteSize</key>
			<string>{114,109}</string>
			<key>spriteSourceSize</key>
			<string>{114,109}</string>
			<key>textureRect</key>
			<string>{{0,0},{109,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_64_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9.5,8}</string>
			<key>spriteSize</key>
			<string>{108,103}</string>
			<key>spriteSourceSize</key>
			<string>{108,103}</string>
			<key>textureRect</key>
			<string>{{110,0},{103,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_64_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,1}</string>
			<key>spriteSize</key>
			<string>{97,83}</string>
			<key>spriteSourceSize</key>
			<string>{97,83}</string>
			<key>textureRect</key>
			<string>{{214,0},{83,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_64_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9.5,8}</string>
			<key>spriteSize</key>
			<string>{122,117}</string>
			<key>spriteSourceSize</key>
			<string>{122,117}</string>
			<key>textureRect</key>
			<string>{{298,0},{122,117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_64_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{45,61}</string>
			<key>spriteSourceSize</key>
			<string>{45,61}</string>
			<key>textureRect</key>
			<string>{{421,0},{45,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_64_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{39,55}</string>
			<key>spriteSourceSize</key>
			<string>{39,55}</string>
			<key>textureRect</key>
			<string>{{467,0},{39,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_64_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,69}</string>
			<key>spriteSourceSize</key>
			<string>{53,69}</string>
			<key>textureRect</key>
			<string>{{507,0},{53,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_64_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{46,73}</string>
			<key>spriteSourceSize</key>
			<string>{46,73}</string>
			<key>textureRect</key>
			<string>{{561,0},{46,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_64_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{40,67}</string>
			<key>spriteSourceSize</key>
			<string>{40,67}</string>
			<key>textureRect</key>
			<string>{{608,0},{40,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_64_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{54,81}</string>
			<key>spriteSourceSize</key>
			<string>{54,81}</string>
			<key>textureRect</key>
			<string>{{649,0},{54,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_64_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{704,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_64_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{49,29}</string>
			<key>spriteSourceSize</key>
			<string>{49,29}</string>
			<key>textureRect</key>
			<string>{{739,0},{29,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_64_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{769,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_64-uhd.png</string>
		<key>size</key>
		<string>{812,117}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_64-uhd.png</string>
	</dict>
</dict>
</plist>
