<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_47_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,5.0}</string>
			<key>spriteSize</key>
			<string>{36,34}</string>
			<key>spriteSourceSize</key>
			<string>{36,34}</string>
			<key>textureRect</key>
			<string>{{0,0},{36,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.125,5.125}</string>
			<key>spriteSize</key>
			<string>{33,32}</string>
			<key>spriteSourceSize</key>
			<string>{33,32}</string>
			<key>textureRect</key>
			<string>{{37,0},{32,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_47_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,5.0}</string>
			<key>spriteSize</key>
			<string>{38,36}</string>
			<key>spriteSourceSize</key>
			<string>{38,36}</string>
			<key>textureRect</key>
			<string>{{70,0},{38,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{10,16}</string>
			<key>spriteSourceSize</key>
			<string>{10,16}</string>
			<key>textureRect</key>
			<string>{{109,0},{10,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{9,13}</string>
			<key>spriteSourceSize</key>
			<string>{9,13}</string>
			<key>textureRect</key>
			<string>{{120,0},{9,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{12,18}</string>
			<key>spriteSourceSize</key>
			<string>{12,18}</string>
			<key>textureRect</key>
			<string>{{130,0},{12,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.75,-0.25}</string>
			<key>spriteSize</key>
			<string>{9,20}</string>
			<key>spriteSourceSize</key>
			<string>{9,20}</string>
			<key>textureRect</key>
			<string>{{143,0},{9,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.625,0.0}</string>
			<key>spriteSize</key>
			<string>{7,17}</string>
			<key>spriteSourceSize</key>
			<string>{7,17}</string>
			<key>textureRect</key>
			<string>{{153,0},{7,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.75,-0.25}</string>
			<key>spriteSize</key>
			<string>{11,22}</string>
			<key>spriteSourceSize</key>
			<string>{11,22}</string>
			<key>textureRect</key>
			<string>{{161,0},{11,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{173,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{175,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_47_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{3,3}</string>
			<key>textureRect</key>
			<string>{{177,0},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_47.png</string>
		<key>size</key>
		<string>{181,36}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_47.png</string>
	</dict>
</dict>
</plist>
