<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_44_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.25,4.5}</string>
			<key>spriteSize</key>
			<string>{64,56}</string>
			<key>spriteSourceSize</key>
			<string>{64,56}</string>
			<key>textureRect</key>
			<string>{{0,0},{56,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.5,4.25}</string>
			<key>spriteSize</key>
			<string>{59,50}</string>
			<key>spriteSourceSize</key>
			<string>{59,50}</string>
			<key>textureRect</key>
			<string>{{57,0},{50,59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.0,7.0}</string>
			<key>spriteSize</key>
			<string>{58,44}</string>
			<key>spriteSourceSize</key>
			<string>{58,44}</string>
			<key>textureRect</key>
			<string>{{108,0},{44,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.25,4.5}</string>
			<key>spriteSize</key>
			<string>{68,60}</string>
			<key>spriteSourceSize</key>
			<string>{68,60}</string>
			<key>textureRect</key>
			<string>{{153,0},{60,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.25}</string>
			<key>spriteSize</key>
			<string>{25,31}</string>
			<key>spriteSourceSize</key>
			<string>{25,31}</string>
			<key>textureRect</key>
			<string>{{214,0},{25,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.25}</string>
			<key>spriteSize</key>
			<string>{23,29}</string>
			<key>spriteSourceSize</key>
			<string>{23,29}</string>
			<key>textureRect</key>
			<string>{{240,0},{23,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.25}</string>
			<key>spriteSize</key>
			<string>{29,35}</string>
			<key>spriteSourceSize</key>
			<string>{29,35}</string>
			<key>textureRect</key>
			<string>{{264,0},{29,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,-2.0}</string>
			<key>spriteSize</key>
			<string>{20,37}</string>
			<key>spriteSourceSize</key>
			<string>{20,37}</string>
			<key>textureRect</key>
			<string>{{294,0},{20,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,-2.0}</string>
			<key>spriteSize</key>
			<string>{18,35}</string>
			<key>spriteSourceSize</key>
			<string>{18,35}</string>
			<key>textureRect</key>
			<string>{{315,0},{18,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,-2.0}</string>
			<key>spriteSize</key>
			<string>{24,41}</string>
			<key>spriteSourceSize</key>
			<string>{24,41}</string>
			<key>textureRect</key>
			<string>{{334,0},{24,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{359,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{377,0},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{380,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_44-hd.png</string>
		<key>size</key>
		<string>{402,68}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_44-hd.png</string>
	</dict>
</dict>
</plist>
