<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_32_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,13.5}</string>
			<key>spriteSize</key>
			<string>{69,58}</string>
			<key>spriteSourceSize</key>
			<string>{69,58}</string>
			<key>textureRect</key>
			<string>{{0,0},{58,69}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_32_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,10.0}</string>
			<key>spriteSize</key>
			<string>{65,65}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{59,0},{65,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_32_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,10.0}</string>
			<key>spriteSize</key>
			<string>{71,71}</string>
			<key>spriteSourceSize</key>
			<string>{71,71}</string>
			<key>textureRect</key>
			<string>{{125,0},{71,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,10.0}</string>
			<key>spriteSize</key>
			<string>{75,75}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{197,0},{75,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{24,37}</string>
			<key>spriteSourceSize</key>
			<string>{24,37}</string>
			<key>textureRect</key>
			<string>{{273,0},{24,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,1.25}</string>
			<key>spriteSize</key>
			<string>{17,26}</string>
			<key>spriteSourceSize</key>
			<string>{17,26}</string>
			<key>textureRect</key>
			<string>{{298,0},{17,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{28,41}</string>
			<key>spriteSourceSize</key>
			<string>{28,41}</string>
			<key>textureRect</key>
			<string>{{316,0},{28,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{20,45}</string>
			<key>spriteSourceSize</key>
			<string>{20,45}</string>
			<key>textureRect</key>
			<string>{{345,0},{20,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,1.0}</string>
			<key>spriteSize</key>
			<string>{15,34}</string>
			<key>spriteSourceSize</key>
			<string>{15,34}</string>
			<key>textureRect</key>
			<string>{{366,0},{15,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{24,49}</string>
			<key>spriteSourceSize</key>
			<string>{24,49}</string>
			<key>textureRect</key>
			<string>{{382,0},{24,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{407,0},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{410,0},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{6,6}</string>
			<key>spriteSourceSize</key>
			<string>{6,6}</string>
			<key>textureRect</key>
			<string>{{413,0},{6,6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_32-hd.png</string>
		<key>size</key>
		<string>{420,75}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_32-hd.png</string>
	</dict>
</dict>
</plist>
