<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_17_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10.5,8.5}</string>
			<key>spriteSize</key>
			<string>{140,99}</string>
			<key>spriteSourceSize</key>
			<string>{140,99}</string>
			<key>textureRect</key>
			<string>{{0,0},{99,140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,8}</string>
			<key>spriteSize</key>
			<string>{130,89}</string>
			<key>spriteSourceSize</key>
			<string>{130,89}</string>
			<key>textureRect</key>
			<string>{{100,0},{89,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{27,8}</string>
			<key>spriteSize</key>
			<string>{100,89}</string>
			<key>spriteSourceSize</key>
			<string>{100,89}</string>
			<key>textureRect</key>
			<string>{{190,0},{89,100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10.5,8.5}</string>
			<key>spriteSize</key>
			<string>{148,107}</string>
			<key>spriteSourceSize</key>
			<string>{148,107}</string>
			<key>textureRect</key>
			<string>{{280,0},{107,148}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0.5}</string>
			<key>spriteSize</key>
			<string>{46,69}</string>
			<key>spriteSourceSize</key>
			<string>{46,69}</string>
			<key>textureRect</key>
			<string>{{388,0},{46,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{37,56}</string>
			<key>spriteSourceSize</key>
			<string>{37,56}</string>
			<key>textureRect</key>
			<string>{{435,0},{37,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0.5}</string>
			<key>spriteSize</key>
			<string>{54,77}</string>
			<key>spriteSourceSize</key>
			<string>{54,77}</string>
			<key>textureRect</key>
			<string>{{473,0},{54,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{48,74}</string>
			<key>spriteSourceSize</key>
			<string>{48,74}</string>
			<key>textureRect</key>
			<string>{{528,0},{48,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,4}</string>
			<key>spriteSize</key>
			<string>{39,61}</string>
			<key>spriteSourceSize</key>
			<string>{39,61}</string>
			<key>textureRect</key>
			<string>{{577,0},{39,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{56,82}</string>
			<key>spriteSourceSize</key>
			<string>{56,82}</string>
			<key>textureRect</key>
			<string>{{617,0},{56,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_17_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{674,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{49,29}</string>
			<key>spriteSourceSize</key>
			<string>{49,29}</string>
			<key>textureRect</key>
			<string>{{709,0},{29,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_17_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{739,0},{62,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_17-uhd.png</string>
		<key>size</key>
		<string>{802,148}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_17-uhd.png</string>
	</dict>
</dict>
</plist>
