<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_33_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,11}</string>
			<key>spriteSize</key>
			<string>{136,75}</string>
			<key>spriteSourceSize</key>
			<string>{136,75}</string>
			<key>textureRect</key>
			<string>{{0,0},{75,136}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_33_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,18.5}</string>
			<key>spriteSize</key>
			<string>{136,128}</string>
			<key>spriteSourceSize</key>
			<string>{136,128}</string>
			<key>textureRect</key>
			<string>{{76,0},{128,136}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_33_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,20}</string>
			<key>spriteSize</key>
			<string>{143,141}</string>
			<key>spriteSourceSize</key>
			<string>{143,141}</string>
			<key>textureRect</key>
			<string>{{205,0},{141,143}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_33_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,20}</string>
			<key>spriteSize</key>
			<string>{151,149}</string>
			<key>spriteSourceSize</key>
			<string>{151,149}</string>
			<key>textureRect</key>
			<string>{{347,0},{151,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_33_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,64}</string>
			<key>spriteSourceSize</key>
			<string>{44,64}</string>
			<key>textureRect</key>
			<string>{{499,0},{44,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_33_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1.5}</string>
			<key>spriteSize</key>
			<string>{36,55}</string>
			<key>spriteSourceSize</key>
			<string>{36,55}</string>
			<key>textureRect</key>
			<string>{{544,0},{36,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_33_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,72}</string>
			<key>spriteSourceSize</key>
			<string>{52,72}</string>
			<key>textureRect</key>
			<string>{{581,0},{52,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_33_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-1}</string>
			<key>spriteSize</key>
			<string>{40,84}</string>
			<key>spriteSourceSize</key>
			<string>{40,84}</string>
			<key>textureRect</key>
			<string>{{634,0},{40,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_33_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,0}</string>
			<key>spriteSize</key>
			<string>{34,74}</string>
			<key>spriteSourceSize</key>
			<string>{34,74}</string>
			<key>textureRect</key>
			<string>{{675,0},{34,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_33_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-1}</string>
			<key>spriteSize</key>
			<string>{48,92}</string>
			<key>spriteSourceSize</key>
			<string>{48,92}</string>
			<key>textureRect</key>
			<string>{{710,0},{48,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_33_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{4,4}</string>
			<key>spriteSourceSize</key>
			<string>{4,4}</string>
			<key>textureRect</key>
			<string>{{759,0},{4,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_33_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{4,4}</string>
			<key>spriteSourceSize</key>
			<string>{4,4}</string>
			<key>textureRect</key>
			<string>{{764,0},{4,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_33_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{12,12}</string>
			<key>spriteSourceSize</key>
			<string>{12,12}</string>
			<key>textureRect</key>
			<string>{{769,0},{12,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_33-uhd.png</string>
		<key>size</key>
		<string>{782,149}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_33-uhd.png</string>
	</dict>
</dict>
</plist>
