<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_44_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.625,2.25}</string>
			<key>spriteSize</key>
			<string>{32,28}</string>
			<key>spriteSourceSize</key>
			<string>{32,28}</string>
			<key>textureRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.25,2.125}</string>
			<key>spriteSize</key>
			<string>{29,25}</string>
			<key>spriteSourceSize</key>
			<string>{29,25}</string>
			<key>textureRect</key>
			<string>{{29,0},{25,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,3.5}</string>
			<key>spriteSize</key>
			<string>{29,22}</string>
			<key>spriteSourceSize</key>
			<string>{29,22}</string>
			<key>textureRect</key>
			<string>{{55,0},{22,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.625,2.25}</string>
			<key>spriteSize</key>
			<string>{34,30}</string>
			<key>spriteSourceSize</key>
			<string>{34,30}</string>
			<key>textureRect</key>
			<string>{{78,0},{30,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,0.125}</string>
			<key>spriteSize</key>
			<string>{12,15}</string>
			<key>spriteSourceSize</key>
			<string>{12,15}</string>
			<key>textureRect</key>
			<string>{{109,0},{12,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,0.125}</string>
			<key>spriteSize</key>
			<string>{11,14}</string>
			<key>spriteSourceSize</key>
			<string>{11,14}</string>
			<key>textureRect</key>
			<string>{{122,0},{11,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,0.125}</string>
			<key>spriteSize</key>
			<string>{14,17}</string>
			<key>spriteSourceSize</key>
			<string>{14,17}</string>
			<key>textureRect</key>
			<string>{{134,0},{14,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.625,-1.0}</string>
			<key>spriteSize</key>
			<string>{10,18}</string>
			<key>spriteSourceSize</key>
			<string>{10,18}</string>
			<key>textureRect</key>
			<string>{{149,0},{10,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.625,-1.0}</string>
			<key>spriteSize</key>
			<string>{9,17}</string>
			<key>spriteSourceSize</key>
			<string>{9,17}</string>
			<key>textureRect</key>
			<string>{{160,0},{9,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.625,-1.0}</string>
			<key>spriteSize</key>
			<string>{12,20}</string>
			<key>spriteSourceSize</key>
			<string>{12,20}</string>
			<key>textureRect</key>
			<string>{{170,0},{12,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{13,8}</string>
			<key>textureRect</key>
			<string>{{183,0},{8,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{192,0},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{15,10}</string>
			<key>spriteSourceSize</key>
			<string>{15,10}</string>
			<key>textureRect</key>
			<string>{{194,0},{10,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_44.png</string>
		<key>size</key>
		<string>{205,34}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_44.png</string>
	</dict>
</dict>
</plist>
