<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_21_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,3.0}</string>
			<key>spriteSize</key>
			<string>{64,50}</string>
			<key>spriteSourceSize</key>
			<string>{64,50}</string>
			<key>textureRect</key>
			<string>{{0,0},{50,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_21_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,2.5}</string>
			<key>spriteSize</key>
			<string>{61,46}</string>
			<key>spriteSourceSize</key>
			<string>{61,46}</string>
			<key>textureRect</key>
			<string>{{51,0},{46,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_21_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{98,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_21_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,3.0}</string>
			<key>spriteSize</key>
			<string>{68,54}</string>
			<key>spriteSourceSize</key>
			<string>{68,54}</string>
			<key>textureRect</key>
			<string>{{100,0},{54,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_21_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-0.25}</string>
			<key>spriteSize</key>
			<string>{21,32}</string>
			<key>spriteSourceSize</key>
			<string>{21,32}</string>
			<key>textureRect</key>
			<string>{{155,0},{21,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_21_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.75}</string>
			<key>spriteSize</key>
			<string>{18,27}</string>
			<key>spriteSourceSize</key>
			<string>{18,27}</string>
			<key>textureRect</key>
			<string>{{177,0},{18,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_21_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-0.25}</string>
			<key>spriteSize</key>
			<string>{25,36}</string>
			<key>spriteSourceSize</key>
			<string>{25,36}</string>
			<key>textureRect</key>
			<string>{{196,0},{25,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_21_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,-0.5}</string>
			<key>spriteSize</key>
			<string>{22,37}</string>
			<key>spriteSourceSize</key>
			<string>{22,37}</string>
			<key>textureRect</key>
			<string>{{222,0},{22,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_21_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,1.0}</string>
			<key>spriteSize</key>
			<string>{18,31}</string>
			<key>spriteSourceSize</key>
			<string>{18,31}</string>
			<key>textureRect</key>
			<string>{{245,0},{18,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_21_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,-0.5}</string>
			<key>spriteSize</key>
			<string>{26,41}</string>
			<key>spriteSourceSize</key>
			<string>{26,41}</string>
			<key>textureRect</key>
			<string>{{264,0},{26,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_21_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{291,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_21_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{309,0},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_21_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{312,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_21-hd.png</string>
		<key>size</key>
		<string>{334,68}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_21-hd.png</string>
	</dict>
</dict>
</plist>
