<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_50_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.0,2.0}</string>
			<key>spriteSize</key>
			<string>{53,42}</string>
			<key>spriteSourceSize</key>
			<string>{53,42}</string>
			<key>textureRect</key>
			<string>{{0,0},{42,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_50_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,4.25}</string>
			<key>spriteSize</key>
			<string>{44,35}</string>
			<key>spriteSourceSize</key>
			<string>{44,35}</string>
			<key>textureRect</key>
			<string>{{43,0},{35,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_50_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{79,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.0,2.0}</string>
			<key>spriteSize</key>
			<string>{57,46}</string>
			<key>spriteSourceSize</key>
			<string>{57,46}</string>
			<key>textureRect</key>
			<string>{{81,0},{46,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_50_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{22,31}</string>
			<key>spriteSourceSize</key>
			<string>{22,31}</string>
			<key>textureRect</key>
			<string>{{128,0},{22,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,4.75}</string>
			<key>spriteSize</key>
			<string>{16,9}</string>
			<key>spriteSourceSize</key>
			<string>{16,9}</string>
			<key>textureRect</key>
			<string>{{151,0},{9,16}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_50_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{26,35}</string>
			<key>spriteSourceSize</key>
			<string>{26,35}</string>
			<key>textureRect</key>
			<string>{{161,0},{26,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{19,37}</string>
			<key>spriteSourceSize</key>
			<string>{19,37}</string>
			<key>textureRect</key>
			<string>{{188,0},{19,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,7.0}</string>
			<key>spriteSize</key>
			<string>{13,11}</string>
			<key>spriteSourceSize</key>
			<string>{13,11}</string>
			<key>textureRect</key>
			<string>{{208,0},{11,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_50_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{23,41}</string>
			<key>spriteSourceSize</key>
			<string>{23,41}</string>
			<key>textureRect</key>
			<string>{{220,0},{23,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{244,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_50_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{262,0},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{265,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_50-hd.png</string>
		<key>size</key>
		<string>{287,57}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_50-hd.png</string>
	</dict>
</dict>
</plist>
