<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_29_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,0.125}</string>
			<key>spriteSize</key>
			<string>{28,20}</string>
			<key>spriteSourceSize</key>
			<string>{28,20}</string>
			<key>textureRect</key>
			<string>{{0,0},{20,28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_29_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,3.0}</string>
			<key>spriteSize</key>
			<string>{29,19}</string>
			<key>spriteSourceSize</key>
			<string>{29,19}</string>
			<key>textureRect</key>
			<string>{{21,0},{19,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_29_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,1.25}</string>
			<key>spriteSize</key>
			<string>{33,25}</string>
			<key>spriteSourceSize</key>
			<string>{33,25}</string>
			<key>textureRect</key>
			<string>{{41,0},{25,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_29_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,1.25}</string>
			<key>spriteSize</key>
			<string>{35,27}</string>
			<key>spriteSourceSize</key>
			<string>{35,27}</string>
			<key>textureRect</key>
			<string>{{67,0},{27,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_29_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{11,15}</string>
			<key>spriteSourceSize</key>
			<string>{11,15}</string>
			<key>textureRect</key>
			<string>{{95,0},{11,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_29_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,2.5}</string>
			<key>spriteSize</key>
			<string>{4,4}</string>
			<key>spriteSourceSize</key>
			<string>{4,4}</string>
			<key>textureRect</key>
			<string>{{107,0},{4,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_29_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,17}</string>
			<key>spriteSourceSize</key>
			<string>{13,17}</string>
			<key>textureRect</key>
			<string>{{112,0},{13,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_29_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.125}</string>
			<key>spriteSize</key>
			<string>{9,18}</string>
			<key>spriteSourceSize</key>
			<string>{9,18}</string>
			<key>textureRect</key>
			<string>{{126,0},{9,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_29_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.375,3.75}</string>
			<key>spriteSize</key>
			<string>{3,6}</string>
			<key>spriteSourceSize</key>
			<string>{3,6}</string>
			<key>textureRect</key>
			<string>{{136,0},{3,6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_29_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.125}</string>
			<key>spriteSize</key>
			<string>{11,20}</string>
			<key>spriteSourceSize</key>
			<string>{11,20}</string>
			<key>textureRect</key>
			<string>{{140,0},{11,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_29_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{13,8}</string>
			<key>textureRect</key>
			<string>{{152,0},{8,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_29_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{161,0},{1,1}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_29_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{15,10}</string>
			<key>spriteSourceSize</key>
			<string>{15,10}</string>
			<key>textureRect</key>
			<string>{{163,0},{10,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_29.png</string>
		<key>size</key>
		<string>{174,35}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_29.png</string>
	</dict>
</dict>
</plist>
