<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_44_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6.5,9}</string>
			<key>spriteSize</key>
			<string>{129,113}</string>
			<key>spriteSourceSize</key>
			<string>{129,113}</string>
			<key>textureRect</key>
			<string>{{0,0},{113,129}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,8.5}</string>
			<key>spriteSize</key>
			<string>{118,100}</string>
			<key>spriteSourceSize</key>
			<string>{118,100}</string>
			<key>textureRect</key>
			<string>{{114,0},{100,118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,14}</string>
			<key>spriteSize</key>
			<string>{116,89}</string>
			<key>spriteSourceSize</key>
			<string>{116,89}</string>
			<key>textureRect</key>
			<string>{{215,0},{89,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6.5,9}</string>
			<key>spriteSize</key>
			<string>{137,121}</string>
			<key>spriteSourceSize</key>
			<string>{137,121}</string>
			<key>textureRect</key>
			<string>{{305,0},{121,137}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,0.5}</string>
			<key>spriteSize</key>
			<string>{50,63}</string>
			<key>spriteSourceSize</key>
			<string>{50,63}</string>
			<key>textureRect</key>
			<string>{{427,0},{50,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,0.5}</string>
			<key>spriteSize</key>
			<string>{46,59}</string>
			<key>spriteSourceSize</key>
			<string>{46,59}</string>
			<key>textureRect</key>
			<string>{{478,0},{46,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,0.5}</string>
			<key>spriteSize</key>
			<string>{58,71}</string>
			<key>spriteSourceSize</key>
			<string>{58,71}</string>
			<key>textureRect</key>
			<string>{{525,0},{58,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,-4}</string>
			<key>spriteSize</key>
			<string>{41,74}</string>
			<key>spriteSourceSize</key>
			<string>{41,74}</string>
			<key>textureRect</key>
			<string>{{584,0},{41,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,-4}</string>
			<key>spriteSize</key>
			<string>{37,70}</string>
			<key>spriteSourceSize</key>
			<string>{37,70}</string>
			<key>textureRect</key>
			<string>{{626,0},{37,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,-4}</string>
			<key>spriteSize</key>
			<string>{49,82}</string>
			<key>spriteSourceSize</key>
			<string>{49,82}</string>
			<key>textureRect</key>
			<string>{{664,0},{49,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_44_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{714,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0}</string>
			<key>spriteSize</key>
			<string>{5,4}</string>
			<key>spriteSourceSize</key>
			<string>{5,4}</string>
			<key>textureRect</key>
			<string>{{749,0},{4,5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_44_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{754,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_44-uhd.png</string>
		<key>size</key>
		<string>{797,137}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_44-uhd.png</string>
	</dict>
</dict>
</plist>
