<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_03_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7.5,6}</string>
			<key>spriteSize</key>
			<string>{106,106}</string>
			<key>spriteSourceSize</key>
			<string>{106,106}</string>
			<key>textureRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_03_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{22,8.5}</string>
			<key>spriteSize</key>
			<string>{33,33}</string>
			<key>spriteSourceSize</key>
			<string>{33,33}</string>
			<key>textureRect</key>
			<string>{{107,0},{33,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_03_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,25}</string>
			<key>spriteSize</key>
			<string>{87,58}</string>
			<key>spriteSourceSize</key>
			<string>{87,58}</string>
			<key>textureRect</key>
			<string>{{141,0},{58,87}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_03_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7.5,6}</string>
			<key>spriteSize</key>
			<string>{114,114}</string>
			<key>spriteSourceSize</key>
			<string>{114,114}</string>
			<key>textureRect</key>
			<string>{{200,0},{114,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_03_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,62}</string>
			<key>spriteSourceSize</key>
			<string>{44,62}</string>
			<key>textureRect</key>
			<string>{{315,0},{44,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_03_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,10}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{360,0},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_03_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,70}</string>
			<key>spriteSourceSize</key>
			<string>{52,70}</string>
			<key>textureRect</key>
			<string>{{379,0},{52,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_03_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{38,73}</string>
			<key>spriteSourceSize</key>
			<string>{38,73}</string>
			<key>textureRect</key>
			<string>{{432,0},{38,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_03_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9.5,15}</string>
			<key>spriteSize</key>
			<string>{13,24}</string>
			<key>spriteSourceSize</key>
			<string>{13,24}</string>
			<key>textureRect</key>
			<string>{{471,0},{13,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_03_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{46,81}</string>
			<key>spriteSourceSize</key>
			<string>{46,81}</string>
			<key>textureRect</key>
			<string>{{485,0},{46,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_03_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{532,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_03_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0}</string>
			<key>spriteSize</key>
			<string>{5,4}</string>
			<key>spriteSourceSize</key>
			<string>{5,4}</string>
			<key>textureRect</key>
			<string>{{567,0},{4,5}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_03_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{572,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_03-uhd.png</string>
		<key>size</key>
		<string>{615,114}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_03-uhd.png</string>
	</dict>
</dict>
</plist>
