<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_37_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.875,2.0}</string>
			<key>spriteSize</key>
			<string>{39,27}</string>
			<key>spriteSourceSize</key>
			<string>{39,27}</string>
			<key>textureRect</key>
			<string>{{0,0},{39,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,1.75}</string>
			<key>spriteSize</key>
			<string>{38,25}</string>
			<key>spriteSourceSize</key>
			<string>{38,25}</string>
			<key>textureRect</key>
			<string>{{40,0},{38,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,1.875}</string>
			<key>spriteSize</key>
			<string>{39,26}</string>
			<key>spriteSourceSize</key>
			<string>{39,26}</string>
			<key>textureRect</key>
			<string>{{79,0},{39,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.875,2.0}</string>
			<key>spriteSize</key>
			<string>{41,29}</string>
			<key>spriteSourceSize</key>
			<string>{41,29}</string>
			<key>textureRect</key>
			<string>{{119,0},{41,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.375,0.0}</string>
			<key>spriteSize</key>
			<string>{11,15}</string>
			<key>spriteSourceSize</key>
			<string>{11,15}</string>
			<key>textureRect</key>
			<string>{{161,0},{11,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-0.375}</string>
			<key>spriteSize</key>
			<string>{3,4}</string>
			<key>spriteSourceSize</key>
			<string>{3,4}</string>
			<key>textureRect</key>
			<string>{{173,0},{3,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.375,0.0}</string>
			<key>spriteSize</key>
			<string>{13,17}</string>
			<key>spriteSourceSize</key>
			<string>{13,17}</string>
			<key>textureRect</key>
			<string>{{177,0},{13,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-0.25}</string>
			<key>spriteSize</key>
			<string>{9,18}</string>
			<key>spriteSourceSize</key>
			<string>{9,18}</string>
			<key>textureRect</key>
			<string>{{191,0},{9,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.5}</string>
			<key>spriteSize</key>
			<string>{7,16}</string>
			<key>spriteSourceSize</key>
			<string>{7,16}</string>
			<key>textureRect</key>
			<string>{{201,0},{7,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-0.25}</string>
			<key>spriteSize</key>
			<string>{11,20}</string>
			<key>spriteSourceSize</key>
			<string>{11,20}</string>
			<key>textureRect</key>
			<string>{{209,0},{11,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{13,8}</string>
			<key>textureRect</key>
			<string>{{221,0},{8,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_37_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{230,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{15,10}</string>
			<key>spriteSourceSize</key>
			<string>{15,10}</string>
			<key>textureRect</key>
			<string>{{232,0},{10,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_37.png</string>
		<key>size</key>
		<string>{243,29}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_37.png</string>
	</dict>
</dict>
</plist>
