<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_20_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.5,6}</string>
			<key>spriteSize</key>
			<string>{127,100}</string>
			<key>spriteSourceSize</key>
			<string>{127,100}</string>
			<key>textureRect</key>
			<string>{{0,0},{100,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_20_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,5}</string>
			<key>spriteSize</key>
			<string>{124,96}</string>
			<key>spriteSourceSize</key>
			<string>{124,96}</string>
			<key>textureRect</key>
			<string>{{101,0},{96,124}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_20_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.5,6}</string>
			<key>spriteSize</key>
			<string>{135,108}</string>
			<key>spriteSourceSize</key>
			<string>{135,108}</string>
			<key>textureRect</key>
			<string>{{198,0},{108,135}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_20_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-0.5}</string>
			<key>spriteSize</key>
			<string>{42,65}</string>
			<key>spriteSourceSize</key>
			<string>{42,65}</string>
			<key>textureRect</key>
			<string>{{307,0},{42,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_20_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{40,58}</string>
			<key>spriteSourceSize</key>
			<string>{40,58}</string>
			<key>textureRect</key>
			<string>{{350,0},{40,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_20_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-0.5}</string>
			<key>spriteSize</key>
			<string>{50,73}</string>
			<key>spriteSourceSize</key>
			<string>{50,73}</string>
			<key>textureRect</key>
			<string>{{391,0},{50,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_20_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-1}</string>
			<key>spriteSize</key>
			<string>{45,74}</string>
			<key>spriteSourceSize</key>
			<string>{45,74}</string>
			<key>textureRect</key>
			<string>{{442,0},{45,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_20_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,2}</string>
			<key>spriteSize</key>
			<string>{41,64}</string>
			<key>spriteSourceSize</key>
			<string>{41,64}</string>
			<key>textureRect</key>
			<string>{{488,0},{41,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_20_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-1}</string>
			<key>spriteSize</key>
			<string>{53,82}</string>
			<key>spriteSourceSize</key>
			<string>{53,82}</string>
			<key>textureRect</key>
			<string>{{530,0},{53,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_20_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{55,34}</string>
			<key>spriteSourceSize</key>
			<string>{55,34}</string>
			<key>textureRect</key>
			<string>{{584,0},{34,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_20_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{4,4}</string>
			<key>spriteSourceSize</key>
			<string>{4,4}</string>
			<key>textureRect</key>
			<string>{{619,0},{4,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_20_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{63,42}</string>
			<key>spriteSourceSize</key>
			<string>{63,42}</string>
			<key>textureRect</key>
			<string>{{624,0},{42,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_20-uhd.png</string>
		<key>size</key>
		<string>{667,135}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_20-uhd.png</string>
	</dict>
</dict>
</plist>
