<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_50_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,1.0}</string>
			<key>spriteSize</key>
			<string>{26,21}</string>
			<key>spriteSourceSize</key>
			<string>{26,21}</string>
			<key>textureRect</key>
			<string>{{0,0},{21,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_50_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,2.125}</string>
			<key>spriteSize</key>
			<string>{22,17}</string>
			<key>spriteSourceSize</key>
			<string>{22,17}</string>
			<key>textureRect</key>
			<string>{{22,0},{17,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_50_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string>{0,0}</string>
			<key>textureRect</key>
			<string>{{40,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,1.0}</string>
			<key>spriteSize</key>
			<string>{28,23}</string>
			<key>spriteSourceSize</key>
			<string>{28,23}</string>
			<key>textureRect</key>
			<string>{{41,0},{23,28}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_50_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{11,15}</string>
			<key>spriteSourceSize</key>
			<string>{11,15}</string>
			<key>textureRect</key>
			<string>{{65,0},{11,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.625,2.375}</string>
			<key>spriteSize</key>
			<string>{8,4}</string>
			<key>spriteSourceSize</key>
			<string>{8,4}</string>
			<key>textureRect</key>
			<string>{{77,0},{4,8}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_50_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,17}</string>
			<key>spriteSourceSize</key>
			<string>{13,17}</string>
			<key>textureRect</key>
			<string>{{82,0},{13,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{9,18}</string>
			<key>spriteSourceSize</key>
			<string>{9,18}</string>
			<key>textureRect</key>
			<string>{{96,0},{9,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.625,3.5}</string>
			<key>spriteSize</key>
			<string>{6,5}</string>
			<key>spriteSourceSize</key>
			<string>{6,5}</string>
			<key>textureRect</key>
			<string>{{106,0},{5,6}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_50_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{11,20}</string>
			<key>spriteSourceSize</key>
			<string>{11,20}</string>
			<key>textureRect</key>
			<string>{{112,0},{11,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{13,8}</string>
			<key>textureRect</key>
			<string>{{124,0},{8,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_50_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{133,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.125,0.0}</string>
			<key>spriteSize</key>
			<string>{15,10}</string>
			<key>spriteSourceSize</key>
			<string>{15,10}</string>
			<key>textureRect</key>
			<string>{{135,0},{10,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_50.png</string>
		<key>size</key>
		<string>{146,28}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_50.png</string>
	</dict>
</dict>
</plist>
