<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_32_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,27}</string>
			<key>spriteSize</key>
			<string>{138,116}</string>
			<key>spriteSourceSize</key>
			<string>{138,116}</string>
			<key>textureRect</key>
			<string>{{0,0},{116,138}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_32_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,20}</string>
			<key>spriteSize</key>
			<string>{131,130}</string>
			<key>spriteSourceSize</key>
			<string>{131,130}</string>
			<key>textureRect</key>
			<string>{{117,0},{130,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_32_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,20}</string>
			<key>spriteSize</key>
			<string>{142,142}</string>
			<key>spriteSourceSize</key>
			<string>{142,142}</string>
			<key>textureRect</key>
			<string>{{248,0},{142,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,20}</string>
			<key>spriteSize</key>
			<string>{150,150}</string>
			<key>spriteSourceSize</key>
			<string>{150,150}</string>
			<key>textureRect</key>
			<string>{{391,0},{150,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{49,75}</string>
			<key>spriteSourceSize</key>
			<string>{49,75}</string>
			<key>textureRect</key>
			<string>{{542,0},{49,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,2.5}</string>
			<key>spriteSize</key>
			<string>{35,52}</string>
			<key>spriteSourceSize</key>
			<string>{35,52}</string>
			<key>textureRect</key>
			<string>{{592,0},{35,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,83}</string>
			<key>spriteSourceSize</key>
			<string>{57,83}</string>
			<key>textureRect</key>
			<string>{{628,0},{57,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-1}</string>
			<key>spriteSize</key>
			<string>{40,91}</string>
			<key>spriteSourceSize</key>
			<string>{40,91}</string>
			<key>textureRect</key>
			<string>{{686,0},{40,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,2}</string>
			<key>spriteSize</key>
			<string>{30,69}</string>
			<key>spriteSourceSize</key>
			<string>{30,69}</string>
			<key>textureRect</key>
			<string>{{727,0},{30,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-1}</string>
			<key>spriteSize</key>
			<string>{48,99}</string>
			<key>spriteSourceSize</key>
			<string>{48,99}</string>
			<key>textureRect</key>
			<string>{{758,0},{48,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{4,4}</string>
			<key>spriteSourceSize</key>
			<string>{4,4}</string>
			<key>textureRect</key>
			<string>{{807,0},{4,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{4,4}</string>
			<key>spriteSourceSize</key>
			<string>{4,4}</string>
			<key>textureRect</key>
			<string>{{812,0},{4,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_32_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{12,12}</string>
			<key>spriteSourceSize</key>
			<string>{12,12}</string>
			<key>textureRect</key>
			<string>{{817,0},{12,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_32-uhd.png</string>
		<key>size</key>
		<string>{830,150}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_32-uhd.png</string>
	</dict>
</dict>
</plist>
