<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_37_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7.5,8}</string>
			<key>spriteSize</key>
			<string>{157,108}</string>
			<key>spriteSourceSize</key>
			<string>{157,108}</string>
			<key>textureRect</key>
			<string>{{0,0},{157,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,7}</string>
			<key>spriteSize</key>
			<string>{154,102}</string>
			<key>spriteSourceSize</key>
			<string>{154,102}</string>
			<key>textureRect</key>
			<string>{{158,0},{154,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,7.5}</string>
			<key>spriteSize</key>
			<string>{156,107}</string>
			<key>spriteSourceSize</key>
			<string>{156,107}</string>
			<key>textureRect</key>
			<string>{{313,0},{156,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7.5,8}</string>
			<key>spriteSize</key>
			<string>{165,116}</string>
			<key>spriteSourceSize</key>
			<string>{165,116}</string>
			<key>textureRect</key>
			<string>{{470,0},{165,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,0}</string>
			<key>spriteSize</key>
			<string>{45,62}</string>
			<key>spriteSourceSize</key>
			<string>{45,62}</string>
			<key>textureRect</key>
			<string>{{636,0},{45,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,-1.5}</string>
			<key>spriteSize</key>
			<string>{12,19}</string>
			<key>spriteSourceSize</key>
			<string>{12,19}</string>
			<key>textureRect</key>
			<string>{{682,0},{12,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,0}</string>
			<key>spriteSize</key>
			<string>{53,70}</string>
			<key>spriteSourceSize</key>
			<string>{53,70}</string>
			<key>textureRect</key>
			<string>{{695,0},{53,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{36,72}</string>
			<key>spriteSourceSize</key>
			<string>{36,72}</string>
			<key>textureRect</key>
			<string>{{749,0},{36,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,2}</string>
			<key>spriteSize</key>
			<string>{30,64}</string>
			<key>spriteSourceSize</key>
			<string>{30,64}</string>
			<key>textureRect</key>
			<string>{{786,0},{30,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{44,80}</string>
			<key>spriteSourceSize</key>
			<string>{44,80}</string>
			<key>textureRect</key>
			<string>{{817,0},{44,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{55,34}</string>
			<key>spriteSourceSize</key>
			<string>{55,34}</string>
			<key>textureRect</key>
			<string>{{862,0},{34,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_37_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{4,4}</string>
			<key>spriteSourceSize</key>
			<string>{4,4}</string>
			<key>textureRect</key>
			<string>{{897,0},{4,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_37_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{63,42}</string>
			<key>spriteSourceSize</key>
			<string>{63,42}</string>
			<key>textureRect</key>
			<string>{{902,0},{42,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_37-uhd.png</string>
		<key>size</key>
		<string>{945,116}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_37-uhd.png</string>
	</dict>
</dict>
</plist>
