<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_18_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.75,0.5}</string>
			<key>spriteSize</key>
			<string>{60,30}</string>
			<key>spriteSourceSize</key>
			<string>{60,30}</string>
			<key>textureRect</key>
			<string>{{0,0},{60,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_18_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,9.5}</string>
			<key>spriteSize</key>
			<string>{68,66}</string>
			<key>spriteSourceSize</key>
			<string>{68,66}</string>
			<key>textureRect</key>
			<string>{{61,0},{68,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_18_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,9.5}</string>
			<key>spriteSize</key>
			<string>{77,78}</string>
			<key>spriteSourceSize</key>
			<string>{77,78}</string>
			<key>textureRect</key>
			<string>{{130,0},{78,77}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_18_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,9.5}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{209,0},{82,81}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_18_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{22,32}</string>
			<key>spriteSourceSize</key>
			<string>{22,32}</string>
			<key>textureRect</key>
			<string>{{292,0},{22,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_18_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.5}</string>
			<key>spriteSize</key>
			<string>{18,28}</string>
			<key>spriteSourceSize</key>
			<string>{18,28}</string>
			<key>textureRect</key>
			<string>{{315,0},{18,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_18_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{26,36}</string>
			<key>spriteSourceSize</key>
			<string>{26,36}</string>
			<key>textureRect</key>
			<string>{{334,0},{26,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_18_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.75,-0.75}</string>
			<key>spriteSize</key>
			<string>{19,41}</string>
			<key>spriteSourceSize</key>
			<string>{19,41}</string>
			<key>textureRect</key>
			<string>{{361,0},{19,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_18_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.75,0.25}</string>
			<key>spriteSize</key>
			<string>{16,35}</string>
			<key>spriteSourceSize</key>
			<string>{16,35}</string>
			<key>textureRect</key>
			<string>{{381,0},{16,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_18_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.75,-0.75}</string>
			<key>spriteSize</key>
			<string>{23,45}</string>
			<key>spriteSourceSize</key>
			<string>{23,45}</string>
			<key>textureRect</key>
			<string>{{398,0},{23,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_18_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{422,0},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_18_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{425,0},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_18_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{6,6}</string>
			<key>spriteSourceSize</key>
			<string>{6,6}</string>
			<key>textureRect</key>
			<string>{{428,0},{6,6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_18-hd.png</string>
		<key>size</key>
		<string>{435,81}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_18-hd.png</string>
	</dict>
</dict>
</plist>
