<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_52_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,3}</string>
			<key>spriteSize</key>
			<string>{117,88}</string>
			<key>spriteSourceSize</key>
			<string>{117,88}</string>
			<key>textureRect</key>
			<string>{{0,0},{88,117}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_52_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,8.5}</string>
			<key>spriteSize</key>
			<string>{101,61}</string>
			<key>spriteSourceSize</key>
			<string>{101,61}</string>
			<key>textureRect</key>
			<string>{{89,0},{61,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_52_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,11}</string>
			<key>spriteSize</key>
			<string>{96,50}</string>
			<key>spriteSourceSize</key>
			<string>{96,50}</string>
			<key>textureRect</key>
			<string>{{151,0},{50,96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_52_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,3}</string>
			<key>spriteSize</key>
			<string>{125,96}</string>
			<key>spriteSourceSize</key>
			<string>{125,96}</string>
			<key>textureRect</key>
			<string>{{202,0},{96,125}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_52_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,63}</string>
			<key>spriteSourceSize</key>
			<string>{44,63}</string>
			<key>textureRect</key>
			<string>{{299,0},{44,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_52_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-10.5}</string>
			<key>spriteSize</key>
			<string>{27,36}</string>
			<key>spriteSourceSize</key>
			<string>{27,36}</string>
			<key>textureRect</key>
			<string>{{344,0},{27,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_52_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,71}</string>
			<key>spriteSourceSize</key>
			<string>{52,71}</string>
			<key>textureRect</key>
			<string>{{372,0},{52,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_52_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{45,73}</string>
			<key>spriteSourceSize</key>
			<string>{45,73}</string>
			<key>textureRect</key>
			<string>{{425,0},{45,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_52_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-13}</string>
			<key>spriteSize</key>
			<string>{23,39}</string>
			<key>spriteSourceSize</key>
			<string>{23,39}</string>
			<key>textureRect</key>
			<string>{{471,0},{23,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_52_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,81}</string>
			<key>spriteSourceSize</key>
			<string>{53,81}</string>
			<key>textureRect</key>
			<string>{{495,0},{53,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_52_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{549,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_52_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{49,29}</string>
			<key>spriteSourceSize</key>
			<string>{49,29}</string>
			<key>textureRect</key>
			<string>{{584,0},{29,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_52_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{614,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_52-uhd.png</string>
		<key>size</key>
		<string>{657,125}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_52-uhd.png</string>
	</dict>
</dict>
</plist>
