<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_01_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{59,39}</string>
			<key>spriteSourceSize</key>
			<string>{59,39}</string>
			<key>textureRect</key>
			<string>{{0,0},{59,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_01_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12.75,3.5}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{60,0},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_01_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13.0,3.5}</string>
			<key>spriteSize</key>
			<string>{16,17}</string>
			<key>spriteSourceSize</key>
			<string>{16,17}</string>
			<key>textureRect</key>
			<string>{{79,0},{16,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_01_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{63,43}</string>
			<key>spriteSourceSize</key>
			<string>{63,43}</string>
			<key>textureRect</key>
			<string>{{96,0},{63,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_01_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{22,31}</string>
			<key>spriteSourceSize</key>
			<string>{22,31}</string>
			<key>textureRect</key>
			<string>{{160,0},{22,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_01_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{183,0},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_01_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{26,35}</string>
			<key>spriteSourceSize</key>
			<string>{26,35}</string>
			<key>textureRect</key>
			<string>{{186,0},{26,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_01_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.25}</string>
			<key>spriteSize</key>
			<string>{19,36}</string>
			<key>spriteSourceSize</key>
			<string>{19,36}</string>
			<key>textureRect</key>
			<string>{{213,0},{19,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_01_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{233,0},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_01_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.25}</string>
			<key>spriteSize</key>
			<string>{23,40}</string>
			<key>spriteSourceSize</key>
			<string>{23,40}</string>
			<key>textureRect</key>
			<string>{{236,0},{23,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_01_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{260,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_01_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{278,0},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_01_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{281,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_01-hd.png</string>
		<key>size</key>
		<string>{303,43}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_01-hd.png</string>
	</dict>
</dict>
</plist>
