<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_25_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,3.5}</string>
			<key>spriteSize</key>
			<string>{115,89}</string>
			<key>spriteSourceSize</key>
			<string>{115,89}</string>
			<key>textureRect</key>
			<string>{{0,0},{89,115}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_25_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,3.5}</string>
			<key>spriteSize</key>
			<string>{115,89}</string>
			<key>spriteSourceSize</key>
			<string>{115,89}</string>
			<key>textureRect</key>
			<string>{{90,0},{89,115}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_25_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,5}</string>
			<key>spriteSize</key>
			<string>{127,100}</string>
			<key>spriteSourceSize</key>
			<string>{127,100}</string>
			<key>textureRect</key>
			<string>{{180,0},{127,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_25_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,5}</string>
			<key>spriteSize</key>
			<string>{135,108}</string>
			<key>spriteSourceSize</key>
			<string>{135,108}</string>
			<key>textureRect</key>
			<string>{{308,0},{135,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_25_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-0.5}</string>
			<key>spriteSize</key>
			<string>{42,65}</string>
			<key>spriteSourceSize</key>
			<string>{42,65}</string>
			<key>textureRect</key>
			<string>{{444,0},{42,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_25_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,1.5}</string>
			<key>spriteSize</key>
			<string>{36,55}</string>
			<key>spriteSourceSize</key>
			<string>{36,55}</string>
			<key>textureRect</key>
			<string>{{487,0},{36,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_25_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-0.5}</string>
			<key>spriteSize</key>
			<string>{50,73}</string>
			<key>spriteSourceSize</key>
			<string>{50,73}</string>
			<key>textureRect</key>
			<string>{{524,0},{50,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_25_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-1}</string>
			<key>spriteSize</key>
			<string>{45,74}</string>
			<key>spriteSourceSize</key>
			<string>{45,74}</string>
			<key>textureRect</key>
			<string>{{575,0},{45,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_25_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,2}</string>
			<key>spriteSize</key>
			<string>{37,62}</string>
			<key>spriteSourceSize</key>
			<string>{37,62}</string>
			<key>textureRect</key>
			<string>{{621,0},{37,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_25_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-1}</string>
			<key>spriteSize</key>
			<string>{53,82}</string>
			<key>spriteSourceSize</key>
			<string>{53,82}</string>
			<key>textureRect</key>
			<string>{{659,0},{53,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_25_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{713,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_25_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{49,29}</string>
			<key>spriteSourceSize</key>
			<string>{49,29}</string>
			<key>textureRect</key>
			<string>{{748,0},{29,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_25_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{778,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_25-uhd.png</string>
		<key>size</key>
		<string>{821,115}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_25-uhd.png</string>
	</dict>
</dict>
</plist>
