<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_62_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,2.0}</string>
			<key>spriteSize</key>
			<string>{30,25}</string>
			<key>spriteSourceSize</key>
			<string>{30,25}</string>
			<key>textureRect</key>
			<string>{{0,0},{30,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.375,2.0}</string>
			<key>spriteSize</key>
			<string>{22,24}</string>
			<key>spriteSourceSize</key>
			<string>{22,24}</string>
			<key>textureRect</key>
			<string>{{31,0},{22,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,0.75}</string>
			<key>spriteSize</key>
			<string>{28,21}</string>
			<key>spriteSourceSize</key>
			<string>{28,21}</string>
			<key>textureRect</key>
			<string>{{54,0},{28,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,2.0}</string>
			<key>spriteSize</key>
			<string>{32,27}</string>
			<key>spriteSourceSize</key>
			<string>{32,27}</string>
			<key>textureRect</key>
			<string>{{83,0},{32,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{12,16}</string>
			<key>spriteSourceSize</key>
			<string>{12,16}</string>
			<key>textureRect</key>
			<string>{{116,0},{12,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-3.625}</string>
			<key>spriteSize</key>
			<string>{6,7}</string>
			<key>spriteSourceSize</key>
			<string>{6,7}</string>
			<key>textureRect</key>
			<string>{{129,0},{6,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{14,18}</string>
			<key>spriteSourceSize</key>
			<string>{14,18}</string>
			<key>textureRect</key>
			<string>{{136,0},{14,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{11,18}</string>
			<key>spriteSourceSize</key>
			<string>{11,18}</string>
			<key>textureRect</key>
			<string>{{151,0},{11,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.125,-3.25}</string>
			<key>spriteSize</key>
			<string>{5,9}</string>
			<key>spriteSourceSize</key>
			<string>{5,9}</string>
			<key>textureRect</key>
			<string>{{163,0},{5,9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{13,20}</string>
			<key>spriteSourceSize</key>
			<string>{13,20}</string>
			<key>textureRect</key>
			<string>{{169,0},{13,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_62_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,8}</string>
			<key>spriteSourceSize</key>
			<string>{13,8}</string>
			<key>textureRect</key>
			<string>{{183,0},{8,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_62_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,-0.125}</string>
			<key>spriteSize</key>
			<string>{12,7}</string>
			<key>spriteSourceSize</key>
			<string>{12,7}</string>
			<key>textureRect</key>
			<string>{{192,0},{7,12}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_62_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{15,10}</string>
			<key>spriteSourceSize</key>
			<string>{15,10}</string>
			<key>textureRect</key>
			<string>{{200,0},{10,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_62.png</string>
		<key>size</key>
		<string>{211,27}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_62.png</string>
	</dict>
</dict>
</plist>
