<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_02_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{59,39}</string>
			<key>spriteSourceSize</key>
			<string>{59,39}</string>
			<key>textureRect</key>
			<string>{{0,0},{59,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_02_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{60,0},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_02_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{63,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_02_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{63,43}</string>
			<key>spriteSourceSize</key>
			<string>{63,43}</string>
			<key>textureRect</key>
			<string>{{65,0},{63,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_02_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{22,31}</string>
			<key>spriteSourceSize</key>
			<string>{22,31}</string>
			<key>textureRect</key>
			<string>{{129,0},{22,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_02_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{152,0},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_02_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{26,35}</string>
			<key>spriteSourceSize</key>
			<string>{26,35}</string>
			<key>textureRect</key>
			<string>{{155,0},{26,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_02_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.25}</string>
			<key>spriteSize</key>
			<string>{19,36}</string>
			<key>spriteSourceSize</key>
			<string>{19,36}</string>
			<key>textureRect</key>
			<string>{{182,0},{19,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_02_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{202,0},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_02_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.25}</string>
			<key>spriteSize</key>
			<string>{23,40}</string>
			<key>spriteSourceSize</key>
			<string>{23,40}</string>
			<key>textureRect</key>
			<string>{{205,0},{23,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_02_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,17}</string>
			<key>textureRect</key>
			<string>{{229,0},{17,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_02_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{247,0},{2,2}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_02_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{31,21}</string>
			<key>spriteSourceSize</key>
			<string>{31,21}</string>
			<key>textureRect</key>
			<string>{{250,0},{21,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_02-hd.png</string>
		<key>size</key>
		<string>{272,43}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_02-hd.png</string>
	</dict>
</dict>
</plist>
