<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_56_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,1.25}</string>
			<key>spriteSize</key>
			<string>{33,24}</string>
			<key>spriteSourceSize</key>
			<string>{33,24}</string>
			<key>textureRect</key>
			<string>{{0,0},{33,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_56_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8.125,1.375}</string>
			<key>spriteSize</key>
			<string>{11,4}</string>
			<key>spriteSourceSize</key>
			<string>{11,4}</string>
			<key>textureRect</key>
			<string>{{34,0},{4,11}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_56_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,3.625}</string>
			<key>spriteSize</key>
			<string>{22,15}</string>
			<key>spriteSourceSize</key>
			<string>{22,15}</string>
			<key>textureRect</key>
			<string>{{39,0},{15,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_56_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,1.25}</string>
			<key>spriteSize</key>
			<string>{35,26}</string>
			<key>spriteSourceSize</key>
			<string>{35,26}</string>
			<key>textureRect</key>
			<string>{{55,0},{35,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_56_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{11,15}</string>
			<key>spriteSourceSize</key>
			<string>{11,15}</string>
			<key>textureRect</key>
			<string>{{91,0},{11,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_56_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.875,-2.875}</string>
			<key>spriteSize</key>
			<string>{6,8}</string>
			<key>spriteSourceSize</key>
			<string>{6,8}</string>
			<key>textureRect</key>
			<string>{{103,0},{6,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_56_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{13,17}</string>
			<key>spriteSourceSize</key>
			<string>{13,17}</string>
			<key>textureRect</key>
			<string>{{110,0},{13,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_56_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.75,-0.25}</string>
			<key>spriteSize</key>
			<string>{11,16}</string>
			<key>spriteSourceSize</key>
			<string>{11,16}</string>
			<key>textureRect</key>
			<string>{{124,0},{11,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_56_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.875,-2.875}</string>
			<key>spriteSize</key>
			<string>{5,9}</string>
			<key>spriteSourceSize</key>
			<string>{5,9}</string>
			<key>textureRect</key>
			<string>{{136,0},{5,9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_56_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.75,-0.25}</string>
			<key>spriteSize</key>
			<string>{13,18}</string>
			<key>spriteSourceSize</key>
			<string>{13,18}</string>
			<key>textureRect</key>
			<string>{{142,0},{13,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_56_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{156,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_56_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{158,0},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_56_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{3,3}</string>
			<key>textureRect</key>
			<string>{{160,0},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_56.png</string>
		<key>size</key>
		<string>{164,26}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_56.png</string>
	</dict>
</dict>
</plist>
