<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_54_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{119,98}</string>
			<key>spriteSourceSize</key>
			<string>{119,98}</string>
			<key>textureRect</key>
			<string>{{0,0},{119,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{33,3.5}</string>
			<key>spriteSize</key>
			<string>{21,21}</string>
			<key>spriteSourceSize</key>
			<string>{21,21}</string>
			<key>textureRect</key>
			<string>{{120,0},{21,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9.5,0}</string>
			<key>spriteSize</key>
			<string>{102,90}</string>
			<key>spriteSourceSize</key>
			<string>{102,90}</string>
			<key>textureRect</key>
			<string>{{142,0},{102,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{127,106}</string>
			<key>spriteSourceSize</key>
			<string>{127,106}</string>
			<key>textureRect</key>
			<string>{{245,0},{127,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,62}</string>
			<key>spriteSourceSize</key>
			<string>{38,62}</string>
			<key>textureRect</key>
			<string>{{373,0},{38,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,4.5}</string>
			<key>spriteSize</key>
			<string>{16,23}</string>
			<key>spriteSourceSize</key>
			<string>{16,23}</string>
			<key>textureRect</key>
			<string>{{412,0},{16,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,70}</string>
			<key>spriteSourceSize</key>
			<string>{46,70}</string>
			<key>textureRect</key>
			<string>{{429,0},{46,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,68}</string>
			<key>spriteSourceSize</key>
			<string>{35,68}</string>
			<key>textureRect</key>
			<string>{{476,0},{35,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,3}</string>
			<key>spriteSize</key>
			<string>{13,26}</string>
			<key>spriteSourceSize</key>
			<string>{13,26}</string>
			<key>textureRect</key>
			<string>{{512,0},{13,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,76}</string>
			<key>spriteSourceSize</key>
			<string>{43,76}</string>
			<key>textureRect</key>
			<string>{{526,0},{43,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_54_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{570,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{49,29}</string>
			<key>spriteSourceSize</key>
			<string>{49,29}</string>
			<key>textureRect</key>
			<string>{{605,0},{29,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spider_54_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{635,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_54-uhd.png</string>
		<key>size</key>
		<string>{678,106}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_54-uhd.png</string>
	</dict>
</dict>
</plist>
