<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_25_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{84,2},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_25_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{70,71}</string>
                <key>spriteSourceSize</key>
                <string>{74,75}</string>
                <key>textureRect</key>
                <string>{{161,2},{70,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_25_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,8}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{161,75},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_25_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{2,2},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_25-hd.png</string>
            <key>size</key>
            <string>{233,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b938e54284ff6704c0d6d56300b1129:fa7f916eba473878b033874dddb11730:d1620a9870dc5339a157696c8f53b0c8$</string>
            <key>textureFileName</key>
            <string>icons/swing_25-hd.png</string>
        </dict>
    </dict>
</plist>
