<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_36_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{145,124}</string>
				<key>spriteSourceSize</key>
				<string>{145,124}</string>
				<key>textureRect</key>
				<string>{{0,133},{145,124}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_36_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-1}</string>
				<key>spriteSize</key>
				<string>{133,110}</string>
				<key>spriteSourceSize</key>
				<string>{133,110}</string>
				<key>textureRect</key>
				<string>{{154,0},{133,110}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_36_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9,-2}</string>
				<key>spriteSize</key>
				<string>{46,43}</string>
				<key>spriteSourceSize</key>
				<string>{46,43}</string>
				<key>textureRect</key>
				<string>{{146,134},{46,43}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_36_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{153,132}</string>
				<key>spriteSourceSize</key>
				<string>{153,132}</string>
				<key>textureRect</key>
				<string>{{0,0},{153,132}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA4444</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_36-uhd.png</string>
			<key>size</key>
			<string>{264,257}</string>
			<key>textureFileName</key>
			<string>icons/swing_36-uhd.png</string>
		</dict>
	</dict>
</plist>