<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_08_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,2}</string>
				<key>spriteSize</key>
				<string>{147,124}</string>
				<key>spriteSourceSize</key>
				<string>{157,134}</string>
				<key>textureRect</key>
				<string>{{0,135},{147,124}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_08_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-1}</string>
				<key>spriteSize</key>
				<string>{127,110}</string>
				<key>spriteSourceSize</key>
				<string>{157,134}</string>
				<key>textureRect</key>
				<string>{{158,0},{127,110}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_08_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{22.5,12.5}</string>
				<key>spriteSize</key>
				<string>{94,93}</string>
				<key>spriteSourceSize</key>
				<string>{157,134}</string>
				<key>textureRect</key>
				<string>{{158,128},{94,93}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_08_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,2}</string>
				<key>spriteSize</key>
				<string>{157,134}</string>
				<key>spriteSourceSize</key>
				<string>{157,134}</string>
				<key>textureRect</key>
				<string>{{0,0},{157,134}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_08-uhd.png</string>
			<key>size</key>
			<string>{268,259}</string>
			<key>textureFileName</key>
			<string>icons/swing_08-uhd.png</string>
		</dict>
	</dict>
</plist>