<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_32_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{0,0}</string>
                <key>spriteSourceSize</key>
                <string>{0,0}</string>
                <key>textureRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_32_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{0,0}</string>
                <key>spriteSourceSize</key>
                <string>{0,0}</string>
                <key>textureRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_32_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_32_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{0,0}</string>
                <key>spriteSourceSize</key>
                <string>{0,0}</string>
                <key>textureRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_32-uhd.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd958ad0a86da37b47393f712cb755e5:dcf33f400a36e60a8ba77db9bcca14bd:14891d5e14be3b1fa42e1f97052f9d5c$</string>
            <key>textureFileName</key>
            <string>icons/swing_32-uhd.png</string>
        </dict>
    </dict>
</plist>
