<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_10_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{134,127}</string>
				<key>spriteSourceSize</key>
				<string>{142,135}</string>
				<key>textureRect</key>
				<string>{{0,136},{134,127}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_10_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,0}</string>
				<key>spriteSize</key>
				<string>{120,113}</string>
				<key>spriteSourceSize</key>
				<string>{142,135}</string>
				<key>textureRect</key>
				<string>{{143,0},{120,113}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_10_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{14.5,-7}</string>
				<key>spriteSize</key>
				<string>{65,45}</string>
				<key>spriteSourceSize</key>
				<string>{142,135}</string>
				<key>textureRect</key>
				<string>{{143,121},{65,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_10_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{142,135}</string>
				<key>spriteSourceSize</key>
				<string>{142,135}</string>
				<key>textureRect</key>
				<string>{{0,0},{142,135}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_10-uhd.png</string>
			<key>size</key>
			<string>{256,263}</string>
			<key>textureFileName</key>
			<string>icons/swing_10-uhd.png</string>
		</dict>
	</dict>
</plist>