<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_15_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{69,66}</string>
                <key>spriteSourceSize</key>
                <string>{73,66}</string>
                <key>textureRect</key>
                <string>{{78,2},{69,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swing_15_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-8}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{51,61}</string>
                <key>textureRect</key>
                <string>{{146,2},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_15_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{27,12}</string>
                <key>spriteSourceSize</key>
                <string>{47,16}</string>
                <key>textureRect</key>
                <string>{{146,49},{27,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_15_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{74,71}</string>
                <key>spriteSourceSize</key>
                <string>{78,71}</string>
                <key>textureRect</key>
                <string>{{2,2},{74,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_15-hd.png</string>
            <key>size</key>
            <string>{179,75}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b938e54284ff6704c0d6d56300b1129:fa7f916eba473878b033874dddb11730:d1620a9870dc5339a157696c8f53b0c8$</string>
            <key>textureFileName</key>
            <string>icons/swing_15-hd.png</string>
        </dict>
    </dict>
</plist>
