<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_25_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-5}</string>
				<key>spriteSize</key>
				<string>{147,147}</string>
				<key>spriteSourceSize</key>
				<string>{147,147}</string>
				<key>textureRect</key>
				<string>{{159,0},{147,147}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_25_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-5}</string>
				<key>spriteSize</key>
				<string>{137,139}</string>
				<key>spriteSourceSize</key>
				<string>{137,139}</string>
				<key>textureRect</key>
				<string>{{0,159},{137,139}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_25_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{18,17}</string>
				<key>spriteSize</key>
				<string>{19,19}</string>
				<key>spriteSourceSize</key>
				<string>{19,19}</string>
				<key>textureRect</key>
				<string>{{140,159},{19,19}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_25_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-5}</string>
				<key>spriteSize</key>
				<string>{158,158}</string>
				<key>spriteSourceSize</key>
				<string>{158,158}</string>
				<key>textureRect</key>
				<string>{{0,0},{158,158}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_25-uhd.png</string>
			<key>size</key>
			<string>{306,296}</string>
			<key>textureFileName</key>
			<string>icons/swing_25-uhd.png</string>
		</dict>
	</dict>
</plist>