<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_12_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-9,5}</string>
				<key>spriteSize</key>
				<string>{138,133}</string>
				<key>spriteSourceSize</key>
				<string>{138,133}</string>
				<key>textureRect</key>
				<string>{{0,144},{138,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_12_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-9,5}</string>
				<key>spriteSize</key>
				<string>{130,125}</string>
				<key>spriteSourceSize</key>
				<string>{130,125}</string>
				<key>textureRect</key>
				<string>{{149,0},{130,125}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_12_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,16}</string>
				<key>spriteSize</key>
				<string>{115,81}</string>
				<key>spriteSourceSize</key>
				<string>{115,81}</string>
				<key>textureRect</key>
				<string>{{149,131},{115,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_12_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-9,5}</string>
				<key>spriteSize</key>
				<string>{148,143}</string>
				<key>spriteSourceSize</key>
				<string>{148,143}</string>
				<key>textureRect</key>
				<string>{{0,0},{148,143}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA4444</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_12-uhd.png</string>
			<key>size</key>
			<string>{274,277}</string>
			<key>textureFileName</key>
			<string>icons/swing_12-uhd.png</string>
		</dict>
	</dict>
</plist>