<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_27_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,3}</string>
				<key>spriteSize</key>
				<string>{149,140}</string>
				<key>spriteSourceSize</key>
				<string>{159,150}</string>
				<key>textureRect</key>
				<string>{{0,151},{149,140}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_27_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0.5}</string>
				<key>spriteSize</key>
				<string>{141,115}</string>
				<key>spriteSourceSize</key>
				<string>{159,150}</string>
				<key>textureRect</key>
				<string>{{160,0},{141,115}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_27_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,15.5}</string>
				<key>spriteSize</key>
				<string>{124,79}</string>
				<key>spriteSourceSize</key>
				<string>{159,150}</string>
				<key>textureRect</key>
				<string>{{150,151},{124,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_27_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,3}</string>
				<key>spriteSize</key>
				<string>{159,150}</string>
				<key>spriteSourceSize</key>
				<string>{159,150}</string>
				<key>textureRect</key>
				<string>{{0,0},{159,150}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_27-uhd.png</string>
			<key>size</key>
			<string>{275,291}</string>
			<key>textureFileName</key>
			<string>icons/swing_27-uhd.png</string>
		</dict>
	</dict>
</plist>