<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_34_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{145,122}</string>
				<key>spriteSourceSize</key>
				<string>{145,122}</string>
				<key>textureRect</key>
				<string>{{0,134},{145,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_34_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-8,-1}</string>
				<key>spriteSize</key>
				<string>{123,107}</string>
				<key>spriteSourceSize</key>
				<string>{123,107}</string>
				<key>textureRect</key>
				<string>{{157,0},{123,107}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_34_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{24,11}</string>
				<key>spriteSize</key>
				<string>{17,16}</string>
				<key>spriteSourceSize</key>
				<string>{17,16}</string>
				<key>textureRect</key>
				<string>{{157,124},{17,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_34_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{156,133}</string>
				<key>spriteSourceSize</key>
				<string>{156,133}</string>
				<key>textureRect</key>
				<string>{{0,0},{156,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_34-uhd.png</string>
			<key>size</key>
			<string>{264,256}</string>
			<key>textureFileName</key>
			<string>icons/swing_34-uhd.png</string>
		</dict>
	</dict>
</plist>