<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_19_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{134,120}</string>
				<key>spriteSourceSize</key>
				<string>{134,120}</string>
				<key>textureRect</key>
				<string>{{0,129},{134,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_19_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{125,114}</string>
				<key>spriteSourceSize</key>
				<string>{125,114}</string>
				<key>textureRect</key>
				<string>{{143,0},{125,114}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_19_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,13}</string>
				<key>spriteSize</key>
				<string>{124,81}</string>
				<key>spriteSourceSize</key>
				<string>{124,81}</string>
				<key>textureRect</key>
				<string>{{0,250},{124,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_19_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{142,128}</string>
				<key>spriteSourceSize</key>
				<string>{142,128}</string>
				<key>textureRect</key>
				<string>{{0,0},{142,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA4444</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_19-uhd.png</string>
			<key>size</key>
			<string>{257,331}</string>
			<key>textureFileName</key>
			<string>icons/swing_19-uhd.png</string>
		</dict>
	</dict>
</plist>