<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_26_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,1}</string>
				<key>spriteSize</key>
				<string>{158,142}</string>
				<key>spriteSourceSize</key>
				<string>{158,142}</string>
				<key>textureRect</key>
				<string>{{0,153},{158,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_26_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5.5,1.5}</string>
				<key>spriteSize</key>
				<string>{25,133}</string>
				<key>spriteSourceSize</key>
				<string>{158,142}</string>
				<key>textureRect</key>
				<string>{{169,0},{25,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_26_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-33.5,26}</string>
				<key>spriteSize</key>
				<string>{95,74}</string>
				<key>spriteSourceSize</key>
				<string>{158,142}</string>
				<key>textureRect</key>
				<string>{{195,0},{95,74}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_26_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-7,1}</string>
				<key>spriteSize</key>
				<string>{168,152}</string>
				<key>spriteSourceSize</key>
				<string>{168,152}</string>
				<key>textureRect</key>
				<string>{{0,0},{168,152}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_26-uhd.png</string>
			<key>size</key>
			<string>{269,295}</string>
			<key>textureFileName</key>
			<string>icons/swing_26-uhd.png</string>
		</dict>
	</dict>
</plist>