<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_40_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,0}</string>
				<key>spriteSize</key>
				<string>{135,120}</string>
				<key>spriteSourceSize</key>
				<string>{135,120}</string>
				<key>textureRect</key>
				<string>{{0,132},{135,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_40_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,0}</string>
				<key>spriteSize</key>
				<string>{111,102}</string>
				<key>spriteSourceSize</key>
				<string>{111,102}</string>
				<key>textureRect</key>
				<string>{{148,0},{111,102}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_40_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{14,0}</string>
				<key>spriteSize</key>
				<string>{8,8}</string>
				<key>spriteSourceSize</key>
				<string>{8,8}</string>
				<key>textureRect</key>
				<string>{{148,112},{8,8}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_40_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,0}</string>
				<key>spriteSize</key>
				<string>{147,131}</string>
				<key>spriteSourceSize</key>
				<string>{147,131}</string>
				<key>textureRect</key>
				<string>{{0,0},{147,131}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_40-uhd.png</string>
			<key>size</key>
			<string>{250,252}</string>
			<key>textureFileName</key>
			<string>icons/swing_40-uhd.png</string>
		</dict>
	</dict>
</plist>