<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>swing_07_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-9,5}</string>
				<key>spriteSize</key>
				<string>{151,131}</string>
				<key>spriteSourceSize</key>
				<string>{161,141}</string>
				<key>textureRect</key>
				<string>{{0,142},{151,131}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_07_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-15}</string>
				<key>spriteSize</key>
				<string>{127,67}</string>
				<key>spriteSourceSize</key>
				<string>{161,141}</string>
				<key>textureRect</key>
				<string>{{162,0},{127,67}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>swing_07_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,5}</string>
				<key>spriteSize</key>
				<string>{117,121}</string>
				<key>spriteSourceSize</key>
				<string>{161,141}</string>
				<key>textureRect</key>
				<string>{{230,0},{117,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>swing_07_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-9,5}</string>
				<key>spriteSize</key>
				<string>{161,141}</string>
				<key>spriteSourceSize</key>
				<string>{161,141}</string>
				<key>textureRect</key>
				<string>{{0,0},{161,141}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/swing_07-uhd.png</string>
			<key>size</key>
			<string>{347,273}</string>
			<key>textureFileName</key>
			<string>icons/swing_07-uhd.png</string>
		</dict>
	</dict>
</plist>