<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_28_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{68,48}</string>
                <key>spriteSourceSize</key>
                <string>{72,80}</string>
                <key>textureRect</key>
                <string>{{77,73},{68,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_28_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,85}</string>
                <key>textureRect</key>
                <string>{{77,2},{66,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_28_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{72,80}</string>
                <key>textureRect</key>
                <string>{{2,85},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_28_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{73,81}</string>
                <key>spriteSourceSize</key>
                <string>{77,89}</string>
                <key>textureRect</key>
                <string>{{2,2},{73,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_28-hd.png</string>
            <key>size</key>
            <string>{147,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b938e54284ff6704c0d6d56300b1129:fa7f916eba473878b033874dddb11730:d1620a9870dc5339a157696c8f53b0c8$</string>
            <key>textureFileName</key>
            <string>icons/swing_28-hd.png</string>
        </dict>
    </dict>
</plist>
