<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swing_18_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{69,61}</string>
                <key>spriteSourceSize</key>
                <string>{73,61}</string>
                <key>textureRect</key>
                <string>{{2,19},{69,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_18_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{42,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,21}</string>
                <key>textureRect</key>
                <string>{{23,2},{42,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_18_extra_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,13}</string>
                <key>spriteSize</key>
                <string>{19,9}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{2,2},{19,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swing_18_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{78,67}</string>
                <key>textureRect</key>
                <string>{{2,82},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/swing_18-hd.png</string>
            <key>size</key>
            <string>{78,151}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b938e54284ff6704c0d6d56300b1129:fa7f916eba473878b033874dddb11730:d1620a9870dc5339a157696c8f53b0c8$</string>
            <key>textureFileName</key>
            <string>icons/swing_18-hd.png</string>
        </dict>
    </dict>
</plist>
